<section data-ng-controller="FinancialAnalysisSetupController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Setup</li>
					<li>Portfolio evaluation</li>
					<li class="active">Financial analysis</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
	<div class="row">
		<div class="col-md-12">
			<tabset>
                <tab heading="Costs">
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">Cost groups</h6>
                                </div>
                                <div class="panel-body">
                                    <div class="row" data-ng-show="userHasAuthorization">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-sm" ng-click="createCostGroup()">
                                                New cost group
                                            </button>
                                            <div data-ng-show="error" class="text-danger">
                                                <strong data-ng-bind="error"></strong>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="alert alert-warning text-center" data-ng-show="costGroups.length === 0">
                                        There are no cost groups created yet
                                    </div>
                                    <div class="row" style="min-height: 320px; max-height: 320px; overflow-y: auto">
                                        <div class="col-md-12 form-group" data-ng-repeat="group in costGroups track by $index">
                                            <button class="btn btn-default btn-block" data-ng-click="selectCostGroup(group)"
                                                    data-ng-bind="group.name">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="alert alert-warning text-center" data-ng-hide="selectedCostGroup">
                                Please select a cost group to see the details
                            </div>
                            <div data-ng-show="selectedCostGroup">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <h5> &nbsp; Selected cost group:
                                                <button class="btn-link" data-ng-click="viewCostGroupDetails = !viewCostGroupDetails" style="overflow: hidden;">
                                                    <i data-ng-bind="selectedCostGroup.name"></i>
                                                </button>
                                            </h5>
                                            <div class="panel-body" data-ng-show="viewCostGroupDetails" data-ng-switch="switchCostGroupForm[selectedCostGroup._id]">
                                                <div ng-switch-default="view">
                                                    <form>
                                                        <fieldset>
                                                            <div class="row">
                                                                <div class="col-md-7 form-group">
                                                                    <label for="costGroupName" class="control-label">Group name</label>
                                                                    <input disabled id="costGroupName" type="text" class="form-control" data-ng-model="selectedCostGroup.name">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 form-group">
                                                                    <label for="costGroupDescription" class="control-label">Group description</label>
                                                                    <textarea disabled id="costGroupDescription" data-ng-model="selectedCostGroup.description" class="form-control" placeholder="No description yet"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row" data-ng-show="userHasAuthorization">
                                                                <div class="col-md-12">
                                                                    <div class="form-group pull-right">
                                                                        <button class="btn btn-sm btn-success" data-ng-click="selectCostGroupForm(selectedCostGroup, 'edit')">Edit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                                <div ng-switch-when="edit">
                                                    <form name="editCostGroupForm" novalidate>
                                                        <fieldset>
                                                            <div class="row">
                                                                <div class="col-md-7 form-group">
                                                                    <label for="costGroupNameEdit" class="control-label">Group name</label>
                                                                    <input id="costGroupNameEdit" name="costGroupNameEdit" type="text" class="form-control" data-ng-model="selectedCostGroup.name" required>
                                                                    <span data-ng-show="editCostGroupForm.costGroupNameEdit.$error.required">
                                                                        <em style="color: red">Name is required</em>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 form-group">
                                                                    <label for="costGroupDescriptionEdit" class="control-label">Group description</label>
                                                                    <textarea id="costGroupDescriptionEdit" data-ng-model="selectedCostGroup.description" class="form-control" placeholder="No description yet"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group pull-right">
                                                                        <button type="button" class="btn btn-sm btn-success" data-ng-click="updateCostGroup(selectedCostGroup)" data-ng-disabled="editCostGroupForm.$invalid">
                                                                            Save
                                                                        </button>
                                                                        <button type="button" class="btn btn-sm btn-danger" data-ng-click="removeCostGroup(selectedCostGroup)">
                                                                            Delete Category Group
                                                                        </button>
                                                                        <button type="button" class="btn btn-sm btn-info" data-ng-click="cancelEditCostGroup(selectedCostGroup)">
                                                                            Cancel
                                                                        </button>
                                                                        <div data-ng-show="error" class="text-danger">
                                                                            <strong data-ng-bind="error"></strong>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" data-ng-show="userHasAuthorization">
                                    <div class="col-md-3">
                                        <br>
                                        <button class="btn btn-primary btn-sm" ng-click="createCostType(selectedCostGroup)">
                                            New cost type
                                        </button>
                                        <div data-ng-show="error" class="text-danger">
                                            <strong data-ng-bind="error"></strong>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="list-group">
                                        <div class="col-md-12 list-group-item" data-ng-repeat="type in selectedCostGroup.costTypes track by $index">
                                            <div data-ng-switch="switchCostTypeForm[type._id]">
                                                <div data-ng-switch-default="view">
                                                    <form class="form">
                                                        <fieldset>
                                                            <div class="row">
                                                                <div class="col-md-4 form-group">
                                                                    <input disabled id="" type="text" class="form-control" data-ng-model="type.name">
                                                                </div>
                                                                <div class="col-md-6 form-group">
                                                                    <textarea disabled id="" data-ng-model="type.description" class="form-control" placeholder="Enter description"></textarea>
                                                                </div>
                                                                <div class="col-md-2" data-ng-show="userHasAuthorization">
                                                                    <div class="form-group pull-right">
                                                                        <button class="btn btn-success btn-sm" data-ng-click="selectCostType(type)">Edit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                                <div data-ng-switch-when="edit">
                                                    <form class="form" name="editCostTypeForm" novalidate>
                                                        <fieldset>
                                                            <div class="row">
                                                                <div class="col-md-4 form-group">
                                                                    <input id="" name="costTypeNameEdit" type="text" class="form-control" data-ng-model="type.name" required>
                                                                    <span data-ng-show="editCostTypeForm.costTypeNameEdit.$error.required">
                                                                        <em style="color: red">Name is required</em>
                                                                    </span>
                                                                </div>
                                                                <div class="col-md-6 form-group">
                                                                    <textarea id="" data-ng-model="type.description" class="form-control" placeholder="Enter description"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group pull-right">
                                                                        <button type="button" class="btn btn-sm btn-success" data-ng-click="updateCostType(type)" data-ng-disabled="editCostTypeForm.$invalid">
                                                                            Save
                                                                        </button>
                                                                        <button type="button" class="btn btn-sm btn-danger" data-ng-click="removeCostType(selectedCostGroup, type)">
                                                                            Delete cost type
                                                                        </button>
                                                                        <button type="button" class="btn btn-sm btn-info" data-ng-click="cancelEditCostType(type)">
                                                                            Cancel
                                                                        </button>
                                                                        <div data-ng-show="error" class="text-danger">
                                                                            <strong data-ng-bind="error"></strong>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-warning text-center" data-ng-hide="!group.costTypes.$resolved || group.costTypes.length">
                                    No cost types yet
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Benefits">
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">Benefit groups</h6>
                                </div>
                                <div class="panel-body">
                                    <div class="row" data-ng-show="userHasAuthorization">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-sm" ng-click="createBenefitGroup()">
                                                New benefit group
                                            </button>
                                            <div data-ng-show="error" class="text-danger">
                                                <strong data-ng-bind="error"></strong>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="alert alert-warning text-center" data-ng-show="benefitGroups.length === 0">
                                        There are no benefit groups created yet
                                    </div>
                                    <div class="row" style="min-height: 320px; max-height: 320px; overflow-y: auto">
                                        <div class="col-md-12 form-group" data-ng-repeat="group in benefitGroups track by $index">
                                            <button class="btn btn-default btn-block" data-ng-click="selectBenefitGroup(group)"
                                                    data-ng-bind="group.name">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="alert alert-warning text-center" data-ng-hide="selectedBenefitGroup">
                                Please select a benefit group to see the details
                            </div>
                            <div data-ng-show="selectedBenefitGroup">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <h5> &nbsp; Selected benefit group:
                                                <button class="btn-link" data-ng-click="viewBenefitGroupDetails = !viewBenefitGroupDetails" style="overflow: hidden;">
                                                    <i data-ng-bind="selectedBenefitGroup.name"></i>
                                                </button>
                                            </h5>
                                            <div class="panel-body" data-ng-show="viewBenefitGroupDetails" data-ng-switch="switchBenefitGroupForm[selectedBenefitGroup._id]">
                                                <div ng-switch-default="view">
                                                    <form>
                                                        <fieldset>
                                                            <div class="row">
                                                                <div class="col-md-7 form-group">
                                                                    <label for="benefitGroupName" class="control-label">Group name</label>
                                                                    <input disabled id="benefitGroupName" type="text" class="form-control" data-ng-model="selectedBenefitGroup.name">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 form-group">
                                                                    <label for="benefitGroupDescription" class="control-label">Group description</label>
                                                                    <textarea disabled id="benefitGroupDescription" data-ng-model="selectedBenefitGroup.description" class="form-control" placeholder="No description yet"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row" data-ng-show="userHasAuthorization">
                                                                <div class="col-md-12">
                                                                    <div class="form-group pull-right">
                                                                        <button class="btn btn-sm btn-success" data-ng-click="selectBenefitGroupForm(selectedBenefitGroup, 'edit')">Edit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                                <div ng-switch-when="edit">
                                                    <form name="editBenefitGroupForm" novalidate>
                                                        <fieldset>
                                                            <div class="row">
                                                                <div class="col-md-7 form-group">
                                                                    <label for="benefitGroupNameEdit" class="control-label">Group name</label>
                                                                    <input id="benefitGroupNameEdit" name="benefitGroupNameEdit" type="text" class="form-control" data-ng-model="selectedBenefitGroup.name" required>
                                                                    <span data-ng-show="editBenefitGroupForm.benefitGroupNameEdit.$error.required">
                                                                        <em style="color: red">Name is required</em>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 form-group">
                                                                    <label for="benefitGroupDescriptionEdit" class="control-label">Group description</label>
                                                                    <textarea id="benefitGroupDescriptionEdit" data-ng-model="selectedBenefitGroup.description" class="form-control" placeholder="No description yet"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group pull-right">
                                                                        <button type="button" class="btn btn-sm btn-success" data-ng-click="updateBenefitGroup(selectedBenefitGroup)" data-ng-disabled="editBenefitGroupForm.$invalid">
                                                                            Save
                                                                        </button>
                                                                        <button type="button" class="btn btn-sm btn-danger" data-ng-click="removeBenefitGroup(selectedBenefitGroup)">
                                                                            Delete Category Group
                                                                        </button>
                                                                        <button type="button" class="btn btn-sm btn-info" data-ng-click="cancelEditBenefitGroup(selectedBenefitGroup)">
                                                                            Cancel
                                                                        </button>
                                                                        <div data-ng-show="error" class="text-danger">
                                                                            <strong data-ng-bind="error"></strong>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" data-ng-show="userHasAuthorization">
                                    <div class="col-md-3">
                                        <br>
                                        <button class="btn btn-primary btn-sm" ng-click="createBenefitType(selectedBenefitGroup)">
                                            New benefit type
                                        </button>
                                        <div data-ng-show="error" class="text-danger">
                                            <strong data-ng-bind="error"></strong>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="list-group">
                                        <div class="col-md-12 list-group-item" data-ng-repeat="type in selectedBenefitGroup.benefitTypes track by $index">
                                            <div data-ng-switch="switchBenefitTypeForm[type._id]">
                                                <div data-ng-switch-default="view">
                                                    <form class="form">
                                                        <fieldset>
                                                            <div class="row">
                                                                <div class="col-md-4 form-group">
                                                                    <input disabled id="" type="text" class="form-control" data-ng-model="type.name">
                                                                </div>
                                                                <div class="col-md-6 form-group">
                                                                    <textarea disabled id="" data-ng-model="type.description" class="form-control" placeholder="Enter description"></textarea>
                                                                </div>
                                                                <div class="col-md-2" data-ng-show="userHasAuthorization">
                                                                    <div class="form-group pull-right">
                                                                        <button class="btn btn-success btn-sm" data-ng-click="selectBenefitType(type)">Edit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                                <div data-ng-switch-when="edit">
                                                    <form class="form" name="editBenefitTypeForm" novalidate>
                                                        <fieldset>
                                                            <div class="row">
                                                                <div class="col-md-4 form-group">
                                                                    <input id="" name="benefitTypeNameEdit" type="text" class="form-control" data-ng-model="type.name" required>
                                                                    <span data-ng-show="editBenefitTypeForm.benefitTypeNameEdit.$error.required">
                                                                        <em style="color: red">Name is required</em>
                                                                    </span>
                                                                </div>
                                                                <div class="col-md-6 form-group">
                                                                    <textarea id="" data-ng-model="type.description" class="form-control" placeholder="Enter description"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group pull-right">
                                                                        <button type="button" class="btn btn-sm btn-success" data-ng-click="updateBenefitType(type)" data-ng-disabled="editBenefitTypeForm.$invalid">
                                                                            Save
                                                                        </button>
                                                                        <button type="button" class="btn btn-sm btn-danger" data-ng-click="removeBenefitType(selectedBenefitGroup, type)">
                                                                            Delete benefit type
                                                                        </button>
                                                                        <button type="button" class="btn btn-sm btn-info" data-ng-click="cancelEditBenefitType(type)">
                                                                            Cancel
                                                                        </button>
                                                                        <div data-ng-show="error" class="text-danger">
                                                                            <strong data-ng-bind="error"></strong>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-warning text-center" data-ng-hide="!group.benefitTypes.$resolved || group.benefitTypes.length">
                                    No benefit types yet
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
			</tabset>
		</div>
	</div>
</section>
