<section data-ng-controller="HomeController">
    <div class="row">
        <div class="jumbotron-home text-center col-xs-12">
            <div class="div" >
                <div class="row">
                    <div class="col-xs-12">
                        <h1>CONTACT US</h1>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h2>taoPortfolio Consulting<br></h2>
                    <em class="small">Registered with the trade register in the Netherlands under number xxxxxxxx</em>
                    <br>
                    <br>
                    <p class="lead"><b>Email: </b>support@taoPortfolio.com</p>
                    <p class="lead"><b>LinkedIn: </b><a>www.linkedIn.com</a></p>
                    <p class="lead"><b>Facebook: </b><a>www.facebook.com</a></p>
                    <br>
                    <p class="lead">Street name, number</p>
                    <p class="lead">City, postalcode</p>
                    <p class="lead">Country</p>
                </div>
                <div class="col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d4947.0171561803645!2d5.288592055545733!3d51.68713765678797!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1425194421327"
                            frameborder="0" style="border:0; min-height: 300px;"></iframe>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="jumbotron-social-icons text-center col-xs-12">
            <button type="button" class="btn btn-info">
                <i class="fa fa-linkedin fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-facebook fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-envelope-o fa-lg"></i>
            </button>
        </div>
    </div>
</section>
