<section data-ng-controller="HomeController">
    <div class="row">
        <div class="text-center col-xs-12"
             style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('modules/core/img/brand/jumbotron.jpg'); padding-top: 40px; padding-bottom: 60px; color: white;text-shadow: black 0.5em 0.5em 0.5em;">
            <div class="div" >
                <div class="row">
                    <div class="col-xs-12">
                        <img src="modules/core/img/brand/logo_large_white.png" class="center-block">
                        <h3 style="margin-top: 0">Project Portfolio Management made simple. </h3>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead" style="margin: 0;">
                            A cloud-based software optimized for governance and management control.
                            <br>
                            Ideal for <em>PMO managers</em>, <em>business change executives</em> and <em>portfolio managers</em>.
                            <br>
                            Implements the <em>Agile Gate Management</em> approach popularized by the <a href="http://www.taoppm.com" style="color: lightblue">taoPPM methodology</a>.
                        </p>
                    </div>
                </div>
                <hr style="margin: 30px">
                <br>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-lg" data-ng-click="goToRegistrationForm()"  style="background-color: transparent; border: 2px solid white; color: lightblue">REGISTER AS EARLY ADOPTER</a>
                        <a class="btn btn-success btn-lg" style="border: 2px solid white" href="/#!/signup">
                            Signup <small>| Free <b>Demo</b> version only</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron-band center-block col-xs-12">
            <h3 class="text-center">Make change happen in a simpler way: Define. Evaluate. Deliver.</h3>
        </div>
        <div class="container">
            <!-- FEATURE LIST: DEFINITION-->
            <div class="row text-center" style="background-color: lightgrey">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 ">
                    <h1>Portfolio definition</h1>
                    <h4>
                        See the important things
                    </h4>
                </div>
            </div>
            <div class="row text-center" style="padding-bottom: 5%; padding-top: 5%; background-color: aliceblue">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-bullseye  fa-5x"></i>
                    <h3>STRATEGY ALIGNMENT</h3>
                    <p class="lead">
                        Decompose your strategy in a hierarchical process and identify the initiatives that directly support
                        your strategic objectives avoiding investments in non-value activities
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-sitemap  fa-5x"></i>
                    <h3>PORTFOLIO HIERARCHY</h3>
                    <p class="lead">
                        Create a portfolio structure that matches the value creation accountability in your company
                        and assign projects to the correct portfolio owner
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-balance-scale  fa-5x"></i>
                    <h3>CATEGORIZATION AND PRIORITIZATION</h3>
                    <p class="lead">
                        Categorise and prioritize your projects from multiple viewpoints and make rational portfolio balancing decisions
                    </p>
                </div>
            </div>
            <!-- FEATURE-LIST: EVALUATION -->
            <div class="row text-center" style="background-color: lightgrey">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 ">
                    <h1>Portfolio evaluation</h1>
                    <h4>
                        Do the right things
                    </h4>
                </div>
            </div>
            <div class="row text-center" style="padding-bottom: 5%; padding-top: 5%; background-color: aliceblue">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-line-chart  fa-5x"></i>
                    <h3>VALUE ANALYSIS</h3>
                    <p class="lead">
                        Select projects that will provide the best value.
                        Evaluate your portfolio from all perspectives: financial, qualitative, risk, and interdependency
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-legal  fa-5x"></i>
                    <h3>STAKEHOLDER ANALYSIS</h3>
                    <p class="lead">
                        Ensure that all the people involved are mobilized for success.
                        Manage stakeholder expectations and their engagement on the change effort
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-road  fa-5x"></i>
                    <h3>CONTINUOUS IMPROVEMENT</h3>
                    <p class="lead">
                        Actively manage reviews and maturity improvements to continuously optimize your portfolio management process
                    </p>
                </div>
            </div>
            <!-- FEATURE-LIST: DELIVERY -->
            <div class="row text-center" style="background-color: lightgrey">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 ">
                    <h1>Portfolio delivery</h1>
                    <h4>
                        Do things right
                    </h4>
                </div>
            </div>
            <div class="row text-center" style="padding-bottom: 5%; padding-top: 5%; background-color: aliceblue">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-binoculars  fa-5x"></i>
                    <h3>GATE PERFORMANCE MANAGEMENT</h3>
                    <p class="lead">
                        Control portfolio performances and stay on track through quantitative control of baselines, estimates and actual data.
                        Apply a flexible outcome-based gate process to project delivery while maintaining Agility.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-cogs  fa-5x"></i>
                    <h3>DELIVERY MONITORING</h3>
                    <p class="lead">
                        Keep an eye on escalations and rein over fire-fighting activity to promptly remove
                        roadblocks to the delivery of your portfolio
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-users  fa-5x"></i>
                    <h3>TEAMWORK AND ACCOUNTABILITY</h3>
                    <p class="lead">Engage your team and stakeholders in the portfolio management process.
                        Default roles and rights restrictions for PMO members, project managers, portfolio managers and executives
                    </p>
                </div>
            </div>
        </div>
        <div class="jumbotron-band center-block col-xs-12">
            <h3 class="text-center">Join the <u>Early Adopter Program</u> or signup for the <u>free demo</u> version</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <small>
                            Access to the Production version of this web app is currently only provided within the <strong>early adopter program</strong>
                            <em>at no cost</em> to selected customers with at least 20+ projects and 3+ portfolios. The program includes:
                        </small>
                    </h2>
                    <ul>
                        <li><h2 style="margin: 0; padding: 0"><small>Software setup data tailored to your processes</small></h2></li>
                        <li><h2 style="margin: 0; padding: 0"><small>Migration support of your project and portfolio data into the system</small></h2></li>
                        <li><h2 style="margin: 0; padding: 0"><small>Optional maturity assessment and improvement roadmap (*based on availability)</small></h2></li>
                    </ul>
                    <h2>
                        <small>
                            Register below to join the program or just to be notified when the app will be made available publicly
                        </small>
                    </h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h6 class="panel-title text-center">
                                Registration form - Early Adopter Program
                            </h6>
                        </div>
                        <div class="panel-body">
                            <!-- Begin MailChimp Signup Form -->
                            <div id="mc_embed_signup">
                                <form action="//taoportfolio.us11.list-manage.com/subscribe/post-json?u=ced9af75b82724edde934c654&amp;id=c4effe68f8"
                                      method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                      class="validate" target="_blank" novalidate>
                                    <div class="row">
                                        <div id="mc_embed_signup_scroll">
                                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                            <div class="mc-field-group">
                                                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                                </label>
                                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                            </div>
                                            <div class="mc-field-group">
                                                <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
                                                </label>
                                                <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                                            </div>
                                            <div class="mc-field-group">
                                                <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
                                                </label>
                                                <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                                            </div>
                                            <div class="mc-field-group">
                                                <label for="mce-COMPANY">Company  <span class="asterisk">*</span>
                                                </label>
                                                <input type="text" value="" name="COMPANY" class="required" id="mce-COMPANY">
                                            </div>
                                            <div class="mc-field-group input-group">
                                                <strong>
                                                    Notification options  <span class="asterisk">*</span>
                                                </strong>
                                                <ul>
                                                    <li>
                                                        <input type="radio" value="I want to join the Beta Test Program" name="MMERGE4" id="mce-MMERGE4-0">
                                                        <label for="mce-MMERGE4-0">&nbspI want to join the Early Adopter Program</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" value="I just want to be notified when the app is ready" name="MMERGE4" id="mce-MMERGE4-1">
                                                        <label for="mce-MMERGE4-1">&nbspI just want to be notified when the app is publicly available</label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display:none"></div>
                                                <div class="response" id="mce-success-response" style="display:none"></div>
                                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_ced9af75b82724edde934c654_c4effe68f8" tabindex="-1" value=""></div>
                                            <div class="clear">
                                                <input type="submit" value="Register" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-primary">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                            <script type='text/javascript'>
                                (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';
                                    fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='COMPANY';ftypes[3]='text';}(jQuery));
                                var $mcj = jQuery.noConflict(true);
                            </script>
                            <!--End mc_embed_signup-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h6 class="panel-title text-center">Free Access to the DEMO version</h6>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3>
                                        <small>
                                            <u>Signup for free</u> for a <em>temporary</em> account to the <b>demo</b> version.
                                            This is a pre-seeded version of the software and will allow you to play with <em>all its features</em>.
                                        </small>
                                    </h3>
                                    <ul>
                                        <li><em>All accounts in this version are temporary and are periodically deleted</em></li>
                                        <li><em>Access to this version is granted for demo purposes only</em></li>
                                        <li><em>This version is continuously upgraded and refreshed without warning and minor instability is expected</em></li>
                                        <li><em>If you like the software and wish Production version access, please enroll to the Early Adopter Program</em></li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <hr>
                            <br>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-1">
                                    <a class="btn btn-success btn-lg" href="/#!/signup">
                                        Signup <small>| Free <b>Demo</b> version only</small>
                                    </a>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron-social-icons text-center col-xs-12">
            <p>Developed by <a href="http://www.taoportfolio.com"><b>taoPortfolio.com</b></a></p>
            <button type="button" class="btn btn-info">
                <i class="fa fa-linkedin fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-facebook fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-envelope-o fa-lg"></i>
            </button>
        </div>
    </div>
</section>
