<section data-ng-controller="HomeController">
    <div class="row">
        <div class="jumbotron-home text-center col-xs-12">
            <div class="div" >
                <div class="row">
                    <div class="col-xs-12">
                        <h2>The Tao of Project Portfolio Management</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead" style="margin: 0;">Keep your portfolio of business change projects under control</p>
                        <p class="lead">and make sure you get the value you want</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Align the project roadmap to your strategy</h4>
                        <h4>Gain control through gate oriented delivery</h4>
                        <h4>Apply value-based performance management</h4>
                    </div>
                </div>
                <hr style="margin: 30px">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead">The taoPPM© methodology, supported by the taoApp© software, is a simple and practical way to apply best practices and make the job of PMO managers, business change executives and portfolio managers easy and efficient.</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <button class="btn btn-lg" style="background-color: transparent; border: 2px solid white">METHODOLOGY</button>
                        <button class="btn btn-lg btn-primary" style="border: 2px solid;">SOFTWARE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron-band center-block col-xs-12">
            <h3 class="text-center">Strategic governance of multiple projects made simple</h3>
        </div>
        <div class="jumbotron-social-icons text-center col-xs-12">
            <button type="button" class="btn btn-info">
                <i class="fa fa-linkedin fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-facebook fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-envelope-o fa-lg"></i>
            </button>
        </div>
    </div>

</section>
