<section data-ng-controller="HomeController">
    <div class="row">
        <div class="jumbotron-home text-center col-xs-12">
            <div class="div" >
                <div class="row">
                    <div class="col-xs-12">
                        <h2>The Tao of Project Portfolio Management</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead" style="margin: 0;">Keep your portfolio of business change projects under control</p>
                        <p class="lead">and make sure you get the value you want</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Align the project roadmap to your strategy</h4>
                        <h4>Gain control through gate oriented delivery</h4>
                        <h4>Apply value-based performance management</h4>
                    </div>
                </div>
                <hr style="margin: 30px">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead">The taoPPM© methodology, supported by the taoApp© software, is a simple and practical way to apply best practices and make the job of PMO managers, business change executives and portfolio managers easy and efficient.</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-lg" href="/#!/methodology/"
                           style="background-color: transparent; border: 2px solid white">
                            taoPPM
                        </a>
                        <a class="btn btn-lg btn-primary" href="/#!/software"
                           style="border: 2px solid white">
                            taoAPP
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron-band center-block col-xs-12">
            <h3 class="text-center">Strategic governance of multiple projects made simple</h3>
        </div>
    </div>
    <!-- METHODOLOGY -->
    <div class="row">
        <div class="jumbotron-tools text-center col-xs-12">
            <div class="div" >
                <div class="row">
                    <div class="col-xs-12">
                        <h2>taoPPM© Methodology</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead" style="margin: 0;">
                            A controlled and audit-able portfolio management process specifically
                            designed for mixed environments where projects use different delivery methodologies,
                            either Agile or traditional waterfall
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Simple, practical and pragmatic</h4>
                        <h4>Grounded in current best practices</h4>
                        <h4>Easy and readily actionable</h4>
                    </div>
                </div>
                <hr style="margin: 30px">
                <div class="row">
                    <div class="col-md-12">
                        <img src="modules/core/img/brand/flow.png" class="img-responsive center-block">
                    </div>
                </div>
                <hr style="margin: 30px">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-lg" href="/#!/methodology"
                                style="background-color: transparent; border: 2px solid white">
                            GO TO METHODOLOGY
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron-band center-block col-xs-12" style="background-color: lightseagreen">
            <h3 class="text-center">Audit compliant and flexible management process for a diverse pool of projects</h3>
        </div>
    </div>
    <!-- SOFTWARE -->
    <div class="row">
        <div class="jumbotron-financials text-center col-xs-12">
            <div class="div" >
                <div class="row">
                    <div class="col-xs-12">
                        <h2>taoApp© Software</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead" style="margin: 0;">Cloud-based. No IT setup required</p>
                    </div>
                </div>
                <hr style="margin: 30px">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Can't get your project software to work with portfolios?</h4>
                        <h4>Still using spreadsheets to aggregate project data?</h4>
                        <h4>Don't want to further burden your IT department?</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead">
                            The taoApp© is a web app based on the latest technologies to provide a simple
                            yet powerful way to manage your change initiatives from a portfolio perspective
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-lg" href="/#!/register" style="background-color: transparent; border: 2px solid white; margin: 3px;">REGISTER AS EARLY ADOPTER</a>
                        <a class="btn btn-lg btn-primary" href="/#!/software" style="border: 2px solid; margin: 3px;">TAKE A TOUR</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron-band center-block col-xs-12">
            <h3 class="text-center">Optimized for governance and management control</h3>
        </div>
    </div>
    <!-- SERVICES -->
    <div class="row">
        <div class="jumbotron-financials-lg text-center col-xs-12">
            <div class="div" >
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Project portfolio consulting and interim management services</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <h3><i class="fa fa-play"></i> Programs and large projects delivery</h3>
                        <h3><i class="fa fa-play"></i> PMO setup, management and maturity improvement</h3>
                        <h3><i class="fa fa-play"></i> Strategic portfolio and investment management</h3>
                        <h3><i class="fa fa-play"></i> Management of business transformation and change</h3>
                    </div>
                </div>
                <hr style="margin: 30px">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>
                            Our services centre around the taoPPM methodology and the taoApp software that combines the latest industry best practices
                            in:
                        </h3>
                        <h3><i class="fa fa-check"></i> Project Portfolio Management</h3>
                        <h3><i class="fa fa-check"></i> Business-IT Governance</h3>
                        <h3><i class="fa fa-check"></i> Business Process Improvement</h3>
                        <h3><i class="fa fa-check"></i> Program and project delivery management</h3>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-lg btn-primary" href="/#!/contact"
                           style="border: 2px solid white">
                            CONTACT US
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SOCIAL ICONS-->
    <div class="row">
        <div class="jumbotron-social-icons text-center col-xs-12">
            <button type="button" class="btn btn-info">
                <i class="fa fa-linkedin fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-facebook fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-envelope-o fa-lg"></i>
            </button>
        </div>
    </div>
</section>
