<section data-ng-controller="HomeController" data-ng-init="init()">
    <div id="top"></div>
    <div class="row">
        <div class="jumbotron-tools text-center col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h2>taoPPM© Methodology</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3 blog-sidebar" data-ng-include="'modules/core/views/methodology-menu.client.view.html'"></div><!-- /.blog-sidebar -->
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'overview'">
            <div class="blog-post">
                <h2 class="blog-post-title">Overview</h2>
                <em>This section explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
            </div>
        </div>
        <!-- DEFINITION -->
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'strategy-decomposition'">
            <div class="blog-post">
                <h2 class="blog-post-title">Strategy decomposition</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'portfolio-structure'">
            <div class="blog-post">
                <h2 class="blog-post-title">Portfolio structure</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <h3 class="blog-post-title">How to structure the portfolios</h3>
                <p>
                    Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum.
                    Aenean lacinia bibendum nulla sed consectetur... <a ui-sref="how-to-structure-portfolio">read more</a>
                </p>
                <br>
                <h3 class="blog-post-title">Portfolio accountability</h3>
                <p>
                    Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum.
                    Aenean lacinia bibendum nulla sed consectetur... <a ui-sref="portfolio-accountability">read more</a>
                </p>
            </div>
            <!-- No next/prev required here, only in the articles -->
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'identification'">
            <div class="blog-post">
                <h2 class="blog-post-title">Identification</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'categorization'">
            <div class="blog-post">
                <h2 class="blog-post-title">Categorization</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'prioritization'">
            <div class="blog-post">
                <h2 class="blog-post-title">Overview</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <!-- EVALUATION -->
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'financial-analysis'">
            <div class="blog-post">
                <h2 class="blog-post-title">Financial analysis</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'qualitative-analysis'">
            <div class="blog-post">
                <h2 class="blog-post-title">Qualitative analysis</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'risk-analysis'">
            <div class="blog-post">
                <h2 class="blog-post-title">Risk analysis</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'stakeholder-management'">
            <div class="blog-post">
                <h2 class="blog-post-title">Stakeholder management</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'dependencies'">
            <div class="blog-post">
                <h2 class="blog-post-title">Overview</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'review'">
            <div class="blog-post">
                <h2 class="blog-post-title">Review</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <!-- DELIVERY -->
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'gate-management'">
            <div class="blog-post">
                <h2 class="blog-post-title">Gate management</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'change-management'">
            <div class="blog-post">
                <h2 class="blog-post-title">Change management</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'issues'">
            <div class="blog-post">
                <h2 class="blog-post-title">Issues</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'milestones'">
            <div class="blog-post">
                <h2 class="blog-post-title">Milestones</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'status'">
            <div class="blog-post">
                <h2 class="blog-post-title">Status</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <!-- ROLES & RESPONSIBILITIES -->
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'governance-groups'">
            <div class="blog-post">
                <h2 class="blog-post-title">Governance groups</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-sm-offset-1 blog-main" data-ng-if="includeTemplate === 'roles'">
            <div class="blog-post">
                <h2 class="blog-post-title">Roles</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><button class="btn btn-default btn-sm btn-link" data-ng-click="setTemplate('strategy-decomposition')">Next</button></li>
                </ul>
            </nav>
        </div>

    </div><!-- /.row -->
    <div class="row">
        <div class="jumbotron-social-icons text-center col-xs-12">
            <button type="button" class="btn btn-info">
                <i class="fa fa-linkedin fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-facebook fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-envelope-o fa-lg"></i>
            </button>
        </div>
    </div>
</section>
