<div class="sidebar-module">
    <h4 data-ng-click="showKnowledgeAreas = !showKnowledgeAreas">
        Knowledge areas
        <button class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-chevron-down" data-ng-show="!showKnowledgeAreas"></span>
            <span class="glyphicon glyphicon-chevron-up" data-ng-show="showKnowledgeAreas"></span>
        </button>
    </h4>
    <div data-ng-show="showKnowledgeAreas">
        <button class="btn-link" data-ng-click="setTemplate('overview')"><strong>Overview</strong></button>
        <ol style="list-style: none inside; margin: 1px; padding: 1px;">
            <li>
                <strong>Definition</strong>
                <ol style="list-style: none inside; margin: 2px; padding: 2px;">
                    <li><button class="btn-link" data-ng-click="setTemplate('strategy-decomposition')">Strategic decomposition</button></li>
                    <li><button class="btn-link" data-ng-click="setTemplate('portfolio-structure')">Portfolio structure</button></li>
                    <li><button class="btn-link" data-ng-click="setTemplate('identification')">Projects identification</button></li>
                    <li><button class="btn-link" data-ng-click="setTemplate('categorization')">Categorization</button></li>
                    <li><button class="btn-link" data-ng-click="setTemplate('prioritization')">Prioritization</button></li>
                </ol>
            </li>
            <li>
                <strong>Evaluation</strong>
                <ol style="list-style: none inside; margin: 2px; padding: 2px;">
                    <li><button class="btn-link" data-ng-click="setTemplate('financial-analysis')">Financial analysis</button></li>
                    <li><button class="btn-link" data-ng-click="setTemplate('qualitative-analysis')">Qualitative analysis</button></li>
                    <li><button class="btn-link" data-ng-click="setTemplate('risk-analysis')">Risk analysis</button></li>
                    <li><button class="btn-link" data-ng-click="setTemplate('stakeholder-management')">Stakeholders management</button></li>
                    <li><button class="btn-link" data-ng-click="setTemplate('review')">Review and improvement</button></li>
                </ol>
            </li>
            <li>
                <strong>Delivery</strong>
                <ol style="list-style: none inside; margin: 2px; padding: 2px;">
                    <li><button class="btn-link" data-ng-click="setTemplate('gate-management')">Gate management</button></li>
                    <li><button class="btn-link" data-ng-click="setTemplate('change-management')">Change management</button></li>
                    <li><button class="btn-link" data-ng-click="setTemplate('issues')">Issues and escalations</button></li>
                    <li><button class="btn-link" data-ng-click="setTemplate('milestones')">Milestones</button></li>
                    <li><button class="btn-link" data-ng-click="setTemplate('status')">Status update</button></li>
                </ol>
            </li>
            <li>
                <strong>Roles and responsibilities</strong>
                <ol style="list-style: none inside; margin: 2px; padding: 2px;">
                    <li><button class="btn-link" data-ng-click="setTemplate('governance-groups')">Governance groups</button></li>
                    <li><button class="btn-link" data-ng-click="setTemplate('roles')">Roles</button></li>
                </ol>
            </li>
        </ol>
    </div>
</div>
