<section data-ng-controller="HomeController">
    <div class="row">
        <div class="jumbotron-financials text-center col-xs-12">
            <div class="div" >
                <div class="row">
                    <div class="col-xs-12">
                        <h2>taoApp© software</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead" style="margin: 0;">
                            Cloud-based. Only what you need. No IT setup required
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-lg" href="/#!/register" style="background-color: transparent; border: 2px solid white">REGISTER AS AN EARLY ADOPTER</a>
                    </div>
                </div>
            </div>
        </div>

        SOFTWARE TOUR IMAGES/TEXT HERE


        <div class="jumbotron-social-icons text-center col-xs-12">
            <button type="button" class="btn btn-info">
                <i class="fa fa-linkedin fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-facebook fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-envelope-o fa-lg"></i>
            </button>
        </div>
    </div>

</section>
