<section data-ng-controller="HomeController">
    <div class="row">
        <div class="jumbotron-financials text-center col-xs-12">
            <div class="div" >
                <div class="row">
                    <div class="col-xs-12">
                        <h2>taoApp© software</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead" style="margin: 0;">Cloud-based. Only what you need. No IT setup required</p>
                    </div>
                </div>
                <hr style="margin: 30px">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Can't get your project software to work with portfolios?</h4>
                        <h4>Still using spreadsheets to aggregate project data?</h4>
                        <h4>Don't want to further burden your IT department?</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead">
                            The taoApp© is a web app based on the latest technologies to provide a simple
                            yet powerful way to manage your change initiatives from a portfolio perspective
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <a class="btn btn-lg" href="/#!/signup" style="background-color: transparent; border: 2px solid white">REGISTER AS AN EARLY ADOPTER</a>
                        <a class="btn btn-lg btn-primary" href="/#!/mytao" style="border: 2px solid;">LOGIN</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron-band center-block col-xs-12">
            <h3 class="text-center">See how the software can help you</h3>
        </div>
        <div class="jumbotron-social-icons text-center col-xs-12">
            <button type="button" class="btn btn-info">
                <i class="fa fa-linkedin fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-facebook fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-envelope-o fa-lg"></i>
            </button>
        </div>
    </div>

</section>
