<section class="row" data-ng-controller="AuthenticationController">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title text-center">Sign in</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form name="userLoginForm" data-ng-submit="signin()" autocomplete="off">
                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" required id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" required id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="text-center form-group">
                                            <button type="submit" class="btn btn-success" data-ng-disabled="userLoginForm.$invalid">
                                                Sign in
                                            </button>
                                            &nbsp; or&nbsp;
                                            <a href="/#!/signup">Sign up</a>
                                        </div>
                                        <div class="forgot-password">
                                            <a href="/#!/password/forgot">Forgot your password?</a>
                                        </div>
                                        <div data-ng-show="error" class="text-center text-danger">
                                            <strong data-ng-bind="error"></strong>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
