.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.jumbotron-home {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/brand/jumbotron.jpg");
	padding-top: 40px;
    padding-bottom: 60px;
	color: white;
	text-shadow: black 0.5em 0.5em 0.5em;
}

.jumbotron-band {
    background-color: cornflowerblue;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.jumbotron-social-icons {
    background-color: whitesmoke;
    color: darkgrey;
    padding: 10px;
    margin: 0;
}

.app-form .ng-dirty.ng-invalid{
	background: red;
}

.app-form .ng-dirty.ng-valid{
	background: lightgreen;
}

/* ------------ INPUT FIELDS NEXT TO EACH-OTHER -------- */

.input-group-field {
	display: table-cell;
	vertical-align: middle;
	border-radius:4px;
}
.input-group-field .form-control, .input-group-field .form-control {
	border-radius: inherit !important;
}
.input-group-field:not(:first-child):not(:last-child) {
	border-radius:0;
}
.input-group-field:not(:first-child):not(:last-child) .form-control {
	border-left-width: 0;
	border-right-width: 0;
}
.input-group-field:last-child {
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}

/*<div class='input-group'>*/
    /*<span class='input-group-addon'>Add On</span>*/
    /*<input type='text' class='form-control' placeholder="Field 1" />*/
    /*<div class='input-group-field'>*/
        /*<input type='text' class='form-control' placeholder="Field 2" />*/
    /*</div>*/
    /*<div class='input-group-field'>*/
        /*<input type='text' class='form-control' placeholder="Field 3" />*/
    /*</div>*/
/*</div>*/

/* ------------ PILLS as WIZARD PROCESS --------------- */


.nav-pills.nav-wizard > li {
	position: relative;
	overflow: visible;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
}
.nav-pills.nav-wizard > li + li {
	margin-left:0;
}
.nav-pills.nav-wizard > li:first-child {
	border-left: 0;
}
.nav-pills.nav-wizard > li:first-child a {
	border-radius: 5px 0 0 5px;
}
.nav-pills.nav-wizard > li:last-child {
	border-right: 0;
}
.nav-pills.nav-wizard > li:last-child a {
	border-radius: 0 5px 5px 0;
}
.nav-pills.nav-wizard > li a {
	border-radius: 0;
	background-color: #eee;
}
.nav-pills.nav-wizard > li .nav-arrow {
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 20px 20px;
	border-color: transparent transparent transparent #eee;
	z-index: 150;
}
.nav-pills.nav-wizard > li .nav-wedge {
	position: absolute;
	top: 0;
	left: -20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 20px 20px;
	border-color: #eee #eee #eee transparent;
	z-index: 150;
}
.nav-pills.nav-wizard > li:hover .nav-arrow {
	border-color: transparent transparent transparent #aaa;
}
.nav-pills.nav-wizard > li:hover .nav-wedge {
	border-color: #aaa #aaa #aaa transparent;
}
.nav-pills.nav-wizard > li:hover a {
	background-color: #aaa;
	color: #fff;
}
.nav-pills.nav-wizard > li.active .nav-arrow {
	border-color: transparent transparent transparent #428bca;
}
.nav-pills.nav-wizard > li.active .nav-wedge {
	border-color: #428bca #428bca #428bca transparent;
}
.nav-pills.nav-wizard > li.active a {
	background-color: #428bca;
}



