<section data-ng-controller="FinancialBenefitsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Financial benefits</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="financialBenefit in financialBenefits" data-ng-href="#!/financial-benefits/{{financialBenefit._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="financialBenefit.created | date:'medium'"></span>
				by
				<span data-ng-bind="financialBenefit.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="financialBenefit.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!financialBenefits.$resolved || financialBenefits.length">
    	No Financial benefits yet, why don't you <a href="/#!/financial-benefits/create">create one</a>?
    </div>
</section>