<section data-ng-controller="ProjectIssuesController" data-ng-init="modalInit()">
    <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title text-center"
                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                    #{{selectedProjectIssue.idNumber}} - {{selectedProjectIssue.title}}
                </h6>
            </div>
            <div class="row">
                <div class="col-md-12 btn-group btn-group-xs btn-group-justified">
                    <label class="btn btn-info btn-xs" data-ng-model="projectIssueDetails" btn-radio="'header'">
                        Header
                    </label>
                    <label class="btn btn-info btn-xs" data-ng-model="projectIssueDetails" btn-radio="'status'">
                        Status
                    </label>
                </div>
            </div>
            <div class="panel-body">
                <div data-ng-show="projectIssueDetails === 'header'">
                    <div data-ng-switch="switchHeaderForm[selectedProjectIssue._id]">
                        <form data-ng-switch-default="view">
                            <div class="row">
                                <div class="form-group-sm col-md-4">
                                    <label for="">Raised on date</label>
                                    <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedProjectIssue.raisedOnDate" disabled />
                                </div>
                                <div class="form-group-sm col-md-6">
                                    <label for="reviewTitleEdit">Review title</label>
                                    <input id="reviewTitleEdit" name="reviewTitleNew" class="form-control" type="text" placeholder="Enter review title"
                                           data-ng-model="selectedProjectIssue.title" disabled>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-4">
                                    <label for="">Reason for change</label>
                                    <select id="" class="form-control" data-ng-model = "selectedProjectIssue.reason"
                                            ng-options="reason._id as reason.name for reason in logReasons" disabled>
                                    </select>
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="">Priority</label>
                                    <select id="" class="form-control" data-ng-model = "selectedProjectIssue.priority"
                                            ng-options="priority._id as priority.name for priority in logPriorities" disabled>
                                    </select>
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="">State</label>
                                    <select id="" class="form-control" data-ng-model = "selectedProjectIssue.state"
                                            ng-options="state._id as state.name for state in issueStates" disabled>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-12">
                                    <label for="">Description</label>
                                    <textarea id="" class="form-control" data-ng-model="selectedProjectIssue.description" disabled></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group-sm pull-right" data-ng-show="userHasAuthorization && !selectedProjectIssue.final">
                                <button class="btn btn-success btn-xs" data-ng-click="editHeader(selectedProjectIssue)">
                                    Edit
                                </button>
                            </div>
                        </form>
                        <form data-ng-switch-when="edit">
                            <div class="row">
                                <div class="form-group-sm col-md-4">
                                    <label for="">Raised on date</label>
                                    <div class="input-group">
                                        <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedProjectIssue.raisedOnDate"
                                               is-open="$parent.headerDateOpened[selectedProjectIssue._id]" >
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm" ng-click="openHeaderDate(selectedProjectIssue, $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group-sm col-md-6">
                                    <label for="reviewTitleEdit">Review title</label>
                                    <input id="reviewTitleEdit" name="" class="form-control" type="text" placeholder="Enter title"
                                           data-ng-model="selectedProjectIssue.title" >
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-4">
                                    <label for="">Reason for change</label>
                                    <select id="" class="form-control" data-ng-model = "selectedProjectIssue.reason"
                                            ng-options="reason._id as reason.name for reason in logReasons" >
                                        <option value="">--choose reason</option>
                                    </select>
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="">Priority</label>
                                    <select id="" class="form-control" data-ng-model = "selectedProjectIssue.priority"
                                            ng-options="priority._id as priority.name for priority in logPriorities" >
                                        <option value="">--choose priority</option>
                                    </select>
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="">State</label>
                                    <select id="" class="form-control" data-ng-model = "selectedProjectIssue.state"
                                            ng-options="state._id as state.name for state in issueStates" >
                                        <option value="">--choose state</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-12">
                                    <label for="">Description</label>
                                    <textarea id="" class="form-control" placeholder="Enter description" data-ng-model="selectedProjectIssue.description"></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group-sm pull-right">
                                <button class="btn btn-success btn-xs" data-ng-click="saveEditHeader(selectedProjectIssue)">
                                    Save
                                </button>
                                <button class="btn btn-danger btn-xs" data-ng-click="deleteProjectIssue(selectedProjectIssue)">
                                    Delete change request
                                </button>
                                <button class="btn btn-info btn-xs" data-ng-click="cancelEditHeader(selectedProjectIssue)">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div data-ng-show="projectIssueDetails === 'status'">
                    <div data-ng-switch="switchStatusForm[selectedProjectIssue._id]">
                        <form data-ng-switch-default="view">
                            <div class="row">
                                <div class="form-group-sm col-md-4">
                                    <label for="">Baseline delivery date</label>
                                    <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedProjectIssue.statusReview.currentRecord.baselineDeliveryDate" disabled />
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="">Estimate delivery date</label>
                                    <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedProjectIssue.statusReview.currentRecord.estimateDeliveryDate" disabled />
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="">Actual delivery date</label>
                                    <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedProjectIssue.statusReview.currentRecord.actualDeliveryDate" disabled />
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-4">
                                    <label for="">Status</label>
                                    <select id="" class="form-control" data-ng-model = "selectedProjectIssue.statusReview.currentRecord.status"
                                            ng-options="status._id as status.name for status in logStatuses" disabled>
                                    </select>
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="prjCrEditCompleted">Change completed</label>
                                    <input id="prjCrEditCompleted" class="" type="checkbox"
                                           data-ng-model="selectedProjectIssue.statusReview.currentRecord.completed" disabled>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-12">
                                    <label for="">Status comment</label>
                                    <textarea id="" class="form-control" data-ng-model="selectedProjectIssue.statusReview.currentRecord.statusComment" disabled></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="pull-right" data-ng-show="userHasAuthorization">
                                <button class="btn btn-success btn-xs" data-ng-click="editStatus(selectedProjectIssue)">
                                    Edit
                                </button>
                            </div>
                        </form>
                        <form data-ng-switch-when="edit">
                            <div class="row">
                                <div class="form-group-sm col-md-4">
                                    <label for="">Baseline delivery date</label>
                                    <div class="input-group">
                                        <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedProjectIssue.statusReview.currentRecord.baselineDeliveryDate"
                                               is-open="$parent.baselineDeliveryDateOpened[selectedProjectIssue._id]" >
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-default btn-sm" ng-click="openBaselineDeliveryDate(selectedProjectIssue, $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                            </span>
                                    </div>
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="">Estimate delivery date</label>
                                    <div class="input-group">
                                        <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedProjectIssue.statusReview.currentRecord.estimateDeliveryDate"
                                               is-open="$parent.estimateDeliveryDateOpened[selectedProjectIssue._id]" >
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-default btn-sm" ng-click="openEstimateDeliveryDate(selectedProjectIssue, $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                            </span>
                                    </div>
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="">Actual delivery date</label>
                                    <div class="input-group">
                                        <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedProjectIssue.statusReview.currentRecord.actualDeliveryDate"
                                               is-open="$parent.actualDeliveryDateOpened[selectedProjectIssue._id]" >
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-default btn-sm" ng-click="openActualDeliveryDate(selectedProjectIssue, $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                            </span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-4">
                                    <label for="">Status</label>
                                    <select id="" class="form-control" data-ng-model = "selectedProjectIssue.statusReview.currentRecord.status"
                                            data-ng-options="status._id as status.name for status in logStatuses" >
                                        <option value="">--choose status</option>
                                    </select>
                                </div>
                                <br>
                                <div class="form-group-sm col-md-4">
                                    <label for="prjCrEditCompleted">Change completed</label>
                                    <input id="prjCrEditCompleted" class="" type="checkbox"
                                           data-ng-model="selectedProjectIssue.statusReview.currentRecord.completed" >
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-12">
                                    <label for="">Status comment</label>
                                    <textarea id="" class="form-control" placeholder="Enter status comment" data-ng-model="selectedProjectIssue.statusReview.currentRecord.statusComment" ></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="pull-right">
                                <button class="btn btn-success btn-xs" data-ng-click="saveEditStatus(selectedProjectIssue)">
                                    Save
                                </button>
                                <button class="btn btn-info btn-xs" data-ng-click="cancelEditStatus(selectedProjectIssue)">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">

    </div>
</section>
