<section data-ng-controller="PriorityAssignmentController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading" style="padding: 0">
				<ol class="breadcrumb">
					<li>Portfolio definition</li>
					<li>Prioritization</li>
					<li class="active">Priority assignment</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
	<div class="row">
		<div class="col-md-3">
			<project-list projects="projects" select-project="selectProject" portfolios="portfolios" gate-processes="gateProcesses"></project-list>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div data-ng-hide="selectedProject || projects.length === 0" class="alert alert-warning text-center">
						Select a project to see its details
					</div>
				</div>
			</div>
			<div data-ng-show="selectedProject">
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
								<h6 class="panel-title">{{selectedProject.identification.name}}</h6>
							</div>
							<div class="panel-body" style="min-height: 535px; max-height: 535px;">
								<div class="row">
									<div class=" form-group-sm col-md-5">
										<select id="selectSourcePortfolio" class="form-control input-sm" data-ng-model="filterPriority.priorityGroup"
												data-ng-options="group.name for group in priorityGroups" data-ng-disabled="!!filterPriority.priorityGroup.priority">
											<option value="">--Filter by priority group</option>
										</select>
									</div>
									<div class="form-group-sm col-md-5">
										<select id="projectPortfolio" class="form-control" data-ng-model = "filterPriority.priorityGroup.priority"
												data-ng-options="priority.name for priority in filterPriority.priorityGroup.priorities">
											<option value="">--Filter by priority</option>
										</select>
									</div>
								</div>
								<hr style="margin: 10px;">
								<div class="row" style="max-height: 460px; min-height: 460px; overflow-y: auto">
									<div data-ng-show="selectedProject.prioritization.length === 0" class="alert alert-warning text-center">
										There are no priorities created yet
									</div>
									<div class="col-md-12" data-ng-repeat="assignedGroup in selectedProject.prioritization | filter : (assignedGroup.group._id = filterPriority.priorityGroup._id) track by assignedGroup._id">
										<div class="panel panel-default">
											<div class="panel-heading text-center">
												<b data-ng-bind="assignedGroup.group.name"></b>
											</div>
											<div class="panel-body">
												<div class="row">
													<div class="col-md-4" data-ng-repeat="assignedPriority in assignedGroup.priorities | filter : (assignedPriority.priority._id = filterPriority.priorityGroup.priority._id) track by assignedPriority._id" data-ng-switch="switchPriorityForm[assignedPriority._id]">
														<div class="panel panel-default" data-ng-switch-default="view">
															<div class="panel-heading text-center">
																<em data-ng-bind="assignedPriority.priority.name"></em>
															</div>
															<div class="panel-body">
																<div class="row">
																	<div class="col-md-12">
																		<select disabled class="form-control input-sm" data-ng-model = "assignedPriority.priorityValue"
																				data-ng-options="value._id as value.name for value in priorityValues">
																			<option value="">--choose value</option>
																		</select>
																	</div>
																</div>
																<br>
																<div class="row" data-ng-show="userHasAuthorization('edit', userData, selectedProject)">
																	<div class="col-md-12">
																		<div class="btn-group-xs pull-right">
																			<button type="button" class="btn btn-success btn-sm" ng-click="selectPriorityAssignment(assignedPriority)">
																				Edit
																			</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="panel panel-default" data-ng-switch-when="edit">
															<div class="panel-heading text-center">
																<em data-ng-bind="assignedPriority.priority.name"></em>
															</div>
															<div class="panel-body">
																<div class="row">
																	<div class="col-md-12">
																		<select id="type" class="form-control input-sm" data-ng-model = "assignedPriority.priorityValue"
																				data-ng-options="value._id as value.name for value in priorityValues">
																			<option value="">--choose value</option>
																		</select>
																	</div>
																</div>
																<br>
																<div class="row">
																	<div class="col-md-12">
																		<div class="btn-group-xs pull-right">
																			<button type="button" class="btn btn-success btn-sm" ng-click="saveAssignedPriority(selectedProject, assignedGroup, assignedPriority)">
																				Save
																			</button>
																			<button type="button" class="btn btn-info btn-sm" ng-click="cancelEditAssignedPriority(assignedPriority)">
																				Cancel
																			</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
