<section data-ng-controller="GateOutcomesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Gate outcomes</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="gateOutcome in gateOutcomes" data-ng-href="#!/gate-outcomes/{{gateOutcome._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="gateOutcome.created | date:'medium'"></span>
				by
				<span data-ng-bind="gateOutcome.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="gateOutcome.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!gateOutcomes.$resolved || gateOutcomes.length">
    	No Gate outcomes yet, why don't you <a href="/#!/gate-outcomes/create">create one</a>?
    </div>
</section>