<section data-ng-controller="ProjectStatusUpdatesController as vm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title text-center"
                style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                <em>{{project.identification.name}}</em>
            </h5>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default panel-body">
                        <form class="form">
                            <fieldset>
                                <div class="row">
                                    <div class="form-group-sm col-md-2">
                                        <label for="uid">ID</label>
                                        <input id="uid" type="text" class="form-control" disabled
                                               ng-model="project.idNumber">
                                    </div>
                                    <div class="form-group-sm col-md-2">
                                        <label for="uid">Reference</label>
                                        <input id="uid" type="text" class="form-control" disabled placeholder="Enter identifier"
                                               ng-model="project.identification.idReference">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="form-group-sm col-md-4">
                                        <label for="projectStart">Requested Start</label>
                                        <input id="projectStart" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy"
                                               data-ng-model="project.identification.reqStartDate" disabled/>
                                    </div>
                                    <div class="form-group-sm col-md-4">
                                        <label for="projectEnd">Requested End</label>
                                        <input id="projectEnd" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy"
                                               data-ng-model="project.identification.reqEndDate" disabled/>
                                    </div>
                                    <div class="form-group-sm col-md-4">
                                        <label for="projectFunds">Earmarked funds</label>
                                        <input id="projectFunds" type="number" min="0" class="form-control" disabled
                                               ng-model="project.identification.earmarkedFunds">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="form-group-sm col-md-4">
                                        <label for="projectManagerNew">Project Manager</label>
                                        <input id="projectManagerNew" class="form-control" data-ng-model = "project.identification.projectManager.displayName"
                                               disabled >
                                    </div>
                                    <div class="form-group-sm col-md-4">
                                        <label for="backupProjectManagerNew">Backup Project Manager</label>
                                        <input id="backupProjectManagerNew" class="form-control" data-ng-model = "project.identification.backupProjectManager.displayName"
                                               disabled >
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="form-group-sm col-md-12">
                                        <label for="projectDescription">Project description</label>
                                        <textarea id="projectDescription" class="form-control" data-ng-model="project.identification.description" disabled></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-repeat="gate in project.process.gates" data-ng-if="gate.gateState.currentRecord.currentGate">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title text-center">Overall</h6>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group-sm col-md-4">
                                    <input title="statusIndicator"
                                           class="form-control"
                                           data-ng-model = "gate.deliveryStatus.overallStatus.currentRecord.status.name"
                                           style="background-color: {{project.gateStatusAssignment.overallStatus.currentRecord.status.color}}"
                                           disabled >
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-12">
                                    <textarea title="statusComment" class="form-control"
                                              data-ng-model="gate.deliveryStatus.overallStatus.currentRecord.comment"
                                              disabled></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" data-ng-repeat="areaReview in gate.deliveryStatus.projectStatusAreas">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title text-center">{{areaReview.statusArea.name}}</h6>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group-sm col-md-8">
                                    <input title="statusIndicator"
                                           class="form-control"
                                           data-ng-model = "areaReview.currentRecord.status.name"
                                           style="background-color: {{areaReview.currentRecord.status.color}}"
                                           disabled >
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-12">
                                    <textarea title="statusComment" class="form-control"
                                              data-ng-model="areaReview.currentRecord.comment"
                                              disabled></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="center-block text-center">
            <button class="btn btn-primary btn-sm" data-ng-click="cancelModal()">
                Close
            </button>
        </div>
    </div>
    <br>
    <div class="row"></div>
</section>
