<section data-ng-controller="StrategyNodeSetupController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Setup</li>
					<li>Portfolio definition</li>
					<li class="active">Strategy nodes</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<tabset>
				<tab heading="Strategy node types">
					<br>
					<div class="row">
						<div class="col-md-3">
							<br>
							<button class="btn btn-primary"
									ng-click="createType()">
								New strategy node type
							</button>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="alert alert-warning text-center" data-ng-hide="strategyNodeTypes.length">
							No portfolio types yet, why don't you create one?
						</div>
						<div class="col-md-4" data-ng-repeat="type in strategyNodeTypes" data-ng-switch="switchTypeForm[type._id]" >
							<div class="panel panel-default" title="Last updated on {{type.created | date:'medium'}} by {{type.user.displayName}}">
								<div class="panel-body">
									<div ng-switch-default="view">
										<form class="form">
											<fieldset>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<div class="controls">
																<input disabled type="text" class="form-control" ng-model="type.name">
															</div>
														</div>
														<div class="form-group">
															<div class="controls">
                                                <textarea disabled class="form-control"
														  data-ng-model="type.description" placeholder="Description">

                                                </textarea>
															</div>
														</div>
														<div class="form-group center-block">
															<button type="button" class="btn btn-success" ng-click="selectType(type)">
																Edit
															</button>
														</div>
														<div class="form-group">
															<div data-ng-show="error" class="text-danger">
																<strong data-ng-bind="error"></strong>
															</div>
														</div>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
									<div data-ng-switch-when="edit">
										<form class="form" data-ng-submit="updateType(type)" novalidate>
											<fieldset>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<div class="controls">
																<input type="text" id="name" class="form-control"
																	   data-ng-model="type.name" placeholder="Name" required>
															</div>
														</div>
														<div class="form-group">
															<div class="controls">
                                                <textarea id="description" class="form-control"
														  data-ng-model="type.description" placeholder="Description">

                                                </textarea>
															</div>
														</div>
														<div class="form-group center-block">
															<input type="submit" value="Save" class="btn btn-success">
															<a class="btn btn-danger" data-ng-click="removeType(type)">
																<i class="glyphicon glyphicon-trash"></i>
															</a>
															<button type="button" class="btn btn-info" ng-click="cancelEditType(type)">
																Cancel
															</button>
														</div>
														<div class="form-group">
															<div data-ng-show="error" class="text-danger">
																<strong data-ng-bind="error"></strong>
															</div>
														</div>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
				<tab heading="Strategy decomposition">
					<br>
					<div class="row">
						<div class="col-md-8">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h6 class="panel-title text-center">Strategy tree</h6>
								</div>
								<div class="panel-body" style="min-height: 560px;  max-height: 610px; overflow-y: auto;">
									<div class="alert alert-warning text-center" data-ng-hide="!strategyNodes.$resolved || strategyNodes.length">
										No strategy nodes yet, why don't you create a new one?
									</div>
									<script type="text/ng-template" id="portfolioTree">
										<hr>
										<button class="btn btn-default" data-ng-click="selectStrategyNode(tree.node._id);">
											{{tree.node.name}}
										</button>
										<ul data-ng-if="tree.nodeTrees" class="">
											<li data-ng-repeat="tree in tree.nodeTrees" data-ng-include="'portfolioTree'"></li>
										</ul>
									</script>
									<ul class="">
										<li data-ng-repeat="tree in strategyTrees" data-ng-include="'portfolioTree'"></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4" data-ng-switch="switchStrategyNodeForm">
							<div class="row"><!-- Here put role control -->
								<div class="col-md-12">
									<button class="btn btn-primary" data-ng-click="selectNewStrategyNode();"
											data-ng-switch-when="view">
										Add new node
									</button>
									<button class="btn btn-success" data-ng-click="selectStrategyNodeForm('edit')"
											data-ng-switch-when="view" data-ng-show="editStrategyNode">
										Edit node
									</button>
								</div>
							</div>
							<br>
							<div>
								<div class="row" data-ng-switch-when="new">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h6 class="panel-title text-center">New strategy node</h6>
											</div>
											<div class="panel-body">
												<div class="col-md-12">
													<form class="form-horizontal" data-ng-submit="create()" novalidate>
														<fieldset>
															<div class="form-group">
																<label class="control-label" for="name">Strategy node name</label>
																<div class="controls">
																	<input type="text" data-ng-model="newStrategyNode.name" id="name" class="form-control" placeholder="Name" required>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label" for="type">Strategy node type</label>
																<select id="type" class="form-control" data-ng-model = "newStrategyNode.type"
																		ng-options="strategyNodeType.name for strategyNodeType in strategyNodeTypes">
																	<option value="">--choose type</option>
																</select>
															</div>
															<div class="form-group">
																<label class="control-label" for="parent">Parent node</label>
																<select id="parent" class="form-control" data-ng-model = "newStrategyNode.parent"
																		ng-options="newParent.name for newParent in newParents">
																	<option value="">--choose parent</option>
																</select>
															</div>
															<div class="form-group pull-right">
																<input type="submit" class="btn btn-success">
																<button type="reset" class="btn btn-info" ng-click="selectStrategyNodeForm('view')">
																	Cancel
																</button>
															</div>
															<div data-ng-show="error" class="text-danger">
																<strong data-ng-bind="error"></strong>
															</div>
														</fieldset>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row" data-ng-switch-when="view">
									<div class="col-sm-12">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h6 class="panel-title text-center"><em data-ng-bind="editStrategyNode.name"></em></h6>
												<div class="text-center" data-ng-hide="editStrategyNode">
													<em>Please select a node from the tree to see the details</em>
												</div>
											</div>
											<div class="panel-body" ng-show="editStrategyNode">
												<div>
													<div class="row">
														<form>
															<fieldset ng-disabled = true>
																<div class="col-md-12">
																	<div class="form-group">
																		<label for="nodeName">Strategy node Name</label>
																		<input id="nodeName" class="form-control" ng-model="viewStrategyNode.name">
																	</div>
																	<div class="form-group">
																		<label for="nodeType">Strategy node type</label>
																		<input id="nodeType" class="form-control"  ng-model="viewStrategyNode.type.name">
																	</div>
																	<div class="form-group">
																		<label for="parent">Parent node</label>
																		<input id="parent" class="form-control"  ng-model="viewStrategyNode.parent.name">
																	</div>
																	<div data-ng-show="error" class="text-danger">
																		<strong data-ng-bind="error"></strong>
																	</div>
																</div>
															</fieldset>
														</form>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<small>
															<em class="text-muted">
																Last updated on
																<span data-ng-bind="editStrategyNode.created | date:'mediumDate'"></span>
																by
																<span data-ng-bind="editStrategyNode.user.displayName"></span>
															</em>
														</small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row" data-ng-switch-when="edit">
									<div class="col-sm-12">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h6 class="panel-title text-center"><em data-ng-bind="editStrategyNode.name"></em></h6>
												<div class="alert alert-warning text-center" data-ng-hide="editStrategyNode">
													Please select a node to see the details
												</div>
											</div>
											<div class="panel-body" ng-show="editStrategyNode">
												<div>
													<div class="row">
														<form class="form" data-ng-submit="update()" novalidate>
															<fieldset>
																<div class="col-md-12">
																	<div class="form-group">
																		<label class="control-label" for="name">Strategy node name</label>
																		<div class="controls">
																			<input type="text" data-ng-model="editStrategyNode.name" id="name" class="form-control" placeholder="Name" required>
																		</div>
																	</div>
																	<div class="form-group">
																		<label class="control-label" for="type">Strategy node type</label>
																		<select id="type" class="form-control" data-ng-model = "editStrategyNode.type"
																				ng-options="strategyNodeType as strategyNodeType.name for strategyNodeType in strategyNodeType track by strategyNodeType._id">
																			<option value="">--choose type</option>
																		</select>
																	</div>
																	<div class="form-group">
																		<label class="control-label" for="parent">Parent node</label>
																		<select id="parent" class="form-control" data-ng-model = "editStrategyNode.parent"
																				ng-options="editParent as editParent.name for editParent in editParents track by editParent._id">
																			<option value="">--choose parent</option>
																		</select>
																	</div>
																	<div class="form-group pull-right">
																		<input type="submit" value="Save" class="btn btn-success">
																		<a class="btn btn-danger" data-ng-click="remove()">
																			<i class="glyphicon glyphicon-trash"></i>
																		</a>
																		<button type="button" class="btn btn-primary" ng-click="selectStrategyNode(editStrategyNode._id)">
																			Cancel
																		</button>
																	</div>
																	<div data-ng-show="error" class="text-danger">
																		<strong data-ng-bind="error"></strong>
																	</div>
																</div>
															</fieldset>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
</section>
