<section data-ng-controller="SubusersController" data-ng-init="findOne()">
	<!-- BREADCRUMB -->
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Admin</li>
					<li><a href="/#!/subusers">Subusers</a></li>
					<li class="active">View subuser</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="page-header">
		<h1 data-ng-bind="subuser.displayName"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == subuser.user._id))">
		<a class="btn btn-success" href="/#!/subusers/{{subuser._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-danger" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="subuser.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="subuser.user.displayName"></span>
		</em>
	</small>
</section>
