<section data-ng-controller="SubusersController" data-ng-init="findOne()">
	<!-- BREADCRUMB -->
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading" style="padding: 0">
				<ol class="breadcrumb">
					<li>Admin</li>
					<li><a href="/#!/subusers">Subusers</a></li>
					<li class="active">View subuser</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
            <form>
                <fieldset disabled>
                    <div class="form-group">
                        <label for="organization">Organization</label>
                        <input type="text" required id="organization" name="organization" class="form-control" data-ng-model="subuser.organization" placeholder="Organization">
                    </div>
                    <div class="form-group">
                        <label for="role">Roles</label>
                        <div ng-repeat="role in roles">
                            <input required id="role" name="role" type="checkbox" checklist-model="subuser.roles" checklist-value="role.roleString"> {{role.roleTitle}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="subuser.firstName" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="subuser.lastName" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" data-ng-model="subuser.email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" data-ng-model="subuser.username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" data-ng-model="subuser.password" placeholder="Password">
                    </div>
                </fieldset>
                <div class="form-group text-center">
                    <a class="btn btn-success" href="/#!/subusers/{{subuser._id}}/edit">
                        Edit
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>
