<section data-ng-controller="MytaoController as vm" data-ng-init="vm.init()">

    <!-- BREADCRUMB -->
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-heading" style="padding: 0">
                <ol class="breadcrumb">
                    <li class="active">My Portfolios</li>
                </ol>
            </div>
        </div>
    </div>

    <!--<button class="btn btn-large btn-primary" data-ng-click="vm.seed()">Seed</button><br>-->
    <!--<ul data-ng-show="vm.seedRes">-->
        <!--&lt;!&ndash;<li data-ng-repeat="res in vm.seedRes track by $index">{{res.message}}</li>&ndash;&gt;-->
        <!--{{vm.seedRes}}-->
    <!--</ul>-->
    <!--<span data-ng-show="vm.seedErr">{{vm.seedErr}}</span>-->

    <!--<br>-->

    <div class="row">
        <div class="col-xs-12">
            <tabset>
                <tab heading="My work">
                    <br>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">User data</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: auto;">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>Name:</label>&nbsp;
                                                <a href="/#!/settings/profile">{{vm.userData.displayName}}</a>
                                            </div>
                                            <div class="form-group">
                                                <label>Username:</label>&nbsp;
                                                <span>{{vm.userData.username}}</span>
                                            </div>
                                            <div class="form-group">
                                                <label>Organization:</label>&nbsp;
                                                <span>{{vm.userData.organization}}</span>
                                            </div>
                                            <div class="form-group">
                                                <label>Roles:</label>&nbsp;
                                                <span data-ng-repeat="role in vm.userData.roles">
                                                    <span data-ng-show="role === 'superAdmin'">| Super administrator | </span>
                                                    <span data-ng-show="role === 'admin'">| Administrator | </span>
                                                    <span data-ng-show="role === 'pmo'">| PMO | </span>
                                                    <span data-ng-show="role === 'projectManager'">| Project Manager | </span>
                                                    <span data-ng-show="role === 'portfolioManager'">| Portfolio Manager | </span>
                                                    <span data-ng-show="role === 'executive'">| Executive | </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">Project reviews to submit</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: auto;">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="alert alert-warning text-center" data-ng-show="!vm.userProjectReviews.length && vm.userProjectReviews.$resolved && !parentCtr.error.userProjectReviews">
                                                <span>You have no project reviews to submit</span>
                                            </div>
                                            <div class="alert alert-warning text-center" data-ng-show="vm.error.userProjectReviews">
                                                <span>{{vm.error.userProjectReviews}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="progress" data-ng-show="!vm.userProjectReviews.$resolved && !vm.error.userProjectReviews">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                                            </div>
                                            <table class="table table-responsive small" data-ng-show="vm.userProjectReviews.length">
                                                <thead>
                                                <tr>
                                                    <th>Review</th>
                                                    <th>Project</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="review in vm.userProjectReviews">
                                                    <td><a href="/#!/project-reviews/{{review._id}}/projects/{{review.project._id}}">{{review.name}}</a></td>
                                                    <td>{{review.project.identification.name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">Portfolio reviews to submit</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: auto;">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="alert alert-warning text-center" data-ng-show="!vm.userPortfolioReviews.length && vm.userPortfolioReviews.$resolved && !parentCtr.error.userPortfolioReviews">
                                                <span>You have no portfolio reviews to submit</span>
                                            </div>
                                            <div class="alert alert-warning text-center" data-ng-show="vm.error.userPortfolioReviews">
                                                <span>{{vm.error.userPortfolioReviews}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="progress" data-ng-show="!vm.userPortfolioReviews.$resolved && !vm.error.userPortfolioReviews">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                                            </div>
                                            <table class="table table-responsive small" data-ng-show="vm.userPortfolioReviews.length">
                                                <thead>
                                                <tr>
                                                    <th>Review</th>
                                                    <th>Portfolio</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="review in vm.userPortfolioReviews">
                                                    <td><a href="/#!/portfolio-reviews/{{review._id}}/portfolios/{{review.portfolio._id}}">{{review.name}}</a></td>
                                                    <td>{{review.portfolio.name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">Managed portfolios</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: auto;">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="alert alert-warning text-center" data-ng-show="!vm.userPortfolios.length && vm.userPortfolios.$resolved && !vm.error.userPortfolios">
                                                <span>You have no portfolios to manage</span>
                                            </div>
                                            <div class="alert alert-warning text-center" data-ng-show="vm.error.userPortfolios">
                                                <span>{{vm.error.userPortfolios}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="progress" data-ng-show="!vm.userPortfolios.$resolved && !vm.error.userPortfolios">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                                            </div>
                                            <table class="table table-responsive small" data-ng-show="vm.userPortfolios.length">
                                                <thead>
                                                <tr>
                                                    <th>Portfolio</th>
                                                    <th>Type</th>
                                                    <th>Parent</th>
                                                    <th>Funds</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="portfolio in vm.userPortfolios">
                                                    <td><a href="/#!/portfolio-assignment">{{portfolio.name}}</a></td>
                                                    <td>{{portfolio.type.name}}</td>
                                                    <td>{{portfolio.parent.name}}</td>
                                                    <td>{{portfolio.funds | number:0}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">Managed projects</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: auto;">
                                    <div class="row" data-ng-show="!vm.userProjects.length && vm.userProjects.$resolved && !vm.error.userProjects">
                                        <div class="col-xs-12">
                                            <div class="alert alert-warning text-center">
                                                <span>You have no projects to manage</span>
                                            </div>
                                            <div class="alert alert-warning text-center" data-ng-show="vm.error.userProjects">
                                                <span>{{vm.error.userProjects}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="progress" data-ng-show="!vm.userProjects.$resolved && !vm.error.userProjects">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                                            </div>
                                            <table class="table table-responsive small" data-ng-show="vm.userProjects.length">
                                                <thead>
                                                <tr>
                                                    <th>Project</th>
                                                    <th>Funds</th>
                                                    <th>Start</th>
                                                    <th>End</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="project in vm.userProjects">
                                                    <td><a href="/#!/projects/{{project._id}}">{{project.identification.name}}</a></td>
                                                    <td>{{project.identification.earmarkedFunds | number:0}}</td>
                                                    <td>{{project.identification.reqStartDate | date:'dd/MMM/yyyy'}}</td>
                                                    <td>{{project.identification.reqEndDate | date:'dd/MMM/yyyy'}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">Improvement activities to do</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: auto;">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="alert alert-warning text-center" data-ng-show="!vm.userImprovementActivities.length && vm.userImprovementActivities.$resolved && !parentCtr.error.userImprovementActivities">
                                                <span>You have no improvement activities to complete</span>
                                            </div>
                                            <div class="alert alert-warning text-center" data-ng-show="vm.error.userImprovementActivities">
                                                <span>{{vm.error.userImprovementActivities}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="progress" data-ng-show="!vm.userImprovementActivities.$resolved && !vm.error.userImprovementActivities">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                                            </div>
                                            <table class="table table-responsive small" data-ng-show="vm.userImprovementActivities.length">
                                                <thead>
                                                <tr>
                                                    <th>Activity</th>
                                                    <th>Portfolio</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="activity in vm.userImprovementActivities">
                                                    <td><a href="/#!/improvement-activities/{{activity._id}}">{{activity.title}}</a></td>
                                                    <td>{{activity.portfolio.name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">Project change requests to approve</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: auto;">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="alert alert-warning text-center" data-ng-show="!vm.userProjectChangeRequests.length && vm.userProjectChangeRequests.$resolved && !parentCtr.error.userProjectChangeRequests">
                                                <span>You have no project change requests to approve</span>
                                            </div>
                                            <div class="alert alert-warning text-center" data-ng-show="vm.error.userProjectChangeRequests">
                                                <span>{{vm.error.userProjectChangeRequests}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="progress" data-ng-show="!vm.userProjectChangeRequests.$resolved && !vm.error.userProjectChangeRequests">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                                            </div>
                                            <table class="table table-responsive small" data-ng-show="vm.userProjectChangeRequests.length">
                                                <thead>
                                                <tr>
                                                    <th>Change request</th>
                                                    <th>Project</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="change in vm.userProjectChangeRequests">
                                                    <td><a href="/#!/project-change-requests/{{change._id}}/projects/{{change.project._id}}/gates/{{change.gate}}">{{change.title}}</a></td>
                                                    <td>{{change.project.identification.name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">Project status updates to approve</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: auto;">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="alert alert-warning text-center" data-ng-show="!vm.userProjectStatusUpdates.length && vm.userProjectStatusUpdates.$resolved && !parentCtr.error.userProjectStatusUpdates">
                                                <span>You have no project status updates to approve</span>
                                            </div>
                                            <div class="alert alert-warning text-center" data-ng-show="vm.error.userProjectStatusUpdates">
                                                <span>{{vm.error.userProjectStatusUpdates}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="progress" data-ng-show="!vm.userProjectStatusUpdates.$resolved && !vm.error.userProjectStatusUpdates">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                                            </div>
                                            <table class="table table-responsive small" data-ng-show="vm.userProjectStatusUpdates.length">
                                                <thead>
                                                <tr>
                                                    <th>Status update</th>
                                                    <th>Project</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="statusUpdate in vm.userProjectStatusUpdates">
                                                    <td><a href="/#!/project-status-management/{{statusUpdate._id}}/projects/{{statusUpdate.project._id}}/gates/{{statusUpdate.gate}}">{{statusUpdate.title}}</a></td>
                                                    <td>{{statusUpdate.project.identification.name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" data-ng-show="vm.showIfSuperhero">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">Portfolio change requests to approve</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: auto;">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="alert alert-warning text-center" data-ng-show="!vm.userPortfolioChangeRequests.length && vm.userPortfolioChangeRequests.$resolved && !parentCtr.error.userPortfolioChangeRequests">
                                                <span>You have no portfolio change requests to approve</span>
                                            </div>
                                            <div class="alert alert-warning text-center" data-ng-show="vm.error.userPortfolioChangeRequests">
                                                <span>{{vm.error.userPortfolioChangeRequests}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="progress" data-ng-show="!vm.userPortfolioChangeRequests.$resolved && !vm.error.userPortfolioChangeRequests">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                                            </div>
                                            <table class="table table-responsive small" data-ng-show="vm.userPortfolioChangeRequests.length">
                                                <thead>
                                                <tr>
                                                    <th>Change request</th>
                                                    <th>Portfolio</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="change in vm.userPortfolioChangeRequests">
                                                    <td><a href="/#!/portfolio-change-requests/{{change._id}}/portfolios/{{change.portfolio._id}}">{{change.title}}</a></td>
                                                    <td>{{change.portfolio.name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" data-ng-show="vm.showIfSuperhero">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">Gate reviews to approve</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: auto;">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="alert alert-warning text-center" data-ng-show="!vm.userGateReviews.length && vm.userGateReviews.$resolved && !parentCtr.error.userGateReviews">
                                                <span>You have no gate reviews to approve</span>
                                            </div>
                                            <div class="alert alert-warning text-center" data-ng-show="vm.error.userGateReviews">
                                                <span>{{vm.error.userGateReviews}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="progress" data-ng-show="!vm.userGateReviews.$resolved && !vm.error.userGateReviews">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                                            </div>
                                            <table class="table table-responsive small" data-ng-show="vm.userGateReviews.length">
                                                <thead>
                                                <tr>
                                                    <th>Gate review</th>
                                                    <th>Project</th>
                                                    <th>Gate</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="review in vm.userGateReviews">
                                                    <td><a href="/#!/gate-management-review/{{review._id}}/projects/{{review.project._id}}/gates/{{review.gate._id}}">{{review.title}}</a></td>
                                                    <td>{{review.project.identification.name}}</td>
                                                    <td>{{review.gate.name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Portfolios">
                    <br>

                    <canvas id="line"
                            class="chart chart-line"
                            chart-data="vm.data"
                            chart-labels="vm.labels"
                            chart-legend="true"
                            chart-series="vm.series"
                            chart-click="vm.onClick">
                    </canvas>


                </tab>
                <tab heading="Projects">
                    <br>

                    <canvas id="line"
                            class="chart chart-bar"
                            chart-data="vm.data"
                            chart-labels="vm.labels"
                            chart-legend="vm.true"
                            chart-series="vm.series"
                            chart-click="vm.onClick">
                    </canvas>

                </tab>
            </tabset>
        </div>
    </div>

</section>
