<section data-ng-controller="MytaoController as parentCtrl">

    <!-- BREADCRUMB -->
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li class="active">My taoPortfolio</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <tabset>
                <tab heading="My work">
                    <br>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">User data</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: auto;">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <i class="fa fa-user  fa-2x"></i>
                                        </div>
                                        <div class="col-xs-10">
                                            <div class="form-group">
                                                <label>Name:</label>&nbsp;
                                                <a href="/#!/settings/profile">{{parentCtrl.userData.displayName}}</a>
                                            </div>
                                            <div class="form-group">
                                                <label>Username:</label>&nbsp;
                                                <span>{{parentCtrl.userData.username}}</span>
                                            </div>
                                            <div class="form-group">
                                                <label>Email:</label>&nbsp;
                                                <span>{{parentCtrl.userData.email}}</span>
                                            </div>
                                            <div class="form-group">
                                                <label>Roles:</label>&nbsp;
                                                <span data-ng-repeat="role in parentCtrl.userData.roles">
                                                    <span data-ng-show="role === 'superAdmin'">| Super administrator | </span>
                                                    <span data-ng-show="role === 'admin'">| Administrator | </span>
                                                    <span data-ng-show="role === 'pmo'">| PMO | </span>
                                                    <span data-ng-show="role === 'projectManager'">| Project Manager | </span>
                                                    <span data-ng-show="role === 'portfolioManager'">| Portfolio Manager | </span>
                                                    <span data-ng-show="role === 'executive'">| Executive | </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">My portfolios</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: auto;">
                                    <div class="row" data-ng-show="!parentCtrl.userPortfolios.length && parentCtrl.userPortfolios.$resolved">
                                        <div class="col-xs-12">
                                            <div class="alert alert-warning text-center">
                                                <span>You have no portfolios to manage</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="progress" data-ng-show="!parentCtrl.userPortfolios.$resolved">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                                            </div>
                                            <table class="table" data-ng-show="parentCtrl.userPortfolios.length">
                                                <thead>
                                                <tr>
                                                    <th>Portfolio</th>
                                                    <th>Funds</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="portfolio in parentCtrl.userPortfolios">
                                                    <td><a href="/#!/portfolio-assignment">{{portfolio.name}}</a></td>
                                                    <td>{{portfolio.funds | number:0}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">My projects</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: auto;">
                                    <div class="row" data-ng-show="!parentCtrl.userProjects.length && parentCtrl.userProjects.$resolved">
                                        <div class="col-xs-12">
                                            <div class="alert alert-warning text-center">
                                                <span>You have no projects to manage</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="progress" data-ng-show="!parentCtrl.userProjects.$resolved">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                                            </div>
                                            <table class="table table-responsive small" data-ng-show="parentCtrl.userProjects.length">
                                                <thead>
                                                <tr>
                                                    <th>Project</th>
                                                    <th>Funds</th>
                                                    <th>Start</th>
                                                    <th>End</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="project in parentCtrl.userProjects">
                                                    <td><a href="/#!/project-identification">{{project.identification.name}}</a></td>
                                                    <td>{{project.identification.earmarkedFunds | number:0}}</td>
                                                    <td>{{project.identification.reqStartDate | date:'dd/MMM/yyyy'}}</td>
                                                    <td>{{project.identification.reqEndDate | date:'dd/MMM/yyyy'}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">My project reviews</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px">

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">My portfolio reviews</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px">

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">My improvement activities</h6>
                                </div>
                                <div class="panel-body" style="min-height: 200px">

                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Portfolios">
                    <br>

                    <canvas id="line"
                            class="chart chart-line"
                            chart-data="parentCtrl.data"
                            chart-labels="parentCtrl.labels"
                            chart-legend="true"
                            chart-series="parentCtrl.series"
                            chart-click="parentCtrl.onClick">
                    </canvas>


                </tab>
                <tab heading="Projects">
                    <br>

                    <canvas id="line"
                            class="chart chart-bar"
                            chart-data="parentCtrl.data"
                            chart-labels="parentCtrl.labels"
                            chart-legend="parentCtrl.true"
                            chart-series="parentCtrl.series"
                            chart-click="parentCtrl.onClick">
                    </canvas>

                </tab>
            </tabset>
        </div>
    </div>

</section>
