<section data-ng-controller="QualitativeImpactGroupsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Qualitative impact groups</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="qualitativeImpactGroup in qualitativeImpactGroups" data-ng-href="#!/qualitative-impact-groups/{{qualitativeImpactGroup._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="qualitativeImpactGroup.created | date:'medium'"></span>
				by
				<span data-ng-bind="qualitativeImpactGroup.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="qualitativeImpactGroup.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!qualitativeImpactGroups.$resolved || qualitativeImpactGroups.length">
    	No Qualitative impact groups yet, why don't you <a href="/#!/qualitative-impact-groups/create">create one</a>?
    </div>
</section>