<section data-ng-controller="GateManagementAssignmentController" data-ng-init="init()">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li>Portfolio delivery</li>
                    <li>Gate management</li>
                    <li class="active">Gate process assignment</li>
                </ol>
            </div>
        </div>
    </div>
    <div data-ng-show="initError" class="text-danger">
        <strong data-ng-bind="initError"></strong>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title text-center">Projects</h6>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 form-group-sm">
                            <input type="text" class="form-control" placeholder="Type to filter projects" data-ng-model="filterProject">
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="min-height: 350px; max-height: 350px; overflow-y: auto">
                        <div class="col-md-12">
                            <button type="button" ng-repeat="project in projects | filter:filterProject"
                                    ng-click="selectProject(project)" class="btn btn-default btn-sm center-block btn-block" style="overflow: hidden;">
                                {{project.identification.idNumber}} {{project.identification.name}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" data-ng-switch="switchProjectForm">
            <div ng-switch-default="default">
                <div class="row">
                    <div class="col-md-12">
                        <div data-ng-hide="selectedProject || projects.length === 0" class="alert alert-warning text-center">
                            Select a project to see its details
                        </div>
                        <div data-ng-show="projects.length === 0" class="alert alert-warning text-center">
                            There are no projects created yet
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-switch-when="view">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div><h5> &nbsp; Project: <i>{{selectedProject.identification.name}}</i></h5></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="panel panel-default col-md-4">
                    <div class="panel-body">
                        <form class="form">
                            <fieldset>
                                <div class="row">
                                    <div class="form-group">
                                        <label>Assigned gate process</label>
                                        <select id="" class="form-control" data-ng-model="selectedProject.process"
                                                data-ng-options="process._id as process.name for process in gateProcesses" disabled>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="pull-right">
                                        <button class="btn btn-success btn-sm" ng-click="selectProjectForm('edit')" data-ng-show="userHasAuthorization">Edit</button>
                                        <button class="btn btn-info btn-sm" ng-click="cancelViewProject()">Close</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div data-ng-switch-when="edit">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div><h5> &nbsp; Project: <i>{{selectedProject.identification.name}}</i></h5></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="panel panel-default col-md-4">
                    <div class="panel-body">
                        <form class="form" data-ng-submit="editProject()" novalidate name="editProjectForm">
                            <fieldset>
                                <div class="row">
                                    <div class="form-group">
                                        <label>Assigned gate process</label>
                                        <select id="" class="form-control" data-ng-model="selectedProject.process"
                                                data-ng-options="process._id as process.name for process in gateProcesses">
                                            <option value="">--gate process</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="pull-right">
                                        <input type="submit" value="Save" class="btn btn-success btn-sm">
                                        <button class="btn btn-info btn-sm" ng-click="cancelEditProject()">Cancel</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
