<section data-ng-controller="FinancialCostsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Financial costs</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="financialCost in financialCosts" data-ng-href="#!/financial-costs/{{financialCost._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="financialCost.created | date:'medium'"></span>
				by
				<span data-ng-bind="financialCost.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="financialCost.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!financialCosts.$resolved || financialCosts.length">
    	No Financial costs yet, why don't you <a href="/#!/financial-costs/create">create one</a>?
    </div>
</section>