<section data-ng-controller="ReviewSummariesController as parentCtrl" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title text-center"
                style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                {{profile.reviewName}}
            </h6>
        </div>
        <div class="panel-body" style="min-height: 410px; max-height: 410px; overflow-y: auto">
            <div class="row">
                <div class="col-md-12">
                    <accordion close-others="oneAtATime">
                        <accordion-group data-ng-repeat="reviewGroup in profile.groups" heading="{{reviewGroup.groupName}}">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" data-ng-model="reviewGroup.groupDescription" placeholder="No description" disabled></textarea>
                                </div>
                            </div>
                            <accordion close-others="oneAtATime">
                                <accordion-group data-ng-repeat="reviewItem in reviewGroup.items" heading="{{reviewItem.itemName}}">
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <textarea class="form-control" data-ng-model="reviewItem.itemDescription" placeholder="No description" disabled></textarea>
                                        </div>
                                    </div>
                                    <accordion close-others="oneAtATime">
                                        <accordion-group data-ng-repeat="peopleReview in reviewItem.peopleReviews">
                                            <accordion-heading>
                                                <div class="row">
                                                    <div class="col-md-10"><b>{{peopleReview.personName}}</b></div>
                                                    <div class="col-md-2"><span data-ng-show="peopleReview.submitted" class="glyphicon glyphicon-ok"></span></div>
                                                </div>
                                            </accordion-heading>
                                            <form>
                                                <div class="row">
                                                    <div class="form-group-sm col-md-6">
                                                        <label>Stakeholder group</label>
                                                        <span class="form-control">{{peopleReview.personGroupName}}</span>
                                                    </div>
                                                    <div class="form-group-sm col-md-6">
                                                        <label>Role</label>
                                                        <span class="form-control">{{peopleReview.personRoleName}}</span>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="form-group-sm col-md-6">
                                                        <label>Score</label>
                                                        <span class="form-control">{{peopleReview.score.name}}: {{peopleReview.score.numericalValue}}</span>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="form-group-sm col-md-12">
                                                        <label for="sCommentView">Comment</label>
                                                        <textarea id="sCommentView" class="form-control" data-ng-model="peopleReview.comment" placeholder="No comment" disabled required></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </accordion-group>
                                    </accordion>
                                </accordion-group>
                            </accordion>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="center-block text-center">
            <button class="btn btn-primary btn-sm" data-ng-click="cancelModal()">
                Close
            </button>
        </div>
    </div>
    <br>
    <div class="row"></div>
</section>
