<section data-ng-controller="PortfoliosController" data-ng-init="init()">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li>Setup</li>
                    <li><a href="/#!/portfolios">Portfolios</a></li>
                    <li class="active">New portfolio</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
            <form class="form-horizontal" data-ng-submit="create()" novalidate>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label" for="name">Portfolio name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="primaryPM">Portfolio manager</label>
                        <select id="primaryPM" class="form-control" data-ng-model = "portfolioManager"
                                ng-options="portfolioManager.displayName for portfolioManager in portfolioManagers">
                            <option value="">--choose person</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="secondaryPM">Backup portfolio manager</label>
                        <select id="secondaryPM" class="form-control" data-ng-model = "backupPortfolioManager"
                                ng-options="portfolioManager.displayName for portfolioManager in portfolioManagers">
                            <option value="">--choose person</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="type">Portfolio type</label>
                        <select id="type" class="form-control" data-ng-model = "type"
                                ng-options="portfolioType.name for portfolioType in portfolioTypes">
                            <option value="">--choose type</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="parent">Parent portfolio</label>
                        <select id="parent" class="form-control" data-ng-model = "parent"
                                ng-options="portfolio.name for portfolio in portfolios">
                            <option value="">--choose parent</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="funds">Portfolio funds</label>
                        <div class="controls">
                            <input type="number" data-ng-model="funds" id="funds" class="form-control" placeholder="Enter amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
