<section data-ng-controller="PortfoliosController" data-ng-init="init()">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li>Setup</li>
                    <li>Portfolio structure</li>
                    <li class="active">Portfolios</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title text-center">Portfolio tree</h6>
                </div>
                <div class="panel-body" style="min-height: 560px;  max-height: 610px; overflow-y: auto;">
                    <div class="alert alert-warning text-center" data-ng-hide="!portfolios.$resolved || portfolios.length">
                        No Portfolios yet, why don't you create a new one?
                    </div>
                    <script type="text/ng-template" id="portfolioTree">
                        <hr>
                        <button class="btn btn-default" data-ng-click="selectPortfolio(tree.node._id);">
                            {{tree.node.name}}
                        </button>
                        <ul data-ng-if="tree.nodeTrees" class="">
                            <li data-ng-repeat="tree in tree.nodeTrees" data-ng-include="'portfolioTree'"></li>
                        </ul>
                    </script>
                    <ul class="">
                        <li data-ng-repeat="tree in portfolioTrees" data-ng-include="'portfolioTree'"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-ng-switch="switchPortfolioForm">
            <div class="row"><!-- Here put role control -->
                <div class="col-md-12">
                    <button class="btn btn-primary" data-ng-click="selectNewPortfolio();"
                            data-ng-switch-when="view">
                        Add new portfolio
                    </button>
                    <button class="btn btn-success" data-ng-click="selectPortfolioForm('edit')"
                            data-ng-switch-when="view" data-ng-show="editPortfolio">
                        Edit portfolio
                    </button>
                </div>
            </div>
            <br>
            <div>
                <div class="row" data-ng-switch-when="new">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title text-center">New portfolio</h6>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <form class="form-horizontal" data-ng-submit="create()" novalidate>
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="control-label" for="name">Portfolio name</label>
                                                <div class="controls">
                                                    <input type="text" data-ng-model="newPortfolio.name" id="name" class="form-control" placeholder="Name" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="type">Portfolio type</label>
                                                <select id="type" class="form-control" data-ng-model = "newPortfolio.type"
                                                        ng-options="portfolioType.name for portfolioType in portfolioTypes">
                                                    <option value="">--choose type</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="parent">Parent portfolio</label>
                                                <select id="parent" class="form-control" data-ng-model = "newPortfolio.parent"
                                                        ng-options="newParent.name for newParent in newParents">
                                                    <option value="">--choose parent</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="primaryPM">Portfolio manager</label>
                                                <select id="primaryPM" class="form-control" data-ng-model = "newPortfolio.portfolioManager"
                                                        ng-options="portfolioManager.displayName for portfolioManager in portfolioManagers">
                                                    <option value="">--choose person</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="secondaryPM">Backup portfolio manager</label>
                                                <select id="secondaryPM" class="form-control" data-ng-model = "newPortfolio.backupPortfolioManager"
                                                        ng-options="portfolioManager.displayName for portfolioManager in portfolioManagers">
                                                    <option value="">--choose person</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="funds">Portfolio funds</label>
                                                <div class="controls">
                                                    <input type="number" data-ng-model="newPortfolio.funds" id="funds" class="form-control" placeholder="Enter amount">
                                                </div>
                                            </div>
                                            <div class="form-group pull-right">
                                                <input type="submit" class="btn btn-success">
                                                <button type="reset" class="btn btn-info" ng-click="selectPortfolioForm('view')">
                                                    Cancel
                                                </button>
                                            </div>
                                            <div data-ng-show="error" class="text-danger">
                                                <strong data-ng-bind="error"></strong>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-switch-when="view">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title text-center"><em data-ng-bind="editPortfolio.name"></em></h6>
                                <div class="text-center" data-ng-hide="editPortfolio">
                                    <em>Please select a portfolio from the tree to see the details</em>
                                </div>
                            </div>
                            <div class="panel-body" ng-show="editPortfolio">
                                <div>
                                    <div class="row">
                                        <form>
                                            <fieldset ng-disabled = true>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="portfolioName">Portfolio Name</label>
                                                        <input id="portfolioName" class="form-control" ng-model="viewPortfolio.name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="portfolioType">Portfolio type</label>
                                                        <input id="portfolioType" class="form-control"  ng-model="viewPortfolio.type.name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="parent">Parent portfolio</label>
                                                        <input id="parent" class="form-control"  ng-model="viewPortfolio.parent.name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="portfolioMgr">Portfolio Manager</label>
                                                        <input id="portfolioMgr" class="form-control"  ng-model="viewPortfolio.portfolioManager.displayName">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="backupPM">Backup Portfolio Manager</label>
                                                        <input id="backupPM" class="form-control"  ng-model="viewPortfolio.backupPortfolioManager.displayName">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="funds">Portfolio funds</label>
                                                        <input id="funds" class="form-control"  ng-model="viewPortfolio.funds">
                                                    </div>
                                                    <div data-ng-show="error" class="text-danger">
                                                        <strong data-ng-bind="error"></strong>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <small>
                                            <em class="text-muted">
                                                Last updated on
                                                <span data-ng-bind="editPortfolio.created | date:'mediumDate'"></span>
                                                by
                                                <span data-ng-bind="editPortfolio.user.displayName"></span>
                                            </em>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-switch-when="edit">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title text-center"><em data-ng-bind="editPortfolio.name"></em></h6>
                                <div class="alert alert-warning text-center" data-ng-hide="editPortfolio">
                                    Please select a portfolio to see the details
                                </div>
                            </div>
                            <div class="panel-body" ng-show="editPortfolio">
                                <div>
                                    <div class="row">
                                        <form class="form" data-ng-submit="update()" novalidate>
                                            <fieldset>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="name">Portfolio name</label>
                                                        <div class="controls">
                                                            <input type="text" data-ng-model="editPortfolio.name" id="name" class="form-control" placeholder="Name" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label" for="type">Portfolio type</label>
                                                        <select id="type" class="form-control" data-ng-model = "editPortfolio.type"
                                                                ng-options="portfolioType as portfolioType.name for portfolioType in portfolioTypes track by portfolioType._id">
                                                            <option value="">--choose type</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label" for="parent">Parent portfolio</label>
                                                        <select id="parent" class="form-control" data-ng-model = "editPortfolio.parent"
                                                                ng-options="editParent as editParent.name for editParent in editParents track by editParent._id">
                                                            <option value="">--choose parent</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label" for="primaryPM">Portfolio manager</label>
                                                        <select id="primaryPM" class="form-control" data-ng-model = "editPortfolio.portfolioManager"
                                                                ng-options="portfolioManager as portfolioManager.displayName for portfolioManager in portfolioManagers track by portfolioManager._id">
                                                            <option value="">--choose person</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label" for="backupPM">Backup portfolio manager</label>
                                                        <select id="backupPM" class="form-control" data-ng-model = "editPortfolio.backupPortfolioManager"
                                                                ng-options="portfolioManager as portfolioManager.displayName for portfolioManager in portfolioManagers track by portfolioManager._id">
                                                            <option value="">--choose person</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label" for="funds">Portfolio funds</label>
                                                        <div class="controls">
                                                            <input type="number" data-ng-model="editPortfolio.funds" id="funds" class="form-control" placeholder="Enter amount">
                                                        </div>
                                                    </div>
                                                    <div class="form-group pull-right">
                                                        <input type="submit" value="Save" class="btn btn-success">
                                                        <a class="btn btn-danger" data-ng-click="remove()">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                        </a>
                                                        <button type="button" class="btn btn-primary" ng-click="selectPortfolio(editPortfolio._id)">
                                                            Cancel
                                                        </button>
                                                    </div>
                                                    <div data-ng-show="error" class="text-danger">
                                                        <strong data-ng-bind="error"></strong>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
