<section data-ng-controller="PortfoliosController" data-ng-init="findOne()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Setup</li>
					<li><a href="/#!/portfolios">Portfolios</a></li>
					<li class="active">View portfolio</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="page-header">
		<h1 data-ng-bind="portfolio.name"></h1>
	</div>
	<div class="row">
		<div class="form-group col-md-3">
			<label>Portfolio Manager</label>
			<span class="form-control">{{portfolio.portfolioManager.displayName}}</span>
		</div>
		<div class="form-group col-md-3">
			<label>Backup Portfolio Manager</label>
			<span class="form-control">{{portfolio.backupPortfolioManager.displayName}}</span>
		</div>
		<div class="form-group col-md-3">
			<label>Portfolio type</label>
			<span class="form-control">{{portfolio.type.name}}</span>
		</div>
		<div class="form-group col-md-3">
			<label>Parent portfolio</label>
			<span class="form-control">{{portfolio.parent.name}}</span>
		</div>
		<div class="form-group col-md-3">
			<label>Portfolio funds</label>
			<span class="form-control">{{portfolio.funds}}</span>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-12">
			<div class="pull-right" data-ng-show="authentication.user">
				<a class="btn btn-success" href="/#!/portfolios/{{portfolio._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-danger" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
				<a class="btn btn-default btn-info" href="/#!/portfolios">Portfolio list</a>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<small>
				<em class="text-muted">
					Last updated on
					<span data-ng-bind="portfolio.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="portfolio.user.displayName"></span>
				</em>
			</small>
		</div>
	</div>
</section>
