<section data-ng-controller="RiskProbabilitiesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Risk probabilities</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="riskProbability in riskProbabilities" data-ng-href="#!/risk-probabilities/{{riskProbability._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="riskProbability.created | date:'medium'"></span>
				by
				<span data-ng-bind="riskProbability.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="riskProbability.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!riskProbabilities.$resolved || riskProbabilities.length">
    	No Risk probabilities yet, why don't you <a href="/#!/risk-probabilities/create">create one</a>?
    </div>
</section>