<section data-ng-controller="GateManagementSetupController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Setup</li>
					<li>Portfolio delivery</li>
					<li class="active">Gate process</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
	<div class="row">

		<!-- LIST OF PROCESSES -->

		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h6 class="panel-title text-center">Gate processes</h6>
				</div>
				<div class="panel-body">
					<div class="row" data-ng-show="userHasAuthorization">
						<div class="col-md-12">
							<button class="btn btn-primary btn-sm" ng-click="createGateProcess()">
								New gate process
							</button>
							<div data-ng-show="error" class="text-danger">
								<strong data-ng-bind="error"></strong>
							</div>
						</div>
					</div>
					<hr>
					<div class="alert alert-warning text-center" data-ng-show="gateProcesses.length === 0">
						There are no processes created yet
					</div>
					<div class="row" style="min-height: 400px; max-height: 400px; overflow-y: scroll">
						<div class="col-md-12 form-group" data-ng-repeat="process in gateProcesses track by $index">
							<button class="btn btn-default btn-block" data-ng-click="selectGateProcess(process)"
									data-ng-bind="process.name" style="overflow: hidden"
                                    data-ng-class="{'btn-default' : process.isAssigned, 'btn-info' : !process.isAssigned}">
                            </button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- GATES WITH OUTCOMES-->

		<div class="col-md-8">
			<div class="alert alert-warning text-center" data-ng-hide="selectedGateProcess">
				Please select a gate process to see the details
			</div>
			<div data-ng-show="selectedGateProcess">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<h5> &nbsp; Selected gate process:
								<button class="btn-link" data-ng-click="viewGateProcessDetails = !viewGateProcessDetails" style="overflow: hidden;">
									<i data-ng-bind="selectedGateProcess.name"></i>
								</button>
							</h5>
							<div class="panel-body" data-ng-show="viewGateProcessDetails" data-ng-switch="switchGateProcessForm[selectedGateProcess._id]">
								<div ng-switch-default="view">
									<form>
										<fieldset>
											<div class="row">
												<div class="col-md-7 form-group">
													<label for="processName" class="control-label">Process name</label>
													<input disabled id="processName" type="text" class="form-control" data-ng-model="selectedGateProcess.name">
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 form-group">
													<label for="processDescription" class="control-label">Process description</label>
													<textarea disabled id="processDescription" data-ng-model="selectedGateProcess.description" class="form-control" placeholder="No description yet"></textarea>
												</div>
											</div>
											<div class="row" data-ng-show="userHasAuthorization">
												<div class="col-md-12">
													<div class="form-group pull-right">
														<button class="btn btn-sm btn-success" data-ng-click="selectGateProcessForm(selectedGateProcess, 'edit')">Edit</button>
													</div>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
								<div ng-switch-when="edit">
									<form name="editGateProcessForm" novalidate>
										<fieldset>
											<div class="row">
												<div class="col-md-7 form-group">
													<label for="processNameEdit" class="control-label">Process name</label>
													<input id="processNameEdit" name="processNameEdit" type="text" class="form-control" data-ng-model="selectedGateProcess.name" required>
													<span data-ng-show="editGateProcessForm.processNameEdit.$error.required">
														<em style="color: red">Name is required</em>
													</span>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 form-group">
													<label for="processDescription" class="control-label">Process description</label>
													<textarea id="processDescription" data-ng-model="selectedGateProcess.description" class="form-control" placeholder="No description yet"></textarea>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group pull-right">
														<button type="button" class="btn btn-sm btn-success" data-ng-click="updateGateProcess(selectedGateProcess)" data-ng-disabled="editImpactForm.$invalid">
															Save
														</button>
														<button type="button" class="btn btn-sm btn-danger" data-ng-click="removeGateProcess(selectedGateProcess)"
																data-ng-disabled="selectedGateProcess.isAssigned">
															Delete Process
														</button>
														<button type="button" class="btn btn-sm btn-info" data-ng-click="cancelEditGateProcess(selectedGateProcess)">
															Cancel
														</button>
														<div data-ng-show="error" class="text-danger">
															<strong data-ng-bind="error"></strong>
														</div>
													</div>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" data-ng-show="userHasAuthorization">
					<div class="col-md-3">
						<button class="btn btn-primary btn-sm" data-ng-click="createGate(selectedGateProcess)" data-ng-disabled="selectedGateProcess.isAssigned">
							New gate
						</button>
						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12 form-group" data-ng-repeat="gate in selectedGateProcess.gates | orderBy: 'position'">
						<button class="btn btn-default btn-block" data-ng-click="viewGateDetails = !viewGateDetails"
								title="Last updated on {{gate.created | date:'medium'}} by {{gate.user.displayName}}" style="overflow: hidden;">
							<span class="badge pull-left" data-ng-bind="gate.position"></span><span data-ng-bind="gate.name"></span>
						</button>
						<div data-ng-show="viewGateDetails">
							<div class="panel panel-default" >
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<div class="panel panel-default" data-ng-switch="switchGateForm[gate._id]">
												<div class="panel-body" ng-switch-default="view">
													<div class="row">
														<div class="col-md-7 form-group">
															<label for="gateName" class="control-label">Gate name</label>
															<input disabled id="gateName" type="text" class="form-control" data-ng-model="gate.name">
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 form-group">
															<label for="gateDescription" class="control-label">Gate description</label>
															<textarea disabled id="gateDescription" data-ng-model="gate.description" class="form-control" placeholder="No description yet"></textarea>
														</div>
													</div>
													<div class="row">
														<div class="col-md-3 form-group">
															<label for="gatePosition" class="control-label">Gate position</label>
															<input disabled id="gatePosition" data-ng-model="gate.position" class="form-control">
														</div>
													</div>
													<div class="row" data-ng-show="userHasAuthorization">
														<div class="col-md-12">
															<div class="form-group pull-right">
																<button class="btn btn-success btn-sm" data-ng-click="selectGate(gate)">Edit</button>
															</div>
														</div>
													</div>
												</div>
												<div class="panel-body" ng-switch-when="edit">
													<form name="editGateForm" novalidate>
														<fieldset>
															<div class="row">
																<div class="col-md-12">
																	<div class="panel-body">
																		<div class="row">
																			<div class="col-md-7 form-group">
																				<label for="gateNameEdit" class="control-label">Gate name</label>
																				<input id="gateNameEdit" name="gateNameEdit" type="text" class="form-control" data-ng-model="gate.name" required>
																				<span data-ng-show="editGateForm.gateNameEdit.$error.required">
																					<em style="color: red">Name is required</em>
																				</span>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12 form-group">
																				<label for="gateDescription" class="control-label">Gate description</label>
																				<textarea id="gateDescription" data-ng-model="gate.description" class="form-control" placeholder="No description yet"></textarea>
																			</div>
																		</div>
																		<div class="row" data-ng-hide="gate.position === selectedGateProcess.gates.length || gate.position === 1">
																			<div class="col-md-3 form-group">
																				<label for="gatePosition" class="control-label">Gate position</label>
																				<select id="gatePosition" class="form-control" data-ng-model = "gate.position"
																						data-ng-options="position for position in allowedGatePositions"
                                                                                        data-ng-disabled="selectedGateProcess.isAssigned">
																				</select>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-md-12">
																	<div class="form-group pull-right">
																		<button type="button" class="btn btn-sm btn-success" data-ng-click="updateGate(selectedGateProcess, gate)" data-ng-disabled="editGateForm.$invalid">
																			Save
																		</button>
																		<button type="button" class="btn btn-sm btn-danger" data-ng-click="removeGate(selectedGateProcess, gate)"
																				data-ng-hide="gate.position === selectedGateProcess.gates.length || gate.position === 1"
                                                                                data-ng-disabled="selectedGateProcess.isAssigned">
																			Delete Gate
																		</button>
																		<button type="button" class="btn btn-sm btn-info" data-ng-click="cancelEditGate(gate)">
																			Cancel
																		</button>
																		<div data-ng-show="error" class="text-danger">
																			<strong data-ng-bind="error"></strong>
																		</div>
																	</div>
																</div>
															</div>
														</fieldset>
													</form>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<div class="row" data-ng-show="userHasAuthorization">
														<div class="col-md-3">
															<button type="button" class="btn btn-primary btn-sm" data-ng-click="createGateOutcome(gate)" data-ng-disabled="selectedGateProcess.isAssigned">
																New outcome
															</button>
															<div data-ng-show="error" class="text-danger">
																<strong data-ng-bind="error"></strong>
															</div>
														</div>
													</div>
													<hr>
													<div class="row">
														<div class="col-md-4 form-group" data-ng-repeat="gateOutcome in gate.gateOutcomes track by $index" data-ng-switch="switchGateOutcomeForm[gateOutcome._id]">
															<button class="btn btn-default btn-block" data-ng-bind="gateOutcome.name" data-ng-click="viewGateOutcomeDetails = !viewGateOutcomeDetails"
																	title="Last updated on {{gateOutcome.created | date:'medium'}} by {{gateOutcome.user.displayName}}" style="overflow: hidden;"></button>
															<div data-ng-show="viewGateOutcomeDetails">
																<div class="panel panel-default">
																	<div class="panel-body" ng-switch-default="view">
																		<div class="row">
																			<div class="col-md-12">
																				<form>
																					<fieldset>
																						<div class="row">
																							<div class="form-group col-md-12">
																								<label for="gateOutcomeName" class="control-label">Outcome name</label>
																								<input disabled id="gateOutcomeName" type="text" class="form-control" data-ng-model="gateOutcome.name">
																							</div>
																						</div>
																						<div class="row">
																							<div class="form-group col-md-12">
																								<label for="gateOutcomeDescription" class="control-label">Outcome description</label>
																								<textarea disabled id="gateOutcomeDescription" data-ng-model="gateOutcome.description" class="form-control" placeholder="No description yet"></textarea>
																							</div>
																						</div>
																					</fieldset>
																				</form>
																				<div class="row" data-ng-show="userHasAuthorization">
																					<div class="col-md-12 pull-right">
																						<button type="button" class="btn btn-success btn-xs pull-right"
																								data-ng-click="selectEditGateOutcome(gate, gateOutcome)">
																							Edit
																						</button>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="panel-body" ng-switch-when="edit">
																		<div class="row" >
																			<div class="col-md-12">
																				<form name="editGateOutcomeForm" novalidate>
																					<fieldset>
																						<div class="row">
																							<div class="form-group col-md-12">
																								<label for="gateOutcomeNameEdit" class="control-label">Outcome name</label>
																								<input id="gateOutcomeNameEdit" name="gateOutcomeNameEdit" type="text" class="form-control" data-ng-model="gateOutcome.name" required>
																								<span data-ng-show="editGateOutcomeForm.gateOutcomeNameEdit.$error.required">
																									<em style="color: red">Name is required</em>
																								</span>
																							</div>
																						</div>
																						<div class="row">
																							<div class="form-group col-md-12">
																								<label for="gateOutcomeDescription" class="control-label">Outcome description</label>
																								<textarea id="gateOutcomeDescription" data-ng-model="gateOutcome.description" class="form-control" placeholder="No description yet"></textarea>
																							</div>
																						</div>
																						<div class="row">
																							<div class="col-md-12">
																								<div class="pull-right btn-group-xs">
																									<button type="button" class="btn btn-success" ng-click="updateGateOutcome(gate, gateOutcome)" data-ng-disabled="editGateOutcomeForm.$invalid">
																										Save
																									</button>
																									<a class="btn btn-danger" data-ng-click="removeGateOutcome(gate, gateOutcome)" data-ng-disabled="selectedGateProcess.isAssigned">
																										<i class="glyphicon glyphicon-trash"></i>
																									</a>
																									<button type="button" class="btn btn-info" ng-click="cancelEditGateOutcome(gateOutcome)">
																										Cancel
																									</button>
																								</div>
																							</div>
																						</div>
																						<div data-ng-show="error" class="text-danger">
																							<strong data-ng-bind="error"></strong>
																						</div>
																					</fieldset>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="alert alert-warning text-center" data-ng-show="gate.gateOutcomes.length === 0">
														No gate Outcomes added to this gate yet
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="alert alert-warning text-center" data-ng-hide="!gates.$resolved || gates.length">
					No gates yet
				</div>
			</div>
		</div>
	</div>
</section>
