<section data-ng-controller="StatusSummaryController as vm" data-ng-init="vm.init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Portfolio delivery</li>
                    <li>Status</li>
					<li class="active">Portfolio status summary</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="row">
        <div class="col-sm-3"><!-- PORTFOLIO LIST -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title text-center">Portfolio tree</h6>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning text-center" data-ng-hide="!vm.portfolios.$resolved || vm.portfolios.length">
                        No portfolios yet
                    </div>
                    <div class="row" data-ng-show="vm.portfolios.$resolved && vm.portfolios.length !== 0">
                        <div class="col-md-12">
                            <button class="btn btn-default btn-sm btn-info" style="min-width:50px; max-width: 150px; overflow:hidden; margin: 2%;"
                                    data-ng-click="vm.selectPortfolio('all')">
                                All
                            </button>
                            <button class="btn btn-default btn-sm btn-warning" style="min-width:50px; max-width: 150px; overflow:hidden; margin: 2%;"
                                    data-ng-click="vm.selectPortfolio('unassigned')">
                                Unassigned
                            </button>
                        </div>
                    </div>
                    <hr style="margin: 5px">
                    <div class="row" style="min-height: 470px;  max-height: 470px; overflow-y: auto;">
                        <div class="col-md-12">
                            <script type="text/ng-template" id="portfolioTree">
                                <button class="btn btn-default btn-sm" data-ng-click="vm.selectPortfolio(tree.node);"
                                        style="min-width:50px; max-width: 150px; overflow:hidden; margin: 2%;">
                                    <span data-ng-bind="tree.node.name"></span>
                                </button>
                                <ul data-ng-if="tree.nodeTrees" style="list-style: none;">
                                    <li data-ng-repeat="tree in tree.nodeTrees track by $index " >
                                        <span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
                                    </li>
                                </ul>
                            </script>
                            <ul style="margin-left: 2%; padding-left: 2%; list-style: none;">
                                <li data-ng-repeat="tree in vm.portfolioTrees track by $index" >
                                    <span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="col-sm-9">
            <div class="row">
                <div class="col-md-12">
                    <div data-ng-hide="vm.selectedPortfolio || vm.portfolios.length === 0" class="alert alert-warning text-center">
                        Select a portfolio to see its details
                    </div>
                </div>
            </div>
            <div class="row" data-ng-show="vm.selectedPortfolio">
                <div class="col-md-12">
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                                {{vm.selectedPortfolio.name}}
                            </h6>
                        </div>
                        <div class="panel-body" style="min-height: 545px;  max-height: 545px; overflow-y: auto; overflow-x: auto">
                            <div class="row" data-ng-show="!vm.qualitativeSummaryView.length">
                                <div class="col-md-12">
                                    <div class="alert alert-warning text-center">
                                        No ranking to show
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-ng-show="vm.qualitativeSummaryView.length">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-condensed small">
                                            <thead>
                                            <tr>
                                                <th colspan="2" class="text-center">Ranking</th>
                                                <th rowspan="2" class="text-center">Project</th>
                                                <th rowspan="2" colspan="2" class="text-center">
                                                    <span>Qualitative score</span>
                                                    <button class="btn btn-xs" data-ng-click="vm.orderByRanking('qualitativeScore', true)">
                                                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                                    </button>
                                                </th>
                                                <th rowspan="2" colspan="2" class="text-center">
                                                    <span>Risk score</span>
                                                    <button class="btn btn-xs" data-ng-click="vm.orderByRanking('riskScore', false)">
                                                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                                    </button>
                                                </th>
                                                <th rowspan="2" class="text-center">
                                                    <span>Earmarked funds</span>
                                                    <button class="btn btn-xs" data-ng-click="vm.orderByRanking('earmarkedFunds', true)">
                                                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                                    </button>
                                                </th>
                                                <th colspan="6" class="text-center">Financial indicators</th>
                                            </tr>
                                            <tr>
                                                <th data-ng-show="vm.treeSelectionFlag === 'all' || vm.treeSelectionFlag === 'unassigned'" class="text-center">
                                                    <span>Overall</span>
                                                    <button class="btn btn-xs" data-ng-click="vm.orderByRanking('overallRanking', false)">
                                                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                                    </button>
                                                </th>
                                                <th data-ng-show="vm.treeSelectionFlag === 'portfolio'" class="text-center">
                                                    <span>Portfolio</span>
                                                    <button class="btn btn-xs" data-ng-click="vm.orderByRanking('portfolioRanking', false)">
                                                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                                    </button>
                                                </th>
                                                <th> </th>
                                                <th class="text-center">
                                                    <span>Benefits</span>
                                                    <button class="btn btn-xs" data-ng-click="vm.orderByRanking('financialRatios.totalBenefitDiscounted', true)">
                                                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                                    </button>
                                                </th>
                                                <th class="text-center">
                                                    <span>Costs</span>
                                                    <button class="btn btn-xs" data-ng-click="vm.orderByRanking('financialRatios.totalCostDiscounted', true)">
                                                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                                    </button>
                                                </th>
                                                <th class="text-center">
                                                    <span>B/C ratio</span>
                                                    <button class="btn btn-xs" data-ng-click="vm.orderByRanking('financialRatios.benefitCostRatio', true)">
                                                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                                    </button>
                                                </th>
                                                <th class="text-center">
                                                    <span>NPV</span>
                                                    <button class="btn btn-xs" data-ng-click="vm.orderByRanking('financialRatios.totalNetDiscounted', true)">
                                                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                                    </button>
                                                </th>
                                                <th class="text-center">
                                                    <span>IRR</span>
                                                    <button class="btn btn-xs" data-ng-click="vm.orderByRanking('financialRatios.IRR', true)">
                                                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                                    </button>
                                                </th>
                                                <th class="text-center">
                                                    <span>Payback</span>
                                                    <button class="btn btn-xs" data-ng-click="vm.orderByRanking('financialRatios.IRR', false)">
                                                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                                    </button>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-ng-repeat="profile in vm.qualitativeSummaryView | orderBy : vm.orderByProperty : vm.orderByDirection" data-ng-click="vm.selectProjectProfile(profile)">
                                                <td data-ng-show="vm.treeSelectionFlag === 'all' || vm.treeSelectionFlag === 'unassigned'" class="text-center">{{profile.overallRanking}}</td>
                                                <td data-ng-show="vm.treeSelectionFlag === 'portfolio'" class="text-center">{{profile.portfolioRanking}}</td>
                                                <td class="text-center"><b>{{$index + 1}}</b></td>
                                                <td class="btn-link">{{profile.projectName}}</td>
                                                <td class="text-center">{{profile.qualitativeScore | number : 2}}</td>
                                                <td class="text-center">{{profile.qualitativeScorePercentile*100 | number : 2}}%</td>
                                                <td class="text-center">{{profile.riskScore | number : 2}}</td>
                                                <td class="text-center">{{profile.riskScorePercentile*100 | number : 2}}%</td>
                                                <td class="text-center">{{profile.earmarkedFunds | number : 0}}</td>
                                                <td class="text-center">{{profile.financialRatios.totalBenefitDiscounted | number : 0}}</td>
                                                <td class="text-center">{{profile.financialRatios.totalCostDiscounted | number : 0}}</td>
                                                <td class="text-center">{{profile.financialRatios.benefitCostRatio * 100 | number : 1}}%</td>
                                                <td class="text-center">{{profile.financialRatios.totalNetDiscounted | number : 0}}</td>
                                                <td class="text-center">{{profile.financialRatios.IRR * 100 | number : 1}}%</td>
                                                <td class="text-center">{{profile.financialRatios.paybackPeriod | number : 1}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</section>
