<section data-ng-controller="StatusSummaryController as vm" data-ng-init="vm.init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading" style="padding: 0">
				<ol class="breadcrumb">
					<li>Portfolio delivery</li>
                    <li>Status</li>
					<li class="active">Portfolio status summary</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="row">
        <div class="col-sm-3"><!-- PORTFOLIO LIST -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title text-center">Portfolio tree</h6>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning text-center" data-ng-hide="!vm.portfolios.$resolved || vm.portfolios.length">
                        No portfolios yet
                    </div>
                    <div class="row" data-ng-show="vm.portfolios.$resolved && vm.portfolios.length !== 0">
                        <div class="col-md-12">
                            <button class="btn btn-default btn-sm btn-info" style="min-width:50px; max-width: 150px; overflow:hidden; margin: 2%;"
                                    data-ng-click="vm.selectPortfolio('all')">
                                All
                            </button>
                            <button class="btn btn-default btn-sm btn-warning" style="min-width:50px; max-width: 150px; overflow:hidden; margin: 2%;"
                                    data-ng-click="vm.selectPortfolio('unassigned')">
                                Unassigned
                            </button>
                        </div>
                    </div>
                    <hr style="margin: 5px">
                    <div class="row" style="min-height: 470px;  max-height: 470px; overflow-y: auto;">
                        <div class="col-md-12">
                            <script type="text/ng-template" id="portfolioTree">
                                <button class="btn btn-default btn-sm" data-ng-click="vm.selectPortfolio(tree.node);"
                                        style="min-width:50px; max-width: 150px; overflow:hidden; margin: 2%;">
                                    <span data-ng-bind="tree.node.name"></span>
                                </button>
                                <ul data-ng-if="tree.nodeTrees" style="list-style: none;">
                                    <li data-ng-repeat="tree in tree.nodeTrees track by $index " >
                                        <span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
                                    </li>
                                </ul>
                            </script>
                            <ul style="margin-left: 2%; padding-left: 2%; list-style: none;">
                                <li data-ng-repeat="tree in vm.portfolioTrees track by $index" >
                                    <span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="col-sm-9">
            <div class="row">
                <div class="col-md-12">
                    <div data-ng-hide="vm.selectedPortfolio || vm.portfolios.length === 0" class="alert alert-warning text-center">
                        Select a portfolio to see its details
                    </div>
                </div>
            </div>
            <div class="row" data-ng-show="vm.selectedPortfolio">
                <div class="col-md-12">
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                                {{vm.selectedPortfolio.name}}
                            </h6>
                        </div>
                        <div class="panel-body" style="min-height: 545px;  max-height: 545px; overflow-y: auto; overflow-x: auto">
                            <div class="row" data-ng-show="!vm.projects.length">
                                <div class="col-md-12">
                                    <div class="alert alert-warning text-center">
                                        No status updates to show
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-ng-show="vm.projects.length">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-condensed small">
                                            <thead>
                                            <tr>
                                                <th rowspan="2" class="text-center">Project</th>
                                                <th rowspan="2" class="text-center">Current gate</th>
                                                <th rowspan="2" class="text-center">Overall</th>
                                                <th rowspan="2" class="text-center">Duration</th>
                                                <th rowspan="2" class="text-center">Cost</th>
                                                <th rowspan="2" class="text-center">Completion</th>
                                                <th class="text-center" colspan="{{vm.logStatusAreas.length}}">Detail areas</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center" data-ng-repeat="area in vm.logStatusAreas track by area._id">{{area.name}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-ng-repeat="project in vm.projects" data-ng-click="vm.selectProjectProfile(project)">
                                                <td class="btn-link">{{project.identification.name}}</td>
                                                <td class="text-center">{{project.currentGate.name}}</td>
                                                <td class="text-center"
                                                    data-ng-repeat="gate in project.process.gates"
                                                    data-ng-if="gate.gateState.currentRecord.currentGate"
                                                    style="background-color: {{gate.deliveryStatus.overallStatus.currentRecord.status.color}}">
                                                    {{gate.deliveryStatus.overallStatus.currentRecord.status}}
                                                </td>
                                                <!--<td class="text-center" style="background-color: {{project.gateStatusAssignment.durationStatus.currentRecord.status.color}}">-->
                                                    <!--{{project.gateStatusAssignment.durationStatus.currentRecord.status.name}}-->
                                                <!--</td>-->
                                                <!--<td class="text-center" style="background-color: {{project.gateStatusAssignment.costStatus.currentRecord.status.color}}">-->
                                                    <!--{{project.gateStatusAssignment.costStatus.currentRecord.status.name}}-->
                                                <!--</td>-->
                                                <!--<td class="text-center" style="background-color: {{project.gateStatusAssignment.completionStatus.currentRecord.status.color}}">-->
                                                    <!--{{project.gateStatusAssignment.completionStatus.currentRecord.status.name}}-->
                                                <!--</td>-->
                                                <!--<td class="text-center" data-ng-repeat="areaReview in project.projectAreaReviews"-->
                                                    <!--style="background-color: {{areaReview.currentRecord.status.color}}">-->
                                                    <!--{{areaReview.currentRecord.status.name}}-->
                                                <!--</td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</section>
