<section data-ng-controller="ProjectIdentificationController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Portfolio definition</li>
					<li>Identification</li>
					<li class="active">Projects identification</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
    {{selectedProject}}
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title text-center">Projects</h6>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 form-group-sm">
                            <input type="text" class="form-control" placeholder="Type to filter projects" data-ng-model="filterProject">
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="min-height: 350px; max-height: 350px; overflow-y: auto">
                        <div class="col-md-12">
                            <button type="button" ng-repeat="project in projects | filter:filterProject"
                                    ng-click="selectProject(project)" class="btn btn-default btn-sm center-block btn-block" style="overflow: hidden;">
                                {{project.identification.idNumber}} {{project.identification.name}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" data-ng-switch="switchProjectForm">
            <div ng-switch-default="default">
                <div class="row" ng-show="userHasAuthorization">
                    <div class="col-md-12">
                        <button class="btn btn-primary" data-ng-click="selectProjectForm('new')">
                            New value
                        </button>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div data-ng-hide="selectedProject || projects.length === 0" class="alert alert-warning text-center">
                            Select a project to see its details
                        </div>
                        <div data-ng-show="projects.length === 0" class="alert alert-warning text-center">
                            There are no projects created yet
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" data-ng-switch-when="new">
                <div class="panel-heading">
                    <h6 class="panel-title text-center">Add new project</h6>
                </div>
                <div class="panel-body" style="min-height: 450px;  max-height: 450px; overflow-y: auto;">
                    <form class="form" data-ng-submit="createProject()" novalidate name="newProjectForm">
                        <fieldset>
                            <div class="row">
                                <div class="form-group-sm col-md-3">
                                    <label for="uid">Project ID</label>
                                    <input id="uid" type="text" class="form-control" placeholder="Enter identifier"
                                           ng-model="newProject.idNumber">
                                </div>
                                <div class="form-group-sm col-md-9">
                                    <label for="projectName">Project name</label>
                                    <input id="projectName" type="text" class="form-control" placeholder="Enter name"
                                           ng-model="newProject.name">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-4">
                                    <label for="projectStart">Requested Start</label>
                                    <input id="projectStart" type="date" class="form-control"
                                           ng-model="newProject.reqStartDate">
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="projectEnd">Requested End</label>
                                    <input id="projectEnd" type="date" class="form-control"
                                           ng-model="newProject.reqEndDate">
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="projectFunds">Earmarked funds</label>
                                    <input id="projectFunds" type="number" min="0" class="form-control"
                                           ng-model="newProject.earmarkedFunds">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-4">
                                    <label for="projectManagerNew">Project Manager</label>
                                    <select id="projectManagerNew" class="form-control" data-ng-model = "newProject.projectManager"
                                            ng-options="projectManager.displayName for projectManager in projectManagers">
                                        <option value="">--choose person</option>
                                    </select>
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="backupProjectManagerNew">Backup Project Manager</label>
                                    <select id="backupProjectManagerNew" class="form-control" data-ng-model = "newProject.backupProjectManager"
                                            ng-options="projectManager.displayName for projectManager in projectManagers">
                                        <option value="">--choose person</option>
                                    </select>
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="gateProcessNew">Gate process</label>
                                    <select id="gateProcessNew" class="form-control" data-ng-model = "newProject.process"
                                            ng-options="process.name for process in gateProcesses" >
                                        <option value="">--choose process</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-12">
                                    <label for="projectDescription">Project description</label>
                                    <textarea id="projectDescription" class="form-control" placeholder="Enter description" data-ng-model="newProject.projectDescription"></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <div class="pull-right">
                                        <input type="submit" value="Save" class="btn btn-success btn-sm">
                                        <button class="btn btn-info btn-sm" ng-click="cancelNewProject()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="panel panel-default" data-ng-switch-when="view">
                <div class="panel-heading">
                    <h6 class="panel-title text-center" data-ng-bind="selectedProject.identification.name"></h6>
                </div>
                <div class="panel-body" style="min-height: 560px;  max-height: 610px; overflow-y: auto;">
                    <div class="panel panel-default">
                        <div><h5> &nbsp; Strategy node: <i>{{selectedStrategyNode.name}}</i></h5></div>
                    </div>
                    <form class="form">
                        <fieldset>
                            <div class="row">
                                <div class="form-group-sm col-md-3">
                                    <label for="uid">Project ID</label>
                                    <input id="uid" type="text" class="form-control" disabled placeholder="Enter identifier"
                                           ng-model="selectedProject.identification.idNumber">
                                </div>
                                <div class="form-group-sm col-md-9">
                                    <label for="projectName">Project name</label>
                                    <input id="projectName" type="text" class="form-control" disabled placeholder="Enter name"
                                           ng-model="selectedProject.identification.name">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-4">
                                    <label for="projectStart">Requested Start</label>
                                    <input id="projectStart" type="date" class="form-control" disabled
                                           ng-model="selectedProject.identification.reqStartDate">
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="projectEnd">Requested End</label>
                                    <input id="projectEnd" type="date" class="form-control" disabled
                                           ng-model="selectedProject.identification.reqEndDate">
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="projectFunds">Earmarked funds</label>
                                    <input id="projectFunds" type="number" min="0" class="form-control" disabled
                                           ng-model="selectedProject.identification.earmarkedFunds">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-5">
                                    <label for="projectManagerNew">Project Manager</label>
                                    <select id="projectManagerNew" class="form-control" data-ng-model = "selectedProject.identification.projectManager"
                                            ng-options="projectManager.displayName for projectManager in projectManagers" disabled>
                                        <option value="">--choose person</option>
                                    </select>
                                </div>
                                <div class="form-group-sm col-md-5">
                                    <label for="backupProjectManagerNew">Backup Project Manager</label>
                                    <select id="backupProjectManagerNew" class="form-control" data-ng-model = "selectedProject.identification.backupProjectManager"
                                            ng-options="projectManager.displayName for projectManager in projectManagers" disabled>
                                        <option value="">--choose person</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-5">
                                    <label for="gateProcessNew">Gate process</label>
                                    <select id="gateProcessNew" class="form-control" data-ng-model = "selectedProject.process"
                                            ng-options="process.name for process in gateProcesses" disabled>
                                        <option value="">--choose process</option>
                                    </select>
                                </div>
                                <div class="form-group-sm col-md-5">
                                    <label for="portfolioNew">Portfolio</label>
                                    <select id="portfolioNew" class="form-control" data-ng-model = "selectedProject.identification.portfolio"
                                            ng-options="portfolio.name for portfolio in portfolios" disabled>
                                        <option value="">--choose portfolio</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-12">
                                    <label for="projectDescription">Project description</label>
                                    <textarea id="projectDescription" class="form-control" placeholder="Enter description" data-ng-model="selectedProject.identification.projectDescription" disabled></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group pull-right">
                                        <button class="btn btn-success btn-sm" ng-click="selectProjectForm('edit')">Edit</button>
                                        <button class="btn btn-info btn-sm" ng-click="cancelViewProject()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="panel panel-default" data-ng-switch-when="edit">
                <div class="panel-heading">
                    <h6 class="panel-title text-center" data-ng-bind="selectedProject.identification.name"></h6>
                </div>
                <div class="panel-body" style="min-height: 560px;  max-height: 610px; overflow-y: auto;">
                    <div class="panel panel-default">
                        <div><h5> &nbsp; Strategy node: <i>{{selectedStrategyNode.name}}</i></h5></div>
                    </div>
                    <form class="form" data-ng-submit="editProject()" novalidate name="editProjectForm">
                        <fieldset>
                            <div class="row">
                                <div class="form-group-sm col-md-3">
                                    <label for="uid">Project ID</label>
                                    <input id="uid" type="text" class="form-control" placeholder="Enter identifier"
                                           ng-model="selectedProject.identification.idNumber">
                                </div>
                                <div class="form-group-sm col-md-9">
                                    <label for="projectName">Project name</label>
                                    <input id="projectName" type="text" class="form-control" placeholder="Enter name"
                                           ng-model="selectedProject.identification.name">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-4">
                                    <label for="projectStart">Requested Start</label>
                                    <input id="projectStart" type="date" class="form-control"
                                           ng-model="selectedProject.identification.reqStartDate">
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="projectEnd">Requested End</label>
                                    <input id="projectEnd" type="date" class="form-control"
                                           ng-model="selectedProject.reqEndDate">
                                </div>
                                <div class="form-group-sm col-md-4">
                                    <label for="projectFunds">Earmarked funds</label>
                                    <input id="projectFunds" type="number" min="0" class="form-control"
                                           ng-model="selectedProject.identification.earmarkedFunds">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-5">
                                    <label for="projectManagerNew">Project Manager</label>
                                    <select id="projectManagerNew" class="form-control" data-ng-model = "selectedProject.identification.projectManager"
                                            ng-options="projectManager.displayName for projectManager in projectManagers" >
                                        <option value="">--choose person</option>
                                    </select>
                                </div>
                                <div class="form-group-sm col-md-5">
                                    <label for="backupProjectManagerNew">Backup Project Manager</label>
                                    <select id="backupProjectManagerNew" class="form-control" data-ng-model = "selectedProject.identification.backupProjectManager"
                                            ng-options="projectManager.displayName for projectManager in projectManagers" >
                                        <option value="">--choose person</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-5">
                                    <label for="gateProcessNew">Gate process</label>
                                    <select id="gateProcessNew" class="form-control" data-ng-model = "selectedProject.process"
                                            ng-options="process.name for process in gateProcesses" >
                                        <option value="">--choose process</option>
                                    </select>
                                </div>
                                <div class="form-group-sm col-md-5">
                                    <label for="portfolioNew">Portfolio</label>
                                    <select id="portfolioNew" class="form-control" data-ng-model = "selectedProject.identification.portfolio"
                                            ng-options="portfolio.name for portfolio in portfolios" >
                                        <option value="">--choose portfolio</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-md-12">
                                    <label for="projectDescription">Project description</label>
                                    <textarea id="projectDescription" class="form-control" placeholder="Enter description" data-ng-model="selectedProject.identification.projectDescription" ></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-5 form-group pull-right">
                                    <input type="submit" value="Save" class="btn btn-success btn-sm">
                                    <button type="button" class="btn btn-sm btn-danger" data-ng-click="deleteProject()">
                                        Delete
                                    </button>
                                    <button class="btn btn-info btn-sm" ng-click="cancelEditProject()">Cancel</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
