<section data-ng-controller="StrategyAlignmentController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Portfolio definition</li>
					<li>Identification</li>
					<li class="active">Projects identification</li>
				</ol>
			</div>
		</div>
	</div>
	{{selectedProject}}
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h6 class="panel-title text-center">Strategy tree</h6>
				</div>
				<div class="panel-body" style="min-height: 560px;  max-height: 610px; overflow-y: auto;">
					<div class="alert alert-warning text-center" data-ng-hide="!strategyNodes.$resolved || strategyNodes.length">
						No strategy nodes yet
					</div>
					<script type="text/ng-template" id="portfolioTree">
						<hr>
						<button class="btn btn-default" data-ng-click="selectStrategyNode(tree.node);">
							{{tree.node.name}}
						</button>
						<ul data-ng-if="tree.nodeTrees" class="">
							<li data-ng-repeat="tree in tree.nodeTrees track by $index" data-ng-include="'portfolioTree'"></li>
						</ul>
					</script>
					<ul class="">
						<li data-ng-repeat="tree in strategyTrees track by $index" data-ng-include="'portfolioTree'"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h6 class="panel-title text-center">Projects for strategy node</h6>
				</div>
				<div class="panel-body" style="min-height: 560px;  max-height: 610px; overflow-y: auto;">
					<div class="alert alert-warning text-center" data-ng-hide="selectedStrategyNode">
						Select a strategy node to see details
					</div>
					<div data-ng-show="selectedStrategyNode">
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-default">
									<div><h5> &nbsp; Strategy node: <i>{{selectedStrategyNode.name}}</i></h5></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12" data-ng-repeat="project in strategyNodeProjects">
								<button class="btn btn-default btn-block" data-ng-bind="project.identification.name"></button>
								<p data-ng-hide="strategyNodeProjects.length !== 0"><i>This strategy node has no projects identified</i></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h6 class="panel-title text-center">Details</h6>
				</div>
				<div class="panel-body" style="min-height: 560px;  max-height: 610px; overflow-y: auto;">

				</div>
			</div>
		</div>
	</div>

</section>
