<section data-ng-controller="StrategyAlignmentController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading" style="padding: 0">
				<ol class="breadcrumb">
					<li>Portfolio definition</li>
					<li>Identification</li>
					<li class="active">Strategy alignment</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h6 class="panel-title text-center">Strategy tree</h6>
				</div>
				<div class="panel-body" style="min-height: 500px;  max-height: 500px; overflow-y: auto;">
					<div class="alert alert-warning text-center" data-ng-hide="!strategyNodes.$resolved || strategyNodes.length">
						No strategy nodes yet
					</div>
					<script type="text/ng-template" id="portfolioTree">
						<button class="btn btn-default btn-sm" data-ng-click="selectNode(tree.node);"
                                style="overflow: hidden; margin: 2%;"
                                data-ng-disabled="isResolving">
                            <span data-ng-bind="tree.node.name"></span> &nbsp;
                            <span class="badge" data-ng-bind="selectedAssignments.assignedProjects[tree.node._id].length"></span>
						</button>
						<ul data-ng-if="tree.nodeTrees" style="list-style: none;">
							<li data-ng-repeat="tree in tree.nodeTrees track by $index">
                                <span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
                            </li>
						</ul>
					</script>
					<ul style="margin-left: 2%; padding-left: 2%">
						<li data-ng-repeat="tree in strategyTrees track by $index" >
                            <span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
                        </li>
					</ul>
				</div>
			</div>
		</div>
        <div class="col-md-8" data-ng-show="!selectedNode">
            <div class="alert alert-warning text-center">
                Select a node to see its details
            </div>
        </div>
        <div class="col-md-8" data-ng-show="selectedNode">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%;">
                        {{selectedNode.name}}
                    </h6>
                </div>
                <div class="panel-body" style="max-height: 500px; min-height: 500px;">
                    <div class="row">
                        <div class="col-md-6" >
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">
                                        Assigned projects&nbsp;
                                        <a href="" tooltip="Drag and Drop between the assigned and unassigned columns"
                                           tooltip-trigger="focus"
                                                data-ng-show="userHasAuthorization">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </a>
                                    </h6>
                                </div>
                                <div class="panel-body">
                                    <div data-ng-show="selectedNode">
                                        <div class="row">
                                            <div class="col-md-12 form-group-sm">
                                                <input type="text" class="form-control" placeholder="Type to filter projects" data-ng-model="filterAssignedProject">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row" style="max-height: 350px; min-height: 350px;">
                                            <div class="col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body" data-as-sortable="dragControlListenersAssigned" data-ng-model="selectedAssignments.assignedProjects[selectedNode._id]"
                                                         is-disabled="isResolving || !userHasAuthorization"
                                                         style="overflow-y: auto; max-height: 330px; min-height: 330px;">
                                                        <div data-ng-show="selectedAssignments.assignedProjects[selectedNode._id].length === 0" class="alert alert-warning text-center">
                                                            No assigned projects yet
                                                        </div>
                                                        <button data-ng-repeat="project in selectedAssignments.assignedProjects[selectedNode._id] track by project._id | filter:filterAssignedProject" as-sortable-item
                                                                class="btn btn-default btn-sm btn-block center-block" style="overflow: hidden;">
                                                            <div as-sortable-item-handle class="text-center">
                                                                <span data-ng-show="project.identification.idReference">{{project.identification.idReference}} - </span><span>{{project.identification.name}}</span>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center">Unassigned projects</h6>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-12 form-group-sm">
                                                <input type="text" class="form-control" placeholder="Type to filter projects" data-ng-model="filterUnassignedProject">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row" style="max-height: 350px; min-height: 350px;">
                                            <div class="col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body" data-as-sortable="dragControlListenersUnassigned" data-ng-model="selectedAssignments.unassignedProjects"
                                                         is-disabled="isResolving || !userHasAuthorization"
                                                         style="overflow-y: auto; max-height: 330px; min-height: 330px;">
                                                        <div data-ng-show="selectedAssignments.unassignedProjects.length === 0" class="alert alert-warning text-center">
                                                            No unassigned projects yet
                                                        </div>
                                                        <button data-ng-repeat="project in selectedAssignments.unassignedProjects track by project._id | filter:filterUnassignedProject" as-sortable-item
                                                                class="btn btn-default btn-sm btn-block center-block" style="overflow: hidden;">
                                                            <div as-sortable-item-handle class="text-center">
                                                                <span data-ng-show="project.identification.idReference">{{project.identification.idReference}} - </span><span>{{project.identification.name}}</span>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>

</section>
