<section data-ng-controller="QualitativeImpactScoresController" data-ng-init="find()">
    <div class="page-header">
        <h1>Qualitative impact scores</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="qualitativeImpactScore in qualitativeImpactScores" data-ng-href="#!/qualitative-impact-scores/{{qualitativeImpactScore._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="qualitativeImpactScore.created | date:'medium'"></span>
				by
				<span data-ng-bind="qualitativeImpactScore.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="qualitativeImpactScore.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!qualitativeImpactScores.$resolved || qualitativeImpactScores.length">
    	No Qualitative impact scores yet, why don't you <a href="/#!/qualitative-impact-scores/create">create one</a>?
    </div>
</section>