<section data-ng-controller="GateStatusesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Gate statuses</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="gateStatus in gateStatuses" data-ng-href="#!/gate-statuses/{{gateStatus._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="gateStatus.created | date:'medium'"></span>
				by
				<span data-ng-bind="gateStatus.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="gateStatus.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!gateStatuses.$resolved || gateStatuses.length">
    	No Gate statuses yet, why don't you <a href="/#!/gate-statuses/create">create one</a>?
    </div>
</section>