<section data-ng-controller="PortfolioAssignmentController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading" style="padding: 0">
				<ol class="breadcrumb">
					<li>Portfolio definition</li>
					<li>Identification</li>
					<li class="active">Portfolio assignment</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
	<div class="row">
		<div class="col-md-4" style="padding: 5px;">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h6 class="panel-title text-center">Portfolio tree</h6>
				</div>
				<div class="panel-body" style="min-height: 550px;  max-height: 550px; overflow-y: auto;">
					<div class="alert alert-warning text-center" data-ng-hide="!portfolios.$resolved || portfolios.length">
						No portfolios yet
					</div>
					<script type="text/ng-template" id="portfolioTree">
						<button class="btn btn-default btn-sm" data-ng-click="selectNode(tree.node);"
								style="margin: 2%;"
                                data-ng-disabled="isResolving">
							<span data-ng-bind="tree.node.name"></span> &nbsp;
							<span class="badge" data-ng-bind="selectedAssignments.assignedProjects[tree.node._id].length"></span>
						</button>
						<ul data-ng-if="tree.nodeTrees" style="list-style: none;">
							<li data-ng-repeat="tree in tree.nodeTrees track by $index">
								<span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
							</li>
						</ul>
					</script>
					<ul style="margin-left: 2%; padding-left: 2%">
						<li data-ng-repeat="tree in portfolioTrees track by $index">
                            <span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
                        </li>
					</ul>
				</div>
			</div>
		</div>
        <div class="col-md-8" data-ng-show="!selectedNode">
            <div class="alert alert-warning text-center">
                Select a node to see its details
            </div>
        </div>
        <div class="col-md-8" data-ng-show="selectedNode" style="padding: 5px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                        {{selectedNode.name}}&nbsp;
                        <a href="" tooltip="Drag and Drop between the assigned and unassigned columns"
                           tooltip-trigger="focus"
                           data-ng-show="userHasAuthorization">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </h6>
                </div>
                <div class="panel-body" style="max-height: 550px; min-height: 550px; padding-top: 1px">
                    <div class="row">
                        <div class="col-xs-12" style="padding: 5px;">
                            <table class="table table-condensed small text-center">
                                <thead>
                                <tr>
                                    <th class="text-center" colspan="4"><em>Earmarked funds</em></th>
                                </tr>
                                <tr>
                                    <th class="text-center">Portfolio</th>
                                    <th class="text-center">Assigned projects
                                    <th class="text-center">Variance</th>
                                    <th class="text-center">Unassigned projects</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{selectedNode.earmarkedFunds | number : 0}}</td>
                                    <td>{{getTotalEarmarkedFunds(selectedAssignments.assignedProjects[selectedNode._id]) | number : 0}}</td>
                                    <td>{{selectedNode.earmarkedFunds - getTotalEarmarkedFunds(selectedAssignments.assignedProjects[selectedNode._id]) | number : 0}}</td>
                                    <td>{{getTotalEarmarkedFunds(selectedAssignments.unassignedProjects) | number : 0}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="padding-right: 5px; padding-left: 10px;">
                            <div class="panel panel-success" >
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center" style="overflow: hidden">Assigned projects</h6>
                                </div>
                                <div class="panel-body" style="margin: 0; padding-top: 5px; padding-bottom: 5px">
                                    <div data-ng-hide="selectedNode" class="alert alert-warning text-center">
                                        Select a portfolio to see its details
                                    </div>
                                    <div data-ng-show="selectedNode">
                                        <input type="text" class="form-control input-sm" placeholder="Type to filter projects" data-ng-model="filterAssignedProject">
                                        <div class="row">
                                            <div class="col-md-12" style="padding: 5px;">
                                                <div class="panel panel-default" style="padding: 0; margin: 0">
                                                    <div class="panel-body" data-as-sortable="dragControlListenersAssigned" data-ng-model="selectedAssignments.assignedProjects[selectedNode._id]"
                                                         is-disabled="isResolving || !userHasAuthorization"
                                                         style="overflow-y: auto; max-height: 330px; min-height: 330px;">
                                                        <div data-ng-show="selectedAssignments.assignedProjects[selectedNode._id].length === 0" class="alert alert-warning text-center">
                                                            No assigned projects yet
                                                        </div>
                                                        <button data-ng-repeat="project in selectedAssignments.assignedProjects[selectedNode._id] | filter:filterAssignedProject" as-sortable-item
                                                                class="btn btn-default btn-sm btn-block center-block" style="overflow: hidden;">
                                                            <div as-sortable-item-handle class="text-center">
                                                                <span data-ng-show="project.identification.idReference">{{project.identification.idReference}} - </span>
                                                                <span>{{project.identification.name}} </span><br>
                                                                <span class="badge">{{project.identification.earmarkedFunds | number:0}}</span>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-left: 5px; padding-right: 10px">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center" style="overflow: hidden">Unassigned projects</h6>
                                </div>
                                <div class="panel-body" style="margin: 0; padding-top: 5px; padding-bottom: 5px">
                                    <div>
                                        <input type="text" class="form-control input-sm" placeholder="Type to filter projects" data-ng-model="filterUnassignedProject">
                                        <div class="row">
                                            <div class="col-md-12" style="padding: 5px">
                                                <div class="panel panel-default" style="padding: 0; margin: 0">
                                                    <div class="panel-body" data-as-sortable="dragControlListenersUnassigned" data-ng-model="selectedAssignments.unassignedProjects"
                                                         is-disabled="isResolving || !userHasAuthorization"
                                                         style="overflow-y: auto; max-height: 330px; min-height: 330px;">
                                                        <div data-ng-show="selectedAssignments.unassignedProjects.length === 0" class="alert alert-warning text-center">
                                                            No unassigned projects yet
                                                        </div>
                                                        <button data-ng-repeat="project in selectedAssignments.unassignedProjects | filter:filterUnassignedProject" as-sortable-item
                                                                class="btn btn-default btn-sm btn-block center-block" style="overflow: hidden;">
                                                            <div as-sortable-item-handle class="text-center">
                                                                <span data-ng-show="project.identification.idReference">{{project.identification.idReference}} - </span>
                                                                <span>{{project.identification.name}} </span><br>
                                                                <span class="badge">{{project.identification.earmarkedFunds | number:0}}</span>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>

</section>
