<section data-ng-controller="PortfolioSetupController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading" style="padding: 0">
				<ol class="breadcrumb">
					<li>Setup</li>
					<li>Portfolio definition</li>
					<li class="active">Portfolios</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
	<div class="row">
		<div class="col-md-12">
			<tabset>
				<tab heading="Portfolio types">
					<br>
					<div class="row" ng-show="userHasAuthorization">
						<div class="col-md-3">
							<br>
							<button class="btn btn-primary"
									ng-click="createType()">
								New portfolio type
							</button>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="alert alert-warning text-center" data-ng-hide="portfolioTypes.length">
							No portfolio types yet
						</div>
						<div class="col-md-4" data-ng-repeat="type in portfolioTypes" data-ng-switch="switchTypeForm[type._id]" >
							<div class="panel panel-default" title="Last updated on {{type.created | date:'medium'}} by {{type.user.displayName}}">
								<div class="panel-heading">
									<h6 class="panel-title text-center" data-ng-bind="type.name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;"></h6>
								</div>
								<div class="panel-body">
									<div ng-switch-default="view">
										<form class="form">
											<fieldset>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="name" class="control-label">Name</label>
															<input id="name" disabled type="text" class="form-control" ng-model="type.name">
														</div>
														<div class="form-group">
															<label for="description" class="control-label">Description</label>
															<textarea id="description" disabled class="form-control" ng-model="type.description"></textarea>
														</div>
														<div class="pull-right" data-ng-show="userHasAuthorization">
															<button type="button" class="btn btn-success" ng-click="selectType(type)">
																Edit
															</button>
														</div>
														<div data-ng-show="error" class="text-danger">
															<strong data-ng-bind="error"></strong>
														</div>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
									<div data-ng-switch-when="edit">
										<form class="form" name="editPortfolioTypeForm" data-ng-submit="updateType(type)" novalidate>
											<fieldset>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="typeNameEdit" class="control-label">Name</label>
															<input type="text" id="typeNameEdit" class="form-control" name="typeNameEdit"
																   data-ng-model="type.name" placeholder="Name" required>
															<span data-ng-show="editPortfolioTypeForm.typeNameEdit.$error.required">
																<em style="color: red">Name is required</em>
															</span>
														</div>
														<div class="form-group">
															<label for="descriptionEdit" class="control-label">Description</label>
															<textarea id="descriptionEdit" class="form-control" data-ng-model="type.description" placeholder="Description"></textarea>
														</div>
														<div class="pull-right">
															<input type="submit" value="Save" class="btn btn-success" data-ng-disabled="editPortfolioTypeForm.$invalid">
															<a class="btn btn-danger" data-ng-click="removeType(type)" data-ng-show="userHasAuthorization">
																<i class="glyphicon glyphicon-trash"></i>
															</a>
															<button type="button" class="btn btn-info" data-ng-click="cancelEditType(type)">
																Cancel
															</button>
														</div>
														<div data-ng-show="error" class="text-danger">
															<strong data-ng-bind="error"></strong>
														</div>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
				<tab heading="Portfolio decomposition">
					<br>
					<div class="row">
						<div class="col-md-8">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h6 class="panel-title text-center">Portfolio tree</h6>
								</div>
								<div class="panel-body" style="min-height: 525px;  max-height: 525px; overflow-y: auto;">
									<div class="alert alert-warning text-center" data-ng-hide="!portfolios.$resolved || portfolios.length">
										No Portfolios yet, why don't you create a new one?
									</div>
									<script type="text/ng-template" id="portfolioTree">
										<button class="btn btn-default btn-sm" data-ng-click="selectPortfolio(tree.node._id)"
												style="overflow: hidden; margin: 1%;">
											{{tree.node.name}}
										</button>
										<ul data-ng-if="tree.nodeTrees" class="">
											<li data-ng-repeat="tree in tree.nodeTrees" data-ng-include="'portfolioTree'"></li>
										</ul>
									</script>
									<ul>
										<li data-ng-repeat="tree in portfolioTrees" data-ng-include="'portfolioTree'"></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4" data-ng-switch="switchPortfolioForm">
							<div class="row" data-ng-show="userHasAuthorization"><!-- Here put role control -->
								<div class="col-md-12">
									<button class="btn btn-primary" data-ng-click="selectNewPortfolio();"
											data-ng-switch-when="view">
										Add new portfolio
									</button>
									<button class="btn btn-success" data-ng-click="selectPortfolioForm('edit')"
											data-ng-switch-when="view" data-ng-show="editPortfolio">
										Edit portfolio
									</button>
								</div>
							</div>
							<br>
							<div>
								<div class="row" data-ng-switch-when="new">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h6 class="panel-title text-center">New portfolio</h6>
											</div>
											<div class="panel-body">
												<div class="col-md-12">
													<form class="form-horizontal" data-ng-submit="create()" novalidate name="newPortfolioForm">
														<fieldset>
															<div class="form-group form-group-sm">
																<label class="control-label" for="newPortfolioName">Portfolio name</label>
																<div class="controls">
																	<input type="text" data-ng-model="newPortfolio.name" id="newPortfolioName" name="newPortfolioName"
																		   class="form-control" placeholder="Name" required>
																</div>
																<span data-ng-show="newPortfolioForm.newPortfolioName.$error.required">
																	<em style="color: red">Name is required</em>
																</span>
															</div>
															<div class="form-group form-group-sm">
																<label class="control-label" for="type">Portfolio type</label>
																<select id="type" class="form-control" data-ng-model = "newPortfolio.type"
																		ng-options="portfolioType.name for portfolioType in portfolioTypes">
																	<option value="">--choose type</option>
																</select>
															</div>
															<div class="form-group form-group-sm">
																<label class="control-label" for="parent">Parent portfolio</label>
																<select id="parent" class="form-control" data-ng-model = "newPortfolio.parent"
																		ng-options="newParent.name for newParent in newParents">
																	<option value="">--choose parent</option>
																</select>
															</div>
															<div class="form-group form-group-sm">
																<label class="control-label" for="primaryPM">Portfolio manager</label>
																<select id="primaryPM" class="form-control" data-ng-model = "newPortfolio.portfolioManager"
																		ng-options="portfolioManager.displayName for portfolioManager in portfolioManagers">
																	<option value="">--choose person</option>
																</select>
															</div>
															<div class="form-group form-group-sm">
																<label class="control-label" for="secondaryPM">Backup portfolio manager</label>
																<select id="secondaryPM" class="form-control" data-ng-model = "newPortfolio.backupPortfolioManager"
																		ng-options="portfolioManager.displayName for portfolioManager in portfolioManagers">
																	<option value="">--choose person</option>
																</select>
															</div>
															<div class="form-group form-group-sm">
																<label class="control-label" for="funds">Portfolio funds</label>
																<div class="controls">
																	<input type="number" data-ng-model="newPortfolio.earmarkedFunds" id="funds" class="form-control" placeholder="Enter amount">
																</div>
															</div>
															<div class="pull-right">
																<input type="submit" class="btn btn-sm btn-success" data-ng-disabled="newPortfolioForm.$invalid">
																<button type="reset" class="btn btn-sm btn-info" ng-click="selectPortfolioForm('view')">
																	Cancel
																</button>
															</div>
															<div data-ng-show="error" class="text-danger">
																<strong data-ng-bind="error"></strong>
															</div>
														</fieldset>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row" data-ng-switch-when="view">
									<div class="col-sm-12">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;"><em data-ng-bind="editPortfolio.name"></em></h6>
												<div class="text-center" data-ng-hide="editPortfolio">
													<em>Please select a portfolio from the tree to see the details</em>
												</div>
											</div>
											<div class="panel-body" ng-show="editPortfolio">
												<div>
													<div class="row">
														<form>
															<fieldset ng-disabled = true>
																<div class="col-md-12">
																	<div class="form-group form-group-sm">
																		<label for="portfolioName">Portfolio Name</label>
																		<input id="portfolioName" class="form-control" ng-model="viewPortfolio.name">
																	</div>
																	<div class="form-group form-group-sm">
																		<label for="portfolioType">Portfolio type</label>
																		<input id="portfolioType" class="form-control"  ng-model="viewPortfolio.type.name">
																	</div>
																	<div class="form-group form-group-sm">
																		<label for="parent">Parent portfolio</label>
																		<input id="parent" class="form-control"  ng-model="viewPortfolio.parent.name">
																	</div>
																	<div class="form-group form-group-sm">
																		<label for="portfolioMgr">Portfolio Manager</label>
																		<input id="portfolioMgr" class="form-control"  ng-model="viewPortfolio.portfolioManager.displayName">
																	</div>
																	<div class="form-group form-group-sm">
																		<label for="backupPM">Backup Portfolio Manager</label>
																		<input id="backupPM" class="form-control"  ng-model="viewPortfolio.backupPortfolioManager.displayName">
																	</div>
																	<div class="form-group form-group-sm">
																		<label for="funds">Portfolio funds</label>
																		<input id="funds" class="form-control"  ng-model="viewPortfolio.earmarkedFunds">
																	</div>
																	<div data-ng-show="error" class="text-danger">
																		<strong data-ng-bind="error"></strong>
																	</div>
																</div>
															</fieldset>
														</form>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<small>
															<em class="text-muted">
																Last updated on
																<span data-ng-bind="editPortfolio.created | date:'mediumDate'"></span>
																by
																<span data-ng-bind="editPortfolio.user.displayName"></span>
															</em>
														</small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row" data-ng-switch-when="edit">
									<div class="col-sm-12">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;"><em data-ng-bind="editPortfolio.name"></em></h6>
												<div class="alert alert-warning text-center" data-ng-hide="editPortfolio">
													Please select a portfolio to see the details
												</div>
											</div>
											<div class="panel-body" ng-show="editPortfolio">
												<div>
													<div class="row">
														<form class="form" data-ng-submit="update()" novalidate name="editPortfolioForm">
															<fieldset>
																<div class="col-md-12">
																	<div class="form-group form-group-sm">
																		<label class="control-label" for="editPortfolioName">Portfolio name</label>
																		<div class="controls">
																			<input type="text" data-ng-model="editPortfolio.name" id="editPortfolioName" name="editPortfolioName"
																				   class="form-control" placeholder="Name" required>
																		</div>
																		<span data-ng-show="editPortfolioForm.editPortfolioName.$error.required">
																			<em style="color: red">Name is required</em>
																		</span>
																	</div>
																	<div class="form-group form-group-sm">
																		<label class="control-label" for="type">Portfolio type</label>
																		<select id="type" class="form-control" data-ng-model = "editPortfolio.type"
																				ng-options="portfolioType as portfolioType.name for portfolioType in portfolioTypes track by portfolioType._id">
																			<option value="">--choose type</option>
																		</select>
																	</div>
																	<div class="form-group form-group-sm">
																		<label class="control-label" for="parent">Parent portfolio</label>
																		<select id="parent" class="form-control" data-ng-model = "editPortfolio.parent"
																				ng-options="editParent as editParent.name for editParent in editParents track by editParent._id">
																			<option value="">--choose parent</option>
																		</select>
																	</div>
																	<div class="form-group form-group-sm">
																		<label class="control-label" for="primaryPM">Portfolio manager</label>
																		<select id="primaryPM" class="form-control" data-ng-model = "editPortfolio.portfolioManager"
																				ng-options="portfolioManager as portfolioManager.displayName for portfolioManager in portfolioManagers track by portfolioManager._id">
																			<option value="">--choose person</option>
																		</select>
																	</div>
																	<div class="form-group form-group-sm">
																		<label class="control-label" for="backupPM">Backup portfolio manager</label>
																		<select id="backupPM" class="form-control" data-ng-model = "editPortfolio.backupPortfolioManager"
																				ng-options="portfolioManager as portfolioManager.displayName for portfolioManager in portfolioManagers track by portfolioManager._id">
																			<option value="">--choose person</option>
																		</select>
																	</div>
																	<div class="form-group form-group-sm">
																		<label class="control-label" for="funds">Portfolio funds</label>
																		<div class="controls">
																			<input type="number" data-ng-model="editPortfolio.earmarkedFunds" id="funds" class="form-control" placeholder="Enter amount">
																		</div>
																	</div>
																	<div class="pull-right">
																		<input type="submit" value="Save" class="btn btn-sm btn-success" data-ng-disabled="editPortfolioForm.$invalid">
																		<a class="btn btn-sm btn-danger" data-ng-click="remove()">
																			<i class="glyphicon glyphicon-trash"></i>
																		</a>
																		<button type="button" class="btn btn-sm btn-primary" ng-click="selectPortfolio(editPortfolio._id)">
																			Cancel
																		</button>
																	</div>
																	<div data-ng-show="error" class="text-danger">
																		<strong data-ng-bind="error"></strong>
																	</div>
																</div>
															</fieldset>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
</section>
