<section data-ng-controller="PortfolioChangeRequestsController as parentCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12 text-center">
                    <b><em>{{selectedProjectChangeRequest.raisedOnDate | date:'EEE d, MMM yyyy'}} - {{selectedProjectChangeRequest.title}}</em></b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 btn-group btn-group-xs btn-group-justified">
                <label class="btn btn-info btn-xs" data-ng-model="projectChangeRequestDetails" btn-radio="'header'">
                    Header
                </label>
                <label class="btn btn-info btn-xs" data-ng-model="projectChangeRequestDetails" btn-radio="'status'">
                    Change status
                </label>
                <label class="btn btn-info btn-xs" data-ng-model="projectChangeRequestDetails" btn-radio="'duration'">
                    Duration
                </label>
                <label class="btn btn-info btn-xs" data-ng-model="projectChangeRequestDetails" btn-radio="'cost'">
                    Cost
                </label>
                <label class="btn btn-info btn-xs" data-ng-model="projectChangeRequestDetails" btn-radio="'completion'">
                    Completion
                </label>
                <label class="btn btn-info btn-xs" data-ng-model="projectChangeRequestDetails" btn-radio="'approval'">
                    Approval
                </label>
            </div>
        </div>
        <div class="panel-body" style="min-height: 375px; max-height: 375px; overflow-y: auto">
            <div data-ng-show="projectChangeRequestDetails === 'header'">
                <form>
                    <div class="row">
                        <div class="form-group-sm col-md-5">
                            <label for="">Raised on date</label>
                            <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedProjectChangeRequest.raisedOnDate" disabled />
                        </div>
                        <div class="form-group-sm col-md-7">
                            <label for="reviewTitleEdit">Review title</label>
                            <input id="reviewTitleEdit" name="reviewTitleNew" class="form-control" type="text" placeholder="Enter review title"
                                   data-ng-model="selectedProjectChangeRequest.title" disabled>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group-sm col-md-4">
                            <label for="">Reason for change</label>
                            <select id="" class="form-control" data-ng-model = "selectedProjectChangeRequest.reason"
                                    ng-options="reason._id as reason.name for reason in logReasons" disabled>
                            </select>
                        </div>
                        <div class="form-group-sm col-md-4">
                            <label for="">Priority</label>
                            <select id="" class="form-control" data-ng-model = "selectedProjectChangeRequest.priority"
                                    ng-options="priority._id as priority.name for priority in logPriorities" disabled>
                            </select>
                        </div>
                        <div class="form-group-sm col-md-4">
                            <label for="">State</label>
                            <select id="" class="form-control" data-ng-model = "selectedProjectChangeRequest.state"
                                    ng-options="state._id as state.name for state in changeRequestStates" disabled>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group-sm col-md-12">
                            <label for="">Description</label>
                            <textarea id="" class="form-control" data-ng-model="selectedProjectChangeRequest.description" disabled></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div data-ng-show="projectChangeRequestDetails === 'status'">
                <form>
                    <div class="row">
                        <div class="form-group-sm col-md-4">
                            <label for="">Baseline delivery date</label>
                            <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedProjectChangeRequest.statusReview.currentRecord.baselineDeliveryDate" disabled />
                        </div>
                        <div class="form-group-sm col-md-4">
                            <label for="">Estimate delivery date</label>
                            <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedProjectChangeRequest.statusReview.currentRecord.estimateDeliveryDate" disabled />
                        </div>
                        <div class="form-group-sm col-md-4">
                            <label for="">Actual delivery date</label>
                            <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedProjectChangeRequest.statusReview.currentRecord.actualDeliveryDate" disabled />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group-sm col-md-5">
                            <label for="">Status</label>
                            <select id="" class="form-control" data-ng-model = "selectedProjectChangeRequest.statusReview.currentRecord.status"
                                    ng-options="status._id as status.name for status in logStatuses" disabled>
                            </select>
                        </div>
                        <br>
                        <div class="form-group-sm col-md-5">
                            <label for="prjCrEditCompleted">Change completed</label>
                            <input id="prjCrEditCompleted" class="" type="checkbox"
                                   data-ng-model="selectedProjectChangeRequest.statusReview.currentRecord.completed" disabled>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group-sm col-md-12">
                            <label for="">Status comment</label>
                            <textarea id="" class="form-control" data-ng-model="selectedProjectChangeRequest.statusReview.currentRecord.statusComment" disabled></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div data-ng-show="projectChangeRequestDetails === 'duration'">
                <table class="table small">
                    <caption>
                        Baseline duration
                    </caption>
                    <tr>
                        <th>Target gate</th>
                        <th>Current date</th>
                        <th>New date</th>
                    </tr>
                    <tr data-ng-repeat="baselineDurationReview in selectedProjectChangeRequest.baselineDurationReviews | orderBy: 'baselineDuration.targetGate.position'">
                        <td>
                            <span data-ng-bind="baselineDurationReview.baselineDuration.targetGate.name"></span>
                        </td>
                        <td>
                            <span data-ng-show="!baselineDurationReview.baselineDuration.currentRecord.gateDate">No baseline yet</span>
                            <span data-ng-bind="baselineDurationReview.baselineDuration.currentRecord.gateDate | date:'EEE d, MMM yyyy'"></span>
                        </td>
                        <td>
                            <span data-ng-show="!baselineDurationReview.newDate">No new baseline yet</span>
                            <span data-ng-bind="baselineDurationReview.newDate | date:'EEE d, MMM yyyy'"></span>
                        </td>
                    </tr>
                </table>
                <table class="table small">
                    <caption>
                        Actual duration
                    </caption>
                    <tr>
                        <th>Target gate</th>
                        <th>Current date</th>
                        <th>New date</th>
                        <th> </th>
                    </tr>
                    <tr data-ng-repeat="actualDurationReview in selectedProjectChangeRequest.actualDurationReviews | orderBy: 'actualDuration.targetGate.position'">
                        <td>
                            <span data-ng-bind="actualDurationReview.actualDuration.targetGate.name"></span>
                        </td>
                        <td>
                            <span data-ng-show="!actualDurationReview.actualDuration.currentRecord.gateDate">No actual yet</span>
                            <span data-ng-bind="actualDurationReview.actualDuration.currentRecord.gateDate | date:'EEE d, MMM yyyy'"></span>
                        </td>
                        <td>
                            <span data-ng-show="!actualDurationReview.newDate">No new actual yet</span>
                            <span data-ng-bind="actualDurationReview.newDate | date:'EEE d, MMM yyyy'"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div data-ng-show="projectChangeRequestDetails === 'cost'">
                <table class="table small">
                    <caption>
                        Baseline cost
                    </caption>
                    <tr>
                        <th>Target gate</th>
                        <th>Current cost</th>
                        <th>New cost</th>
                        <th> </th>
                    </tr>
                    <tr data-ng-repeat="baselineCostReview in selectedProjectChangeRequest.baselineCostReviews | orderBy: 'baselineCost.targetGate.position'">
                        <td>
                            <span data-ng-bind="baselineCostReview.baselineCost.targetGate.name"></span>
                        </td>
                        <td>
                            <span data-ng-show="!baselineCostReview.baselineCost.currentRecord.cost">No baseline yet</span>
                            <span data-ng-bind="baselineCostReview.baselineCost.currentRecord.cost"></span>
                        </td>
                        <td>
                            <span data-ng-show="!baselineCostReview.newCost">No new baseline yet</span>
                            <span data-ng-bind="baselineCostReview.newCost"></span>
                        </td>
                    </tr>
                </table>
                <table class="table small">
                    <caption>
                        Actual cost
                    </caption>
                    <tr>
                        <th>Target gate</th>
                        <th>Current cost</th>
                        <th>New cost</th>
                        <th> </th>
                    </tr>
                    <tr data-ng-repeat="actualCostReview in selectedProjectChangeRequest.actualCostReviews | orderBy: 'actualCost.targetGate.position'">
                        <td>
                            <span data-ng-bind="actualCostReview.actualCost.targetGate.name"></span>
                        </td>
                        <td>
                            <span data-ng-show="!actualCostReview.actualCost.currentRecord.cost">No actual yet</span>
                            <span data-ng-bind="actualCostReview.actualCost.currentRecord.cost"></span>
                        </td>
                        <td>
                            <span data-ng-show="!actualCostReview.newCost">No new actual yet</span>
                            <span data-ng-bind="actualCostReview.newCost"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div data-ng-show="projectChangeRequestDetails === 'completion'">
                <table class="table small">
                    <caption>
                        Baseline completion
                    </caption>
                    <tr>
                        <th>Target gate</th>
                        <th>Current completion</th>
                        <th>New completion</th>
                        <th> </th>
                    </tr>
                    <tr data-ng-repeat="baselineCompletionReview in selectedProjectChangeRequest.baselineCompletionReviews | orderBy: 'baselineCompletion.targetGate.position'">
                        <td>
                            <span data-ng-bind="baselineCompletionReview.baselineCompletion.targetGate.name"></span>
                        </td>
                        <td>
                            <span data-ng-show="!baselineCompletionReview.baselineCompletion.currentRecord.completion">No baseline yet</span>
                            <span data-ng-bind="baselineCompletionReview.baselineCompletion.currentRecord.completion"></span>
                        </td>
                        <td>
                            <span data-ng-show="!baselineCompletionReview.newCompletion">No new baseline yet</span>
                            <span data-ng-bind="baselineCompletionReview.newCompletion"></span>
                        </td>
                    </tr>
                </table>
                <table class="table small">
                    <caption>
                        Actual completion
                    </caption>
                    <tr>
                        <th>Target gate</th>
                        <th>Current completion</th>
                        <th>New completion</th>
                        <th> </th>
                    </tr>
                    <tr data-ng-repeat="actualCompletionReview in selectedProjectChangeRequest.actualCompletionReviews | orderBy: 'actualCompletion.targetGate.position'">
                        <td>
                            <span data-ng-bind="actualCompletionReview.actualCompletion.targetGate.name"></span>
                        </td>
                        <td>
                            <span data-ng-show="!actualCompletionReview.actualCompletion.currentRecord.completion">No actual yet</span>
                            <span data-ng-bind="actualCompletionReview.actualCompletion.currentRecord.completion"></span>
                        </td>
                        <td>
                            <span data-ng-show="!actualCompletionReview.newCompletion">No new actual yet</span>
                            <span data-ng-bind="actualCompletionReview.newCompletion"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div data-ng-show="projectChangeRequestDetails === 'approval'">
                <div class="row">
                    <div class="col-md-12">
                        <label>Current state</label>
                        <br>
                        <span data-ng-show="selectedProjectChangeRequest.approval.currentRecord.approvalState === 'draft'">Drafted on </span>
                        <span data-ng-show="selectedProjectChangeRequest.approval.currentRecord.approvalState === 'submitted'">Submitted on </span>
                        <span data-ng-show="selectedProjectChangeRequest.approval.currentRecord.approvalState === 'approved'">Approved on </span>
                        <span data-ng-show="selectedProjectChangeRequest.approval.currentRecord.approvalState === 'rejected'">Rejected on </span>
                        <span><em data-ng-bind="selectedProjectChangeRequest.approval.currentRecord.created | date:'EEE d, MMM yyyy'"></em></span>
                        <span> by </span>
                        <span><em data-ng-bind="selectedProjectChangeRequest.approval.currentRecord.user.displayName"></em></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12" data-ng-show="selectedProjectChangeRequest.approval.history.length !== 0">
                        <label>History</label>
                        <br>
                        <div data-ng-repeat="historyRecord in selectedProjectChangeRequest.approval.history | orderBy: sortByCreated : true">
                            <span data-ng-show="historyRecord.approvalState === 'draft'">Drafted on </span>
                            <span data-ng-show="historyRecord.approvalState === 'submitted'">Submitted on </span>
                            <span data-ng-show="historyRecord.approvalState === 'approved'">Approved on </span>
                            <span data-ng-show="historyRecord.approvalState === 'rejected'">Rejected on </span>
                            <span><em data-ng-bind="historyRecord.created | date:'EEE d, MMM yyyy'"></em></span>
                            <span> by </span>
                            <span><em data-ng-bind="historyRecord.user.displayName"></em></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="center-block text-center">
            <button class="btn btn-primary btn-sm" data-ng-click="cancelModal()">
                Close
            </button>
        </div>
    </div>
    <br>
    <div class="row"></div>
</section>
