<section data-ng-controller="MilestoneStatesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Milestone states</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="milestoneState in milestoneStates" data-ng-href="#!/milestone-states/{{milestoneState._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="milestoneState.created | date:'medium'"></span>
				by
				<span data-ng-bind="milestoneState.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="milestoneState.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!milestoneStates.$resolved || milestoneStates.length">
    	No Milestone states yet, why don't you <a href="/#!/milestone-states/create">create one</a>?
    </div>
</section>