<section data-ng-controller="DependenciesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Dependencies</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="dependency in dependencies" data-ng-href="#!/dependencies/{{dependency._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="dependency.created | date:'medium'"></span>
				by
				<span data-ng-bind="dependency.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="dependency.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!dependencies.$resolved || dependencies.length">
    	No Dependencies yet, why don't you <a href="/#!/dependencies/create">create one</a>?
    </div>
</section>