<section data-ng-controller="StatusReportSetupController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading" style="padding: 0">
				<ol class="breadcrumb">
					<li>Setup</li>
					<li>Portfolio delivery</li>
					<li class="active">Status report</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
	<div class="row">
		<div class="col-md-12">
			<tabset>
				<tab heading="Status indicators">
					<br>
					<div class="row" ng-show="userHasAuthorization">
						<div class="col-md-3">
							<br>
							<button class="btn btn-primary"
									ng-click="createStatusIndicator()">
								New status indicator
							</button>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="alert alert-warning text-center" data-ng-hide="logStatusIndicators.length">
							<span>No status indicators yet</span>
						</div>
						<div class="col-md-4" data-ng-repeat="indicator in logStatusIndicators" data-ng-switch="switchStatusIndicatorForm[indicator._id]" >
							<div class="panel panel-default" title="Last updated on {{indicator.created | date:'medium'}} by {{indicator.user.displayName}}">
								<div class="panel-heading">
									<h6 class="panel-title text-center" data-ng-bind="indicator.name"></h6>
								</div>
								<div class="panel-body">
									<div ng-switch-default="view">
										<form class="form">
											<fieldset>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="name" class="control-label">Name</label>
															<input id="name" disabled type="text" class="form-control" data-ng-model="indicator.name">
														</div>
														<div class="form-group">
															<label for="description" class="control-label">Description</label>
															<textarea id="description" disabled class="form-control" data-ng-model="indicator.description"></textarea>
														</div>
                                                        <div class="form-group">
                                                            <label for="color" class="control-label">Color</label>
                                                            <select id="color" class="form-control" data-ng-model = "indicator.color" ng-style="{'background-color': indicator.color}"
                                                                    ng-options="color.colorString as color.colorName for color in colors" disabled>
                                                            </select>
                                                        </div>
														<button type="button" class="btn btn-success pull-right" data-ng-show="userHasAuthorization"
																data-ng-click="selectStatusIndicator(indicator)">
															Edit
														</button>
														<div data-ng-show="error" class="text-danger">
															<strong data-ng-bind="error"></strong>
														</div>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
									<div data-ng-switch-when="edit">
										<form class="form" name="editIndicatorForm" data-ng-submit="updateStatusIndicator(indicator)" novalidate>
											<fieldset>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="indicatorNameEdit" class="control-label">Name</label>
															<input type="text" id="indicatorNameEdit" class="form-control" name="indicatorNameEdit"
																   data-ng-model="indicator.name" placeholder="Name" required>
                                                            <span data-ng-show="editIndicatorForm.indicatorNameEdit.$error.required">
                                                                <em style="color: red">Name is required</em>
                                                            </span>
														</div>
														<div class="form-group">
															<label for="descriptionEdit" class="control-label">Description</label>
                                                            <textarea id="descriptionEdit" class="form-control"
																	  data-ng-model="indicator.description" placeholder="Description">
                                                            </textarea>
														</div>
                                                        <div class="form-group">
                                                            <label for="color" class="control-label">Color</label>
                                                            <select id="color" class="form-control" data-ng-model = "indicator.color" ng-style="{'background-color': indicator.color}"
                                                                    ng-options="color.colorString as color.colorName for color in colors">
                                                            </select>
                                                        </div>
														<div class="pull-right">
															<input type="submit" value="Save" class="btn btn-success" data-ng-disabled="editIndicatorForm.$invalid">
															<a class="btn btn-danger" data-ng-click="removeStatusIndicator(indicator)" data-ng-show="userHasAuthorization">
																<i class="glyphicon glyphicon-trash"></i>
															</a>
															<button type="button" class="btn btn-info" data-ng-click="cancelEditStatusIndicator(indicator)">
																Cancel
															</button>
														</div>
														<div data-ng-show="error" class="text-danger">
															<strong data-ng-bind="error"></strong>
														</div>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
				<tab heading="Status areas">
					<br>
					<div class="row" ng-show="userHasAuthorization">
						<div class="col-md-3">
							<br>
							<button class="btn btn-primary"
									ng-click="createStatusArea()">
								New status area
							</button>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="alert alert-warning text-center" data-ng-hide="logStatusAreas.length">
							<span>No status areas yet</span>
						</div>
						<div class="col-md-4" data-ng-repeat="area in logStatusAreas" data-ng-switch="switchStatusAreaForm[area._id]" >
							<div class="panel panel-default" title="Last updated on {{area.created | date:'medium'}} by {{area.user.displayName}}">
								<div class="panel-heading">
									<h6 class="panel-title text-center" data-ng-bind="area.name"></h6>
								</div>
								<div class="panel-body">
									<div data-ng-switch-default="view">
										<form class="form">
											<fieldset>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="name" class="control-label">Name</label>
															<input id="name" disabled type="text" class="form-control" data-ng-model="area.name">
														</div>
														<div class="form-group">
															<label for="description" class="control-label">Description</label>
															<textarea id="description" disabled class="form-control" data-ng-model="area.description"></textarea>
														</div>
                                                        <div class="form-group">
                                                            <label>Applicable to</label>
                                                            <select title="applicableTo" disabled class="form-control" data-ng-model = "area.applicableTo"
                                                                    data-ng-options="item.text as item.name for item in applicableToList">
                                                                <option value="">--choose applicability</option>
                                                            </select>
                                                        </div>
														<button type="button" class="btn btn-success pull-right" data-ng-show="userHasAuthorization"
																data-ng-click="selectStatusArea(area)">
															Edit
														</button>
														<div data-ng-show="error" class="text-danger">
															<strong data-ng-bind="error"></strong>
														</div>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
									<div data-ng-switch-when="edit">
										<form class="form" name="editAreaForm" data-ng-submit="updateStatusArea(area)" novalidate>
											<fieldset>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="areaNameEdit" class="control-label">Name</label>
															<input type="text" id="areaNameEdit" class="form-control" name="areaNameEdit"
																   data-ng-model="area.name" placeholder="Name" required>
                                                            <span data-ng-show="editAreaForm.areaNameEdit.$error.required">
                                                                <em style="color: red">Name is required</em>
                                                            </span>
														</div>
														<div class="form-group">
															<label for="descriptionEdit" class="control-label">Description</label>
                                                            <textarea id="descriptionEdit" class="form-control"
																	  data-ng-model="area.description" placeholder="Description">
                                                            </textarea>
														</div>
                                                        <div class="form-group">
                                                            <label>Applicable to</label>
                                                            <select title="applicableTo" class="form-control" data-ng-model = "area.applicableTo"
                                                                    data-ng-options="item.text as item.name for item in applicableToList">
                                                                <option value="">--choose applicability</option>
                                                            </select>
                                                        </div>
														<div class="pull-right">
															<input type="submit" value="Save" class="btn btn-success" data-ng-disabled="editAreaForm.$invalid">
															<a class="btn btn-danger" data-ng-click="removeStatusArea(area)" data-ng-show="userHasAuthorization">
																<i class="glyphicon glyphicon-trash"></i>
															</a>
															<button type="button" class="btn btn-info" data-ng-click="cancelEditStatusArea(area)">
																Cancel
															</button>
														</div>
														<div data-ng-show="error" class="text-danger">
															<strong data-ng-bind="error"></strong>
														</div>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
                <tab heading="Status report types">
                    <br>
                    <div class="row" ng-show="userHasAuthorization">
                        <div class="col-md-3">
                            <br>
                            <button class="btn btn-primary"
                                    ng-click="createStatusType()">
                                New status report type
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="alert alert-warning text-center" data-ng-hide="statusReportTypes.length">
                            <span>No status report type yet</span>
                        </div>
                        <div class="col-md-4" data-ng-repeat="type in statusReportTypes" data-ng-switch="switchStatusTypeForm[type._id]" >
                            <div class="panel panel-default" title="Last updated on {{type.created | date:'medium'}} by {{type.user.displayName}}">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center" data-ng-bind="type.name"></h6>
                                </div>
                                <div class="panel-body">
                                    <div ng-switch-default="view">
                                        <form class="form">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="name" class="control-label">Name</label>
                                                            <input id="name" disabled type="text" class="form-control" data-ng-model="type.name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="description" class="control-label">Description</label>
                                                            <textarea id="description" disabled class="form-control" data-ng-model="type.description"></textarea>
                                                        </div>
                                                        <button type="button" class="btn btn-success pull-right" data-ng-show="userHasAuthorization"
                                                                data-ng-click="selectStatusType(type)">
                                                            Edit
                                                        </button>
                                                        <div data-ng-show="error" class="text-danger">
                                                            <strong data-ng-bind="error"></strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div data-ng-switch-when="edit">
                                        <form class="form" name="editTypeForm" data-ng-submit="updateStatusType(type)" novalidate>
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="typeNameEdit" class="control-label">Name</label>
                                                            <input type="text" id="typeNameEdit" class="form-control" name="typeNameEdit"
                                                                   data-ng-model="type.name" placeholder="Name" required>
                                                            <span data-ng-show="editTypeForm.typeNameEdit.$error.required">
                                                                <em style="color: red">Name is required</em>
                                                            </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="descriptionEdit" class="control-label">Description</label>
                                                            <textarea id="descriptionEdit" class="form-control"
                                                                      data-ng-model="type.description" placeholder="Description">
                                                            </textarea>
                                                        </div>
                                                        <div class="pull-right">
                                                            <input type="submit" value="Save" class="btn btn-success" data-ng-disabled="editTypeForm.$invalid">
                                                            <a class="btn btn-danger" data-ng-click="removeStatusType(type)" data-ng-show="userHasAuthorization">
                                                                <i class="glyphicon glyphicon-trash"></i>
                                                            </a>
                                                            <button type="button" class="btn btn-info" data-ng-click="cancelEditStatusType(type)">
                                                                Cancel
                                                            </button>
                                                        </div>
                                                        <div data-ng-show="error" class="text-danger">
                                                            <strong data-ng-bind="error"></strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
		</div>
	</div>
</section>
