<section data-ng-controller="ProjectSelectionController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading" style="padding: 0">
				<ol class="breadcrumb">
					<li>Portfolio definition</li>
					<li>Identification</li>
					<li class="active">Projects selection</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn-link" data-ng-click="showFilters = true" data-ng-show="!showFilters">
                Show filters
            </button>
            <button class="btn-link" data-ng-click="showFilters = false" data-ng-show="showFilters">
                Hide filters
            </button>
        </div>
    </div>
    <div class="row" data-ng-show="showFilters">
        <div class="col-xs-3">
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <label>Filter identification data</label>
            </div>
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <input class="form-control" data-ng-model="filterIdentification.idNumber" placeholder="project ID">
            </div>
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <input class="form-control" data-ng-model="filterIdentification.idReference" placeholder="project reference">
            </div>
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <input class="form-control" data-ng-model="filterIdentification.name" placeholder="project name">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <label>Filter categorization</label>
            </div>
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <select class="form-control" data-ng-model="filterCategorization.group"
                        data-ng-options="group.name for group in categoryGroups" data-ng-disabled="!!filterCategorization.category">
                    <option value="">--group</option>
                </select>
            </div>
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <select class="form-control" data-ng-model="filterCategorization.category"
                        data-ng-options="category.name for category in filterCategorization.group.categories"
                        data-ng-disabled="!!filterCategorization.categoryValue">
                    <option value="">--category</option>
                </select>
            </div>
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <select class="form-control" data-ng-model="filterCategorization.categoryValue"
                        data-ng-options="catValue.name for catValue in filterCategorization.category.categoryValues">
                    <option value="">--value</option>
                </select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <label>Filter prioritization</label>
            </div>
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <select class="form-control" data-ng-model="filterPrioritization.group"
                        data-ng-options="group.name for group in priorityGroups" data-ng-disabled="!!filterPrioritization.priority">
                    <option value="">--group</option>
                </select>
            </div>
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <select class="form-control" data-ng-model="filterPrioritization.priority"
                        data-ng-options="priority.name for priority in filterPrioritization.group.priorities">
                    <option value="">--priority</option>
                </select>
            </div>
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <select class="form-control" data-ng-model="filterPrioritization.priorityValue"
                        data-ng-options="prioValue.name for prioValue in priorityValues">
                    <option value="">--value</option>
                </select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <label>Filter hierarchy data</label>
            </div>
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <select class="form-control" data-ng-model="filterHierarchy.portfolio"
                        data-ng-options="portfolio.name for portfolio in portfolios">
                    <option value="">--portfolio</option>
                </select>
            </div>
            <div class="form-group-sm" style="margin-bottom: 2px;">
                <select class="form-control" data-ng-model="filterHierarchy.strategyNode"
                        data-ng-options="strategyNode.name for strategyNode in strategyNodes">
                    <option value="">--strategy node</option>
                </select>
            </div>
        </div>
    </div>
    <hr>
	<div class="row">
        <div class="col-xs-12">
            <div class="alert alert-warning text-center" data-ng-show="!projects.$resolved || !projects.length">
                No projects to select
            </div>
            <form class="form" novalidate name="editProjectForm" data-ng-show="projects.length">
                <fieldset>
                    <table class="table">
                        <tr>
                            <th class="text-center">Reference</th>
                            <th class="text-center">Project</th>
                            <th class="text-center">Active&nbsp;<input type="checkbox" data-ng-model="filterSelection.active"></th>
                            <th class="text-center">Prioritization&nbsp;<input type="checkbox" data-ng-model="filterSelection.prioritization"></th>
                            <th class="text-center">Evaluation&nbsp;<input type="checkbox" data-ng-model="filterSelection.evaluation"></th>
                            <th class="text-center">Delivery&nbsp;<input type="checkbox" data-ng-model="filterSelection.delivery"></th>
                            <th colspan="2" class="text-center"> </th>
                        </tr>
                        <tr data-ng-repeat="project in projects | projectsCategorization : filterCategorization | projectsPrioritization : filterPrioritization | filter:
{
	identification: ((!!filterIdentification.name || !!filterIdentification.idReference) || undefined) && {
			name : (!!filterIdentification.name || undefined) && filterIdentification.name,
			idReference : (!!filterIdentification.idReference || undefined) && filterIdentification.idReference
			},
	selection: ((!!filterSelection.active || !!filterSelection.prioritization || !!filterSelection.evaluation || !!filterSelection.delivery) || undefined) && {
			active : (!!filterSelection.active || undefined) && filterSelection.active,
			selectedForPrioritization : (!!filterSelection.prioritization || undefined) && filterSelection.prioritization,
			selectedForEvaluation : (!!filterSelection.evaluation || undefined) && filterSelection.evaluation,
			selectedForDelivery : (!!filterSelection.delivery || undefined) && filterSelection.delivery
			},
	portfolio: (!!filterHierarchy.portfolio || undefined) && {_id : filterHierarchy.portfolio._id},
	parent: filterHierarchy.strategyNode._id,
	idNumber : (!!filterIdentification.idNumber || undefined) && filterIdentification.idNumber
}">
                            <td class="text-center">
                                <span>{{project.identification.idReference}}</span>
                            </td>
                            <td class="text-center">
                                <span>{{project.identification.name}}</span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-xs btn-default" data-ng-click="project.selection.active = !project.selection.active"
                                        data-ng-class="{'btn-warning': project.selection.active, 'btn-danger':!project.selection.active}"
                                        data-ng-disabled="!showEditProjectForm[project._id]">
                                    <span class="glyphicon glyphicon-check" data-ng-show="project.selection.active"></span>
                                    <span class="glyphicon glyphicon-unchecked" data-ng-show="!project.selection.active"></span>
                                </button>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-xs btn-default" data-ng-click="project.selection.selectedForPrioritization = !project.selection.selectedForPrioritization"
                                        data-ng-class="{'btn-warning': project.selection.selectedForPrioritization, 'btn-danger':!project.selection.selectedForPrioritization}"
                                        data-ng-disabled="!showEditProjectForm[project._id]">
                                    <span class="glyphicon glyphicon-check" data-ng-show="project.selection.selectedForPrioritization"></span>
                                    <span class="glyphicon glyphicon-unchecked" data-ng-show="!project.selection.selectedForPrioritization"></span>
                                </button>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-xs btn-default" data-ng-click="project.selection.selectedForEvaluation = !project.selection.selectedForEvaluation"
                                        data-ng-class="{'btn-warning': project.selection.selectedForEvaluation, 'btn-danger':!project.selection.selectedForEvaluation}"
                                        data-ng-disabled="!showEditProjectForm[project._id]">
                                    <span class="glyphicon glyphicon-check" data-ng-show="project.selection.selectedForEvaluation"></span>
                                    <span class="glyphicon glyphicon-unchecked" data-ng-show="!project.selection.selectedForEvaluation"></span>
                                </button>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-xs btn-default" data-ng-click="project.selection.selectedForDelivery = !project.selection.selectedForDelivery"
                                        data-ng-class="{'btn-warning': project.selection.selectedForDelivery, 'btn-danger':!project.selection.selectedForDelivery}"
                                        data-ng-disabled="!showEditProjectForm[project._id]">
                                    <span class="glyphicon glyphicon-check" data-ng-show="project.selection.selectedForDelivery"></span>
                                    <span class="glyphicon glyphicon-unchecked" data-ng-show="!project.selection.selectedForDelivery"></span>
                                </button>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-success btn-xs"
                                        data-ng-show="!showEditProjectForm[project._id] && userHasAuthorization('edit', userData, project)"
                                        data-ng-click="selectProject(project)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </td>
                            <td class="text-center">
                                <div data-ng-show="showEditProjectForm[project._id]" >
                                    <button type="button" class="btn btn-xs btn-success" data-ng-click="saveEditProject(project)">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" class="btn btn-xs btn-info" data-ng-click="cancelEditProject(project)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </div>
	</div>
</section>
