<section data-ng-controller="ProjectSelectionController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Portfolio definition</li>
					<li>Identification</li>
					<li class="active">Projects selection</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h6 class="panel-title text-center">Projects</h6>
				</div>
				<div class="panel-body">
                    <div class="row">
						<div class="col-md-12 form-group-sm">
							<input type="text" class="form-control" placeholder="Type to filter projects" data-ng-model="filterProject">
						</div>
					</div>
					<hr>
					<div class="row" style="min-height: 350px; max-height: 350px; overflow-y: auto">
						<div class="col-md-12">
							<button type="button" ng-repeat="project in projects | filter:filterProject"
									ng-click="selectProject(project)" class="btn btn-default btn-sm center-block btn-block" style="overflow: hidden;">
								{{project.identification.idNumber}} {{project.identification.name}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9" data-ng-switch="switchProjectForm">
			<div ng-switch-default="default">
				<div class="row">
					<div class="col-md-12">
						<div data-ng-hide="selectedProject || projects.length === 0" class="alert alert-warning text-center">
							Select a project to see its details
						</div>
						<div data-ng-show="projects.length === 0" class="alert alert-warning text-center">
							There are no projects created yet
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default" data-ng-switch-when="view">
				<div class="panel-heading">
					<h6 class="panel-title text-center" data-ng-bind="selectedProject.identification.name"></h6>
				</div>
				<div class="panel-body" style="min-height: 450px;">
                    <form class="form">
                        <fieldset>
                            <table class="table">
                                <tr>
                                    <th>Activate</th>
                                    <th>Select for Prioritization</th>
                                    <th>Select for Evaluation</th>
                                    <th>Select for Delivery</th>
                                </tr>
                                <tr>
                                    <td>
                                        <input disabled type="checkbox" data-ng-model="selectedProject.selection.current.active">
                                        <span data-ng-show="selectedProject.selection.current.active === true">Active</span>
                                        <span data-ng-show="selectedProject.selection.current.active === false">Inactive</span>
                                    </td>
                                    <td>
                                        <input disabled type="checkbox" data-ng-model="selectedProject.selection.current.selectedForPrioritization">
                                        <span data-ng-show="selectedProject.selection.current.selectedForPrioritization === true">Selected</span>
                                        <span data-ng-show="selectedProject.selection.current.selectedForPrioritization === false">Not selected</span>
                                    </td>
                                    <td>
                                        <input disabled type="checkbox" data-ng-model="selectedProject.selection.current.selectedForEvaluation">
                                        <span data-ng-show="selectedProject.selection.current.selectedForEvaluation === true">Selected</span>
                                        <span data-ng-show="selectedProject.selection.current.selectedForEvaluation === false">Not selected</span>
                                    </td>
                                    <td>
                                        <input disabled type="checkbox" data-ng-model="selectedProject.selection.current.selectedForDelivery">
                                        <span data-ng-show="selectedProject.selection.current.selectedForDelivery === true">Selected</span>
                                        <span data-ng-show="selectedProject.selection.current.selectedForDelivery === false">Not selected</span>
                                    </td>
                                </tr>
                            </table>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button class="btn btn-success btn-sm" ng-click="selectProjectForm('edit')">Edit</button>
                                        <button class="btn btn-info btn-sm" ng-click="cancelViewProject()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
				</div>
			</div>
			<div class="panel panel-default" data-ng-switch-when="edit">
				<div class="panel-heading">
					<h6 class="panel-title text-center" data-ng-bind="selectedProject.identification.name"></h6>
				</div>
				<div class="panel-body" style="min-height: 450px;">
                    <form class="form" data-ng-submit="editProject()" novalidate name="editProjectForm">
                        <fieldset>
                            <table class="table">
                                <tr>
                                    <th>Activate</th>
                                    <th>Select for Prioritization</th>
                                    <th>Select for Evaluation</th>
                                    <th>Select for Delivery</th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" data-ng-model="selectedProject.selection.current.active">
                                        <span data-ng-show="selectedProject.selection.current.active === true">Active</span>
                                        <span data-ng-show="selectedProject.selection.current.active === false">Inactive</span>
                                    </td>
                                    <td>
                                        <input type="checkbox" data-ng-model="selectedProject.selection.current.selectedForPrioritization">
                                        <span data-ng-show="selectedProject.selection.current.selectedForPrioritization === true">Selected</span>
                                        <span data-ng-show="selectedProject.selection.current.selectedForPrioritization === false">Not selected</span>
                                    </td>
                                    <td>
                                        <input type="checkbox" data-ng-model="selectedProject.selection.current.selectedForEvaluation">
                                        <span data-ng-show="selectedProject.selection.current.selectedForEvaluation === true">Selected</span>
                                        <span data-ng-show="selectedProject.selection.current.selectedForEvaluation === false">Not selected</span>
                                    </td>
                                    <td>
                                        <input type="checkbox" data-ng-model="selectedProject.selection.current.selectedForDelivery">
                                        <span data-ng-show="selectedProject.selection.current.selectedForDelivery === true">Selected</span>
                                        <span data-ng-show="selectedProject.selection.current.selectedForDelivery === false">Not selected</span>
                                    </td>
                                </tr>
                            </table>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <input type="submit" value="Save" class="btn btn-success btn-sm">
                                        <button class="btn btn-info btn-sm" ng-click="cancelEditProject()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
				</div>
			</div>
		</div>
	</div>
</section>
