<section data-ng-controller="GateReviewSetupController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Setup</li>
					<li>Portfolio delivery</li>
					<li class="active">Gate review</li>
				</ol>
			</div>
		</div>
	</div>
    <div data-ng-show="initError" class="text-danger">
        <strong data-ng-bind="initError"></strong>
    </div>
	<div class="row">
		<div class="col-md-12">
			<tabset>
				<tab heading="Gate outcome scores">
					<br>
					<div class="row" ng-show="userHasAuthorization">
						<div class="col-md-3">
							<br>
							<button class="btn btn-primary"
									ng-click="createScore()">
								New score
							</button>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="alert alert-warning text-center" data-ng-hide="outcomeScores.length">
							No outcome scores yet
						</div>
						<div class="col-md-4" data-ng-repeat="score in outcomeScores" data-ng-switch="switchScoreForm[score._id]" >
							<div class="panel panel-default" title="Last updated on {{score.created | date:'medium'}} by {{score.user.displayName}}">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-center" data-ng-bind="score.name"></h6>
                                </div>
                                <div class="panel-body">
									<div ng-switch-default="view">
										<form class="form">
											<fieldset>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
                                                            <label for="name" class="control-label">Name</label>
                                                            <input id="name" disabled type="text" class="form-control" data-ng-model="score.name">
														</div>
														<div class="form-group">
                                                            <label for="description" class="control-label">Description</label>
                                                            <textarea id="description" disabled class="form-control" data-ng-model="score.description"></textarea>
														</div>
                                                        <button type="button" class="btn btn-success pull-right" data-ng-show="userHasAuthorization"
                                                                data-ng-click="selectScore(score)">
                                                            Edit
                                                        </button>
                                                        <div data-ng-show="error" class="text-danger">
                                                            <strong data-ng-bind="error"></strong>
                                                        </div>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
									<div data-ng-switch-when="edit">
										<form class="form" name="editOutcomeScoreForm" data-ng-submit="updateScore(score)" novalidate>
											<fieldset>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
                                                            <label for="scoreNameEdit" class="control-label">Name</label>
                                                            <input type="text" id="scoreNameEdit" class="form-control" name="scoreNameEdit"
																	   data-ng-model="score.name" placeholder="Name" required>
                                                            <span data-ng-show="editOutcomeScoreForm.scoreNameEdit.$error.required">
                                                                <em style="color: red">Name is required</em>
                                                            </span>
														</div>
														<div class="form-group">
                                                            <label for="descriptionEdit" class="control-label">Description</label>
                                                            <textarea id="descriptionEdit" class="form-control"
														        data-ng-model="score.description" placeholder="Description">
                                                            </textarea>
														</div>
														<div class="pull-right">
															<input type="submit" value="Save" class="btn btn-success" data-ng-disabled="editOutcomeScoreForm.$invalid">
															<a class="btn btn-danger" data-ng-click="removeScore(score)" data-ng-show="userHasAuthorization">
																<i class="glyphicon glyphicon-trash"></i>
															</a>
															<button type="button" class="btn btn-info" data-ng-click="cancelEditScore(score)">
																Cancel
															</button>
														</div>
                                                        <div data-ng-show="error" class="text-danger">
                                                            <strong data-ng-bind="error"></strong>
                                                        </div>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
				<tab heading="Gate states">
					<br>
					<div class="row" ng-show="userHasAuthorization">
						<div class="col-md-3">
							<br>
							<button class="btn btn-primary"
									ng-click="createStatus()">
								New state
							</button>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="alert alert-warning text-center" data-ng-hide="gateStates.length">
							No gate states yet
						</div>
						<div class="col-md-4" data-ng-repeat="status in gateStates" data-ng-switch="switchStatusForm[status._id]" >
							<div class="panel panel-default" title="Last updated on {{status.created | date:'medium'}} by {{status.user.displayName}}">
								<div class="panel-heading">
                                    <h6 class="panel-title text-center" data-ng-bind="status.name"></h6>
                                </div>
                                <div class="panel-body">
									<div ng-switch-default="view">
										<form class="form">
											<fieldset>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
                                                            <label for="nameStatus" class="control-label">Name</label>
                                                            <input id="nameStatus" disabled type="text" class="form-control" ng-model="status.name">
														</div>
														<div class="form-group">
                                                            <label for="descriptionStatus" class="control-label">Description</label>
                                                            <textarea id="descriptionStatus" disabled class="form-control" ng-model="status.description"></textarea>
														</div>
														<div class="pull-right" data-ng-show="userHasAuthorization">
															<button type="button" class="btn btn-success" ng-click="selectStatus(status)">
																Edit
															</button>
														</div>
                                                        <div data-ng-show="error" class="text-danger">
                                                            <strong data-ng-bind="error"></strong>
                                                        </div>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
									<div data-ng-switch-when="edit">
										<form class="form" name="editGateStatusForm" data-ng-submit="updateStatus(status)" novalidate>
											<fieldset>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
                                                            <label for="statusNameEdit" class="control-label">Name</label>
                                                            <input type="text" id="statusNameEdit" class="form-control" name="statusNameEdit"
                                                                   data-ng-model="status.name" placeholder="Name" required>
                                                            <span data-ng-show="editGateStatusForm.statusNameEdit.$error.required">
                                                                <em style="color: red">Name is required</em>
                                                            </span>
														</div>
														<div class="form-group">
                                                            <label for="descriptionStatusEdit" class="control-label">Description</label>
															<textarea id="descriptionStatusEdit" class="form-control" data-ng-model="status.description" placeholder="Description"></textarea>
														</div>
														<div class="pull-right">
															<input type="submit" value="Save" class="btn btn-success" data-ng-disabled="editGateStatusForm.$invalid">
															<a class="btn btn-danger" data-ng-click="removeStatus(status)" data-ng-show="userHasAuthorization">
																<i class="glyphicon glyphicon-trash"></i>
															</a>
															<button type="button" class="btn btn-info" data-ng-click="cancelEditStatus(status)">
																Cancel
															</button>
														</div>
                                                        <div data-ng-show="error" class="text-danger">
                                                            <strong data-ng-bind="error"></strong>
                                                        </div>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
</section>
