<section data-ng-controller="LogPrioritiesController"  data-ng-init="init()">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li>Setup</li>
                    <li>Portfolio delivery</li>
                    <li class="active">Delivery log priorities</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-ng-hide="priorityValue || !userHasAuthorization">
                            <div class="text-center">
                                <em>Drag and drop to order by priority. Top is highest priority.</em>
                            </div>
                        </div>
                        <div class="panel-body" data-as-sortable="dragControlListeners" data-ng-model="logPriorities"
                             style="overflow-y: auto; max-height: 500px; min-height: 500px;">
                            <div class="alert alert-warning text-center" data-ng-hide="logPriorities.length">
                                No delivery log priorities yet
                            </div>
                            <button data-ng-repeat="value in logPriorities" data-as-sortable-item data-ng-click="selectValue(value)"
                                    class="btn btn-default btn-lg btn-block center-block" style="overflow: hidden;">
                                <div data-as-sortable-item-handle>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <span class="badge" data-ng-bind="value.position"></span>
                                        </div>
                                        <div class="col-md-10 text-center" data-ng-bind="value.name"></div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-ng-switch="switchValueForm">
                    <div class="row" ng-show="userHasAuthorization" ng-switch-default="view">
                        <div class="col-md-12">
                            <button class="btn btn-primary" data-ng-click="createValue()">
                                New priority
                            </button>
                            <button class="btn btn-success" data-ng-click="selectValueForm('edit')" data-ng-show="priorityValue">
                                Edit priority
                            </button>
                            <div data-ng-show="error" class="text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title" data-ng-bind="priorityValue.name"></h6>
                                    <div class="text-center" data-ng-hide="priorityValue">
                                        <em>Please select a priority value to see the details</em>
                                    </div>
                                </div>
                                <div class="panel-body" data-ng-show="priorityValue">
                                    <div ng-switch-default="view">
                                        <form class="form">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Name</label>
                                                            <div class="controls">
                                                                <input disabled type="text" class="form-control" ng-model="priorityValue.name">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Numerical value</label>
                                                            <div class="controls">
                                                                <input disabled type="number" class="form-control" ng-model="priorityValue.numericalValue">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Description</label>
                                                            <div class="controls">
                                                                <textarea disabled class="form-control" ng-model="priorityValue.description"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div data-ng-show="error" class="text-danger">
                                                                <strong data-ng-bind="error"></strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <small>
                                                    <em class="text-muted">
                                                        Last updated on
                                                        <span data-ng-bind="priorityValue.created | date:'mediumDate'"></span>
                                                        by
                                                        <span data-ng-bind="priorityValue.user.displayName"></span>
                                                    </em>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-ng-switch-when="edit">
                                        <form class="form" data-ng-submit="updateValue(priorityValue)" novalidate name="editPriorityValueForm">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="editValueName">Name</label>
                                                            <div class="controls">
                                                                <input type="text" id="editValueName" class="form-control" name="editValueName"
                                                                       data-ng-model="priorityValue.name" placeholder="Name" required>
                                                            </div>
                                                                    <span data-ng-show="editPriorityValueForm.editValueName.$error.required">
                                                                        <em style="color: red">Name is required</em>
                                                                    </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" for="numerical">Numerical value</label>
                                                            <div class="controls">
                                                                <input type="number" id="numerical" class="form-control" min="0" step="1" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                                                                       data-ng-model="priorityValue.numericalValue" placeholder="Enter positive integer" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" for="description">Description</label>
                                                            <div class="controls">
                                                        <textarea id="description" class="form-control"
                                                                  data-ng-model="priorityValue.description" placeholder="Description">
                                                        </textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group pull-right">
                                                            <input type="submit" value="Save" class="btn btn-success" data-ng-disabled="editPriorityValueForm.$invalid">
                                                            <a class="btn btn-danger" data-ng-click="removeValue(priorityValue)">
                                                                <i class="glyphicon glyphicon-trash"></i>
                                                            </a>
                                                            <button type="button" class="btn btn-info" data-ng-click="cancelEditValue(priorityValue)">
                                                                Cancel
                                                            </button>
                                                        </div>
                                                        <div class="form-group">
                                                            <div data-ng-show="error" class="text-danger">
                                                                <strong data-ng-bind="error"></strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
