<!-- Directive template: PORTFOLIO-TREE -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title text-center">Portfolio tree</h6>
    </div>
    <div class="panel-body">
        <div class="row" style="min-height: 500px;  max-height: 500px; overflow-y: auto;">
            <div class="col-md-12" data-ng-hide="!portfolios.$resolved || portfolios.length">
                <div class="alert alert-warning text-center">
                    No portfolios yet
                </div>
            </div>
            <script type="text/ng-template" id="portfolioTree">
                <button class="btn btn-default btn-sm"
                        data-ng-click="selectPortfolio(tree.node);"
                        style="min-width:50px; max-width: 150px; overflow:hidden; margin: 2%;">
                    <span data-ng-bind="tree.node.name"></span>
                </button>
                <ul data-ng-if="tree.nodeTrees" style="list-style: none;">
                    <li data-ng-repeat="tree in tree.nodeTrees track by $index " >
                        <span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
                    </li>
                </ul>
            </script>
            <ul style="margin-left: 2%; padding-left: 2%; list-style: none;">
                <li data-ng-repeat="tree in portfolioTrees track by $index" >
                    <span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
                </li>
            </ul>
        </div>
    </div>
</div>

