<!-- Directive template: PROJECT-LIST -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title text-center">Projects</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class=" form-group col-md-12" style="margin: 2px">
                <select class="form-control input-sm" data-ng-model="filterProfilePortfolio"
                        data-ng-options="portfolio.name for portfolio in portfolios">
                    <option value="">--filter portfolio</option>
                </select>
            </div>
            <div class=" form-group col-md-12" style="margin: 2px">
                <select class="form-control input-sm" data-ng-model="filterProfileProcess"
                        data-ng-options="process.name for process in gateProcesses">
                    <option value="">--filter gate process</option>
                </select>
            </div>
            <div class=" form-group col-md-12" style="margin: 2px">
                <input type="text" class="form-control input-sm"
                       data-ng-model="filterProfile.name" placeholder="--filter project name">
            </div>
            <div class=" form-group col-md-12" style="margin: 2px">
                <input type="text" class="form-control input-sm"
                       data-ng-model="filterProfile.idNumber" placeholder="--filter project id">
            </div>
        </div>
        <hr style="margin: 10px">
        <div class="row" style="min-height: 350px; max-height: 350px; overflow-y: auto">
            <div class="col-md-12">
                <div data-ng-show="projects.length === 0" class="alert alert-warning text-center">
                    There are no projects
                </div>
                <button type="button"
                        data-ng-repeat="project in projects | filter:
{
    identification: ((!!filterProfile.name || !!filterProfile.idNumber) || undefined) && {
        name : (!!filterProfile.name || undefined) && filterProfile.name,
        idNumber : (!!filterProfile.idNumber || undefined) && filterProfile.idNumber},
    portfolio: (!!filterProfilePortfolio || undefined) && {_id : filterProfilePortfolio._id},
    process: (!!filterProfileProcess || undefined) && {_id : filterProfileProcess._id}
}"
                        data-ng-click="selectProject(project)"
                        class="btn btn-default btn-sm center-block btn-block" style="overflow: hidden;">
                    {{project.identification.idNumber}} - {{project.identification.name}}
                </button>
            </div>
        </div>
    </div>
</div>
