<section data-ng-controller="GateManagementReviewController"  data-ng-init="init()">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li>Portfolio delivery</li>
                    <li>Gate management</li>
                    <li class="active">Gate reviews</li>
                </ol>
            </div>
        </div>
    </div>
    <div data-ng-show="initError" class="text-danger">
        <strong data-ng-bind="initError"></strong>
    </div>
    <div class="row">
        <div class="col-sm-3"><!-- PROJECTS LIST -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title text-center">Projects</h6>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" form-group col-md-12">
                            <select id="" class="form-control input-sm" data-ng-model="filterProfileProcess"
                                    ng-options="process.name for process in gateProcesses">
                                <option value="">--filter by gate process</option>
                            </select>
                        </div>
                        <div class=" form-group col-md-12">
                            <select id="" class="form-control input-sm" data-ng-model="filterProfilePortfolio"
                                    ng-options="portfolio.name for portfolio in portfolios">
                                <option value="">--filter by portfolio</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group-sm">
                            <input id="" type="text" class="form-control input-sm"
                                   data-ng-model="filterProfileProject.name" placeholder="Filter by project name">
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="min-height: 350px; max-height: 350px; overflow-y: auto">
                        <div class="col-md-12">
                            <div data-ng-show="projects.length === 0" class="alert alert-warning text-center">
                                There are no projects in delivery
                            </div>
                            <button type="button"
                                    data-ng-repeat="project in projects | filter:{identification: filterProfileProject, portfolio: filterProfilePortfolio._id, process: filterProfileProcess._id} "
                                    data-ng-click="selectProject(project)"
                                    class="btn btn-default btn-sm center-block btn-block" style="overflow: hidden;">
                                {{project.identification.idNumber}} - {{project.identification.name}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div data-ng-hide="selectedProject || projects.length === 0" class="alert alert-warning text-center">
                        Select a project to see its details
                    </div>
                </div>
            </div>
            <div class="row" data-ng-show="selectedProject">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div><h5>&nbsp;Project: <i>{{selectedProject.identification.name}}</i></h5></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div><h5>&nbsp;Process: <i>{{selectedProject.process.name}}</i></h5></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <tabset type="pills">
                        <tab ng-repeat="reviewObject in gateReviewList track by $index"
                             heading="{{reviewObject.gate.name}}">
                            <hr>
                            <div class="row" data-ng-show="!showNewGateReviewForm && !selectedGateReview">
                                <div class="col-md-12 form-group-sm">
                                    <button class="btn btn-warning btn-sm" ng-click="showNewGateReviewForm = true">
                                        New gate review
                                    </button>
                                </div>
                            </div>
                            <br>
                            <div class="row show-hide-animation" ng-show="showNewGateReviewForm">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">
                                                New gate review
                                            </h6>
                                        </div>
                                        <div class="panel-body">
                                            <form class="form" name="newGateReviewForm">
                                                <div class="row">
                                                    <div class="form-group-sm col-md-3">
                                                        <label for="reviewDateNew">Review date</label>
                                                        <input id="reviewDateNew" name="reviewDateNew" class="form-control" type="date" placeholder="Enter review date"
                                                               data-ng-model="newGateReview.reviewDate" >
                                                    </div>
                                                    <div class="form-group-sm col-md-6">
                                                        <label for="reviewTitleNew">Review title</label>
                                                        <input id="reviewTitleNew" name="reviewTitleNew" class="form-control" type="text" placeholder="Enter review title"
                                                               data-ng-model="newGateReview.title" >
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-group-sm pull-right">
                                                    <button class="btn btn-success btn-xs" data-ng-click="createNewGateReview(selectedProject, reviewObject.gate); showNewGateReviewForm = false;">
                                                        Save
                                                    </button>
                                                    <button class="btn btn-info btn-xs" data-ng-click="cancelNewGateReview(); showNewGateReviewForm = false;">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div data-ng-show="reviewObject.gateReviews.length === 0 && !showNewGateReviewForm" class="alert alert-warning text-center">
                                        There are no gate reviews for this gate
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-ng-show="reviewObject.gateReviews.length !== 0 && !showNewGateReviewForm && !selectedGateReview">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <table class="table">
                                            <tr>
                                                <th>Review date</th>
                                                <th>Title</th>
                                                <th>Score</th>
                                                <th>Gate status</th>
                                                <th>Completed</th>
                                            </tr>
                                            <tr data-ng-repeat="gateReview in reviewObject.gateReviews track by $index" data-ng-click="selectGateReview(gateReview)" class="btn-link">
                                                <td>
                                                    {{gateReview.reviewDate | date:'EEE d, MMM yyyy'}}
                                                </td>
                                                <td>
                                                    {{gateReview.title}}
                                                </td>
                                                <td>
                                                    {{gateReview.overallScore.name}}
                                                </td>
                                                <td>
                                                    {{gateReview.status.name}}
                                                </td>
                                                <td>
                                                    {{gateReview.completed}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-ng-show="selectedGateReview">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-9 text-center">
                                                    <b><em>{{selectedGateReview.reviewDate | date:'EEE d, MMM yyyy'}} - {{selectedGateReview.title}}</em></b>
                                                </div>
                                                <div class="col-md-3">
                                                    <button class="btn btn-primary btn-xs pull-right" data-ng-click="">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 btn-group btn-group-xs btn-group-justified">
                                                <label class="btn btn-info btn-xs" data-ng-model="gateReviewDetails" btn-radio="'header'">
                                                    Header
                                                </label>
                                                <label class="btn btn-info btn-xs" data-ng-model="gateReviewDetails" btn-radio="'status'">
                                                    Status & score
                                                </label>
                                                <label class="btn btn-info btn-xs" data-ng-model="gateReviewDetails" btn-radio="'outcomes'">
                                                    Outcomes
                                                </label>
                                                <label class="btn btn-info btn-xs" data-ng-model="gateReviewDetails" btn-radio="'duration'">
                                                    Duration
                                                </label>
                                                <label class="btn btn-info btn-xs" data-ng-model="gateReviewDetails" btn-radio="'cost'">
                                                    Cost
                                                </label>
                                                <label class="btn btn-info btn-xs" data-ng-model="gateReviewDetails" btn-radio="'completion'">
                                                    Completion
                                                </label>
                                            </div>
                                        </div>
                                        <div class="panel-body" data-ng-show="gateReviewDetails === 'header'">
                                            <form>
                                                <div class="row">
                                                    <div class="form-group-sm col-md-4">
                                                        <label for="prjCrEditRecDate">Review date</label>
                                                        <input id="prjCrEditRecDate" class="form-control" type="date" placeholder="Enter review date"
                                                               data-ng-model="selectedGateReview.reviewDate" >
                                                    </div>
                                                    <div class="form-group-sm col-md-6">
                                                        <label for="reviewTitleEdit">Review title</label>
                                                        <input id="reviewTitleEdit" name="reviewTitleNew" class="form-control" type="text" placeholder="Enter review title"
                                                               data-ng-model="selectedGateReview.title" >
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="form-group-sm col-md-12">
                                                        <label for="prjCrEditComment">Review comment</label>
                                                        <textarea id="prjCrEditComment" class="form-control" placeholder="Enter comment" data-ng-model="selectedGateReview.overallComment"></textarea>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-group-sm pull-right">
                                                    <button class="btn btn-success btn-xs" data-ng-click="updateHeader(selectedGateReview)">
                                                        Save
                                                    </button>
                                                    <button class="btn btn-info btn-xs" data-ng-click="showNewGateReviewForm = false">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="panel-body" data-ng-show="gateReviewDetails === 'status'">
                                            <form>
                                                <div class="row">
                                                    <div class="form-group-sm col-md-4">
                                                        <label for="currentScore">Current overall score</label>
                                                        <select id="currentScore" class="form-control" data-ng-model = "selectedGateReview.gateStatusAssignment.currentRecord.overallScore"
                                                                ng-options="score._id as score.name for score in outcomeScores" disabled>
                                                        </select>
                                                    </div>
                                                    <div class="form-group-sm col-md-4">
                                                        <label for="newScore">New overall score</label>
                                                        <select id="newScore" class="form-control" data-ng-model = "selectedGateReview.overallScore"
                                                                ng-options="score._id as score.name for score in outcomeScores">
                                                            <option value="">--choose score</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="form-group-sm col-md-4">
                                                        <label for="currentStatus">Current gate status</label>
                                                        <select id="currentStatus" class="form-control" data-ng-model = "selectedGateReview.gateStatusAssignment.currentRecord.status"
                                                                ng-options="gateStatus._id as gateStatus.name for gateStatus in gateStatuses" disabled>
                                                        </select>
                                                    </div>
                                                    <div class="form-group-sm col-md-4">
                                                        <label for="newStatus">New gate status</label>
                                                        <select id="newStatus" class="form-control" data-ng-model = "selectedGateReview.status"
                                                                ng-options="gateStatus._id as gateStatus.name for gateStatus in gateStatuses">
                                                            <option value="">--choose status</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="form-group-sm col-md-3">
                                                        <label for="prjCrEditCompleted">Completed</label>
                                                        <input id="prjCrEditCompleted" class="" type="checkbox"
                                                               data-ng-model="selectedGateReview.completed" >
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-group-sm pull-right">
                                                    <button class="btn btn-success btn-xs" data-ng-click="updateStatus(selectedGateReview)">
                                                        Save
                                                    </button>
                                                    <button class="btn btn-info btn-xs" data-ng-click="showNewGateReviewForm = false">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="panel-body" data-ng-show="gateReviewDetails === 'outcomes'">
                                            <table class="table small">
                                                <tr>
                                                    <th>Outcome</th>
                                                    <th>Score</th>
                                                    <th>Comment</th>
                                                    <th> </th>
                                                </tr>
                                                <tr ng-repeat="outcomeReview in selectedGateReview.outcomeReviews track by $index">
                                                    <td>
                                                        {{outcomeReview.outcome.outcomeName}}
                                                    </td>
                                                    <td>
                                                        {{outcomeReview.score.scoreName}}
                                                    </td>
                                                    <td>
                                                        {{outcomeReview.reviewComment}}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-xs" ng-click="">
                                                            <span class="glyphicon glyphicon-trash small"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel-body" data-ng-show="gateReviewDetails === 'duration'">
                                            <table class="table small">
                                                <caption>
                                                    Baseline duration
                                                </caption>
                                                <tr>
                                                    <th>Target gate</th>
                                                    <th>Current date</th>
                                                    <th>New date</th>
                                                    <th>Variance</th>
                                                    <th> </th>
                                                </tr>
                                                <tr data-ng-repeat="baselineDuration in baselineDurations | filter:{sourceGate: reviewObject.gate._id} | orderBy: 'targetGate.position'">
                                                    <td>
                                                        {{baselineDuration.targetGate.name}}
                                                    </td>
                                                    <td>
                                                        {{baselineDuration.currentRecord.gateDate}}
                                                    </td>
                                                    <td>
                                                        <input id="" class="form-control input-sm" type="number" placeholder="Enter amount"
                                                               data-ng-model="newGateReview.baselineDuration.newDate" required>
                                                    </td>
                                                    <td>

                                                    </td>
                                                </tr>
                                            </table>
                                            <table class="table small">
                                                <caption>
                                                    Estimate duration
                                                </caption>
                                                <tr>
                                                    <th>Target gate</th>
                                                    <th colspan="3" class="text-center">Current</th>
                                                    <th colspan="3" class="text-center">New</th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th>Start date</th>
                                                    <th>End date</th>
                                                    <th>Duration</th>
                                                    <th>Start date</th>
                                                    <th>End date</th>
                                                    <th>Duration</th>
                                                    <th> </th>
                                                </tr>
                                                <tr ng-repeat="estDurReview in gateReview.estimateDurationReviews">
                                                    <td>
                                                        {{estDurReview.estimateDuration.targetGate.gateName}}
                                                    </td>
                                                    <td>
                                                        {{estDurReview.currentEstimateDuration.startDate}}
                                                    </td>
                                                    <td>
                                                        {{estDurReview.currentEstimateDuration.endDate}}
                                                    </td>
                                                    <td>
                                                        {{calculateDays(convertToDate(estDurReview.currentEstimateDuration.startDate),convertToDate(estDurReview.currentEstimateDuration.endDate))}}
                                                    </td>
                                                    <td>
                                                        {{estDurReview.newStartDate}}
                                                    </td>
                                                    <td>
                                                        {{estDurReview.newEndDate}}
                                                    </td>
                                                    <td>
                                                        {{calculateDays(convertToDate(estDurReview.newStartDate),convertToDate(estDurReview.newEndDate))}}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-xs" ng-click="">
                                                            <span class="glyphicon glyphicon-trash small"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table class="table small">
                                                <caption>
                                                    Actual duration
                                                </caption>
                                                <tr>
                                                    <th>Target gate</th>
                                                    <th colspan="3" class="text-center">Current</th>
                                                    <th colspan="3" class="text-center">New</th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th>Start date</th>
                                                    <th>End date</th>
                                                    <th>Duration</th>
                                                    <th>Start date</th>
                                                    <th>End date</th>
                                                    <th>Duration</th>
                                                    <th> </th>
                                                </tr>
                                                <tr ng-repeat="actDurReview in gateReview.actualDurationReviews">
                                                    <td>
                                                        {{actDurReview.actualDuration.targetGate.gateName}}
                                                    </td>
                                                    <td>
                                                        {{actDurReview.currentActualDuration.startDate}}
                                                    </td>
                                                    <td>
                                                        {{actDurReview.currentActualDuration.endDate}}
                                                    </td>
                                                    <td>
                                                        {{calculateDays(convertToDate(actDurReview.currentActualDuration.startDate),convertToDate(actDurReview.currentActualDuration.endDate))}}
                                                    </td>
                                                    <td>
                                                        {{actDurReview.newStartDate}}
                                                    </td>
                                                    <td>
                                                        {{actDurReview.newEndDate}}
                                                    </td>
                                                    <td>
                                                        {{calculateDays(convertToDate(actDurReview.newStartDate),convertToDate(actDurReview.newEndDate))}}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-xs" ng-click="">
                                                            <span class="glyphicon glyphicon-trash small"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel-body" data-ng-show="gateReviewDetails === 'cost'">
                                            <table class="table small">
                                                <caption>
                                                    Baseline cost
                                                </caption>
                                                <tr>
                                                    <th>Target gate</th>
                                                    <th>Current cost</th>
                                                    <th>New cost</th>
                                                    <th>Variance</th>
                                                    <th> </th>
                                                </tr>
                                                <tr data-ng-repeat="baselineCost in baselineCosts | filter:{sourceGate: reviewObject.gate._id} | orderBy: 'targetGate.position'">
                                                    <td>
                                                        {{baselineCost.targetGate.name}}
                                                    </td>
                                                    <td>
                                                        {{baselineCost.currentRecord.cost}}
                                                    </td>
                                                    <td>
                                                        <input id="" class="form-control input-sm" type="number"
                                                               data-ng-init="newGateReview.baselineCost[reviewObject.gate._id].newCost = baselineCost.currentRecord.cost"
                                                               data-ng-model="newGateReview.baselineCost[reviewObject.gate._id].newCost" required>
                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-xs" ng-click="">
                                                            <span class="glyphicon glyphicon-trash small"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table class="table small">
                                                <caption>
                                                    Estimate cost
                                                </caption>
                                                <tr>
                                                    <th>Target gate</th>
                                                    <th>Current cost</th>
                                                    <th>New cost</th>
                                                    <th>Variance</th>
                                                    <th> </th>
                                                </tr>
                                                <tr ng-repeat="estCostReview in gateReview.estimateCostReviews">
                                                    <td>
                                                        {{estCostReview.estimateCost.targetGate.gateName}}
                                                    </td>
                                                    <td>
                                                        {{estCostReview.currentEstimateCost.cost}}
                                                    </td>
                                                    <td>
                                                        {{estCostReview.newCost}}
                                                    </td>
                                                    <td>
                                                        {{(estCostReview.currentEstimateCost.cost) - (estCostReview.newCost)}}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-xs" ng-click="">
                                                            <span class="glyphicon glyphicon-trash small"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table class="table small">
                                                <caption>
                                                    Actual cost reviews
                                                </caption>
                                                <tr>
                                                    <th>Target gate</th>
                                                    <th>Current cost</th>
                                                    <th>New cost</th>
                                                    <th>Variance</th>
                                                    <th> </th>
                                                </tr>
                                                <tr ng-repeat="actCostReview in gateReview.actualCostReviews">
                                                    <td>
                                                        {{actCostReview.actualCost.targetGate.gateName}}
                                                    </td>
                                                    <td>
                                                        {{actCostReview.currentActualCost.cost}}
                                                    </td>
                                                    <td>
                                                        {{actCostReview.newCost}}
                                                    </td>
                                                    <td>
                                                        {{(actCostReview.currentActualCost.cost) - (actCostChange.newCost)}}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-xs" ng-click="">
                                                            <span class="glyphicon glyphicon-trash small"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel-body" data-ng-show="gateReviewDetails === 'completion'">
                                            <table class="table small">
                                                <caption>
                                                    Baseline completion
                                                </caption>
                                                <tr>
                                                    <th>Target gate</th>
                                                    <th>Current completion</th>
                                                    <th>New completion</th>
                                                    <th>Variance</th>
                                                    <th> </th>
                                                </tr>
                                                <tr ng-repeat="basCompletionReview in gateReview.baselineCompletionReviews">
                                                    <td>
                                                        {{basCompletionReview.baselineCompletion.targetGate.gateName}}
                                                    </td>
                                                    <td>
                                                        {{basCompletionReview.currentBaselineCompletion.completion}}
                                                    </td>
                                                    <td>
                                                        {{basCompletionReview.newCompletion}}
                                                    </td>
                                                    <td>
                                                        {{round((basCompletionReview.currentBaselineCompletion.completion) - (basCompletionReview.newCompletion))}}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-xs" ng-click="">
                                                            <span class="glyphicon glyphicon-trash small"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table class="table small">
                                                <caption>
                                                    Estimate completion
                                                </caption>
                                                <tr>
                                                    <th>Target gate</th>
                                                    <th>Current completion</th>
                                                    <th>New completion</th>
                                                    <th>Variance</th>
                                                    <th> </th>
                                                </tr>
                                                <tr ng-repeat="estCompReview in gateReview.estimateCompletionReviews">
                                                    <td>
                                                        {{estCompReview.estimateCompletion.targetGate.gateName}}
                                                    </td>
                                                    <td>
                                                        {{estCompReview.currentEstimateCompletion.completion}}
                                                    </td>
                                                    <td>
                                                        {{estCompReview.newCompletion}}
                                                    </td>
                                                    <td>
                                                        {{round((estCompReview.currentEstimateCompletion.completion) - (estCompReview.newCompletion))}}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-xs" ng-click="">
                                                            <span class="glyphicon glyphicon-trash small"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table class="table small">
                                                <caption>
                                                    Actual completion
                                                </caption>
                                                <tr>
                                                    <th>Target gate</th>
                                                    <th>Current completion</th>
                                                    <th>New completion</th>
                                                    <th>Variance</th>
                                                    <th> </th>
                                                </tr>
                                                <tr ng-repeat="actCompReview in gateReview.actualCompletionReviews">
                                                    <td>
                                                        {{actCompReview.actualCompletion.targetGate.gateName}}
                                                    </td>
                                                    <td>
                                                        {{actCompReview.currentActualCompletion.completion}}
                                                    </td>
                                                    <td>
                                                        {{actCompReview.newCompletion}}
                                                    </td>
                                                    <td>
                                                        {{round((actCompReview.currentActualCompletion.completion) - (actCompReview.newCompletion))}}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-xs" ng-click="">
                                                            <span class="glyphicon glyphicon-trash small"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</section>
