<section data-ng-controller="ImprovementActivitiesController as parentCtrl" data-ng-init="parentCtrl.init()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title text-center"
                style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                #{{selectedImprovementActivity.idNumber}} - {{selectedImprovementActivity.title}}
            </h6>
        </div>
        <div data-ng-show="parentCtrl.error" class="text-danger">
            <strong data-ng-bind="parentCtrl.error"></strong>
        </div>
        <div class="row">
            <div class="col-md-12 btn-group btn-group-xs btn-group-justified">
                <label class="btn btn-info btn-xs" data-ng-model="parentCtrl.improvementActivityDetails" btn-radio="'header'">
                    Header
                </label>
                <label class="btn btn-info btn-xs" data-ng-model="parentCtrl.improvementActivityDetails" btn-radio="'status'">
                    Status
                </label>
            </div>
        </div>
        <div class="panel-body">
            <div data-ng-show="parentCtrl.improvementActivityDetails === 'header'">
                <div data-ng-switch="parentCtrl.switchHeaderForm">
                    <form data-ng-switch-default="view">
                        <div class="row">
                            <div class="form-group-sm col-md-3">
                                <label for="">Raised on date</label>
                                <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedImprovementActivity.raisedOnDate" disabled />
                            </div>
                            <div class="form-group-sm col-md-6">
                                <label for="reviewTitleEdit">Review title</label>
                                <input id="reviewTitleEdit" name="reviewTitleNew" class="form-control" type="text" placeholder="Enter review title"
                                       data-ng-model="selectedImprovementActivity.title" disabled>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group-sm col-md-4">
                                <label for="">Type</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.type"
                                        ng-options="type as type.name for type in parentCtrl.improvementTypes track by type._id" disabled>
                                </select>
                            </div>
                            <div class="form-group-sm col-md-4">
                                <label for="">Portfolio</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.portfolio"
                                        ng-options="portfolio as portfolio.name for portfolio in parentCtrl.portfolios track by portfolio._id" disabled>
                                </select>
                            </div>
                            <div class="form-group-sm col-md-4">
                                <label for="">Assigned to</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.assignedTo"
                                        ng-options="person as person.name for person in parentCtrl.people track by person._id" disabled>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group-sm col-md-4">
                                <label for="">Reason</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.reason"
                                        ng-options="reason as reason.name for reason in parentCtrl.improvementReasons track by reason._id" disabled>
                                </select>
                            </div>
                            <div class="form-group-sm col-md-4">
                                <label for="">Priority</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.priority"
                                        ng-options="priority as priority.name for priority in parentCtrl.logPriorities track by priority._id" disabled>
                                </select>
                            </div>
                            <div class="form-group-sm col-md-4">
                                <label for="">State</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.state"
                                        ng-options="state as state.name for state in parentCtrl.improvementStates track by state._id" disabled>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group-sm col-md-12">
                                <label for="">Description</label>
                                <textarea id="" class="form-control" data-ng-model="selectedImprovementActivity.description" disabled></textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group-sm pull-right" data-ng-show="parentCtrl.userHasAuthorization('edit', parentCtrl.userData, selectedImprovementActivity)">
                            <button class="btn btn-success btn-xs" data-ng-click="parentCtrl.editHeader()">
                                Edit
                            </button>
                        </div>
                    </form>
                    <form data-ng-switch-when="edit" name="editImprovementActivityForm">
                        <div class="row">
                            <div class="form-group-sm col-md-3">
                                <label for="">Raised on date</label>
                                <div class="input-group">
                                    <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedImprovementActivity.raisedOnDate"
                                           is-open="parentCtrl.headerDateOpened" required>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm" ng-click="parentCtrl.openHeaderDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                </div>
                            </div>
                            <div class="form-group-sm col-md-6">
                                <label for="">Title</label>
                                <input id="" class="form-control" type="text" placeholder="Enter title"
                                       data-ng-model="selectedImprovementActivity.title" required>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group-sm col-md-4">
                                <label for="">Type</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.type"
                                        ng-options="type as type.name for type in parentCtrl.improvementTypes track by type._id" >
                                    <option value="">--choose type</option>
                                </select>
                            </div>
                            <div class="form-group-sm col-md-4">
                                <label for="">Portfolio</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.portfolio"
                                        ng-options="portfolio as portfolio.name for portfolio in parentCtrl.portfolios track by portfolio._id" >
                                    <option value="">--choose portfolio</option>
                                </select>
                            </div>
                            <div class="form-group-sm col-md-4">
                                <label for="">Assigned to</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.assignedTo"
                                        ng-options="person as person.name for person in parentCtrl.people track by person._id" >
                                    <option value="">--choose person</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group-sm col-md-4">
                                <label for="">Reason</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.reason"
                                        ng-options="reason as reason.name for reason in parentCtrl.improvementReasons track by reason._id" >
                                    <option value="">--choose reason</option>
                                </select>
                            </div>
                            <div class="form-group-sm col-md-4">
                                <label for="">Priority</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.priority"
                                        ng-options="priority as priority.name for priority in parentCtrl.logPriorities track by priority._id" >
                                    <option value="">--choose priority</option>
                                </select>
                            </div>
                            <div class="form-group-sm col-md-4">
                                <label for="">State</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.state"
                                        ng-options="state as state.name for state in parentCtrl.improvementStates track by state._id" >
                                    <option value="">--choose state</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group-sm col-md-12">
                                <label for="">Description</label>
                                <textarea id="" class="form-control" placeholder="Enter description" data-ng-model="selectedImprovementActivity.description"></textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group-sm pull-right">
                            <button class="btn btn-success btn-xs" data-ng-click="parentCtrl.saveEditHeader(selectedImprovementActivity, originalImprovementActivity)"
                                    data-ng-disabled="editImprovementActivityForm.$invalid">
                                Save
                            </button>
                            <button class="btn btn-info btn-xs" data-ng-click="parentCtrl.cancelEditHeader(selectedImprovementActivity, originalImprovementActivity)">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div data-ng-show="parentCtrl.improvementActivityDetails === 'status'">
                <div data-ng-switch="parentCtrl.switchStatusForm">
                    <form data-ng-switch-default="view">
                        <div class="row">
                            <div class="form-group-sm col-md-4">
                                <label for="">Baseline delivery date</label>
                                <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedImprovementActivity.statusReview.currentRecord.baselineDeliveryDate" disabled />
                            </div>
                            <div class="form-group-sm col-md-4">
                                <label for="">Estimate delivery date</label>
                                <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedImprovementActivity.statusReview.currentRecord.estimateDeliveryDate" disabled />
                            </div>
                            <div class="form-group-sm col-md-4">
                                <label for="">Actual delivery date</label>
                                <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedImprovementActivity.statusReview.currentRecord.actualDeliveryDate" disabled />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group-sm col-md-4">
                                <label for="">Status</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.statusReview.currentRecord.status"
                                        ng-options="status as status.name for status in parentCtrl.logStatuses track by status._id" disabled>
                                </select>
                            </div>
                            <div class="form-group-sm col-md-4">
                                <label for="prjCrEditCompleted">Completed</label>
                                <input id="prjCrEditCompleted" class="" type="checkbox"
                                       data-ng-model="selectedImprovementActivity.statusReview.currentRecord.completed" disabled>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group-sm col-md-12">
                                <label for="">Status comment</label>
                                <textarea id="" class="form-control" data-ng-model="selectedImprovementActivity.statusReview.currentRecord.statusComment" disabled></textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="pull-right" data-ng-show="parentCtrl.userHasAuthorization('edit', parentCtrl.userData, selectedImprovementActivity)">
                            <button class="btn btn-success btn-xs" data-ng-click="parentCtrl.editStatus()">
                                Edit
                            </button>
                        </div>
                    </form>
                    <form data-ng-switch-when="edit">
                        <div class="row">
                            <div class="form-group-sm col-md-4">
                                <label for="">Baseline delivery date</label>
                                <div class="input-group">
                                    <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedImprovementActivity.statusReview.currentRecord.baselineDeliveryDate"
                                           is-open="parentCtrl.baselineDeliveryDateOpened" >
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-default btn-sm" ng-click="parentCtrl.openBaselineDeliveryDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                            </span>
                                </div>
                            </div>
                            <div class="form-group-sm col-md-4">
                                <label for="">Estimate delivery date</label>
                                <div class="input-group">
                                    <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedImprovementActivity.statusReview.currentRecord.estimateDeliveryDate"
                                           is-open="parentCtrl.estimateDeliveryDateOpened" >
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-default btn-sm" ng-click="parentCtrl.openEstimateDeliveryDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                            </span>
                                </div>
                            </div>
                            <div class="form-group-sm col-md-4">
                                <label for="">Actual delivery date</label>
                                <div class="input-group">
                                    <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedImprovementActivity.statusReview.currentRecord.actualDeliveryDate"
                                           is-open="parentCtrl.actualDeliveryDateOpened" >
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-default btn-sm" ng-click="parentCtrl.openActualDeliveryDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                            </span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group-sm col-md-4">
                                <label for="">Status</label>
                                <select id="" class="form-control" data-ng-model = "selectedImprovementActivity.statusReview.currentRecord.status"
                                        data-ng-options="status as status.name for status in parentCtrl.logStatuses track by status._id" >
                                    <option value="">--choose status</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group-sm col-md-4">
                                <label for="prjCrEditCompleted">Completed</label>
                                <input id="prjCrEditCompleted" class="" type="checkbox"
                                       data-ng-model="selectedImprovementActivity.statusReview.currentRecord.completed" >
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group-sm col-md-12">
                                <label for="">Status comment</label>
                                <textarea id="" class="form-control" placeholder="Enter status comment" data-ng-model="selectedImprovementActivity.statusReview.currentRecord.statusComment" ></textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="pull-right">
                            <button class="btn btn-success btn-xs" data-ng-click="parentCtrl.saveEditStatus(selectedImprovementActivity, originalImprovementActivity)">
                                Save
                            </button>
                            <button class="btn btn-info btn-xs" data-ng-click="parentCtrl.cancelEditStatus(selectedImprovementActivity, originalImprovementActivity)">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="center-block text-center">
            <button class="btn btn-primary btn-sm" data-ng-click="parentCtrl.cancelEditStatus(selectedImprovementActivity, originalImprovementActivity); parentCtrl.cancelEditHeader(selectedImprovementActivity, originalImprovementActivity); cancelModal()">
                Close
            </button>
        </div>
    </div>
    <br>
    <div class="row"></div>
</section>
