<section data-ng-controller="ImprovementActivitiesController as parentCtrl"  data-ng-init="parentCtrl.init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Portfolio evaluation</li>
					<li>Review and improvement</li>
					<li class="active">Improvement activities</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row" data-ng-show="showNewImprovementActivityForm">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h6 class="panel-title">
								New improvement activity
							</h6>
						</div>
						<div class="panel-body">
							<form class="form" name="newImprovementActivityForm">
								<div class="row">
									<div class="form-group-sm col-md-3">
										<label for="activityRaisedOnDateNew">Raised on date</label>
										<div class="input-group">
											<input type="text" id="activityRaisedOnDateNew" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="parentCtrl.newImprovementActivity.raisedOnDate"
												   is-open="parentCtrl.newImprovementActivityRaisedOnDateOpened" required>
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default btn-sm" ng-click="parentCtrl.openNewActivityRaisedOnDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                </span>
										</div>
									</div>
									<div class="form-group-sm col-md-6">
										<label for="activityTitleNew">Title</label>
										<input id="activityTitleNew" class="form-control" type="text" placeholder="Enter activity title"
											   data-ng-model="parentCtrl.newImprovementActivity.title" required>
									</div>
								</div>
								<hr>
								<div class="form-group-sm pull-right">
									<button class="btn btn-success btn-xs" data-ng-click="parentCtrl.createNewImprovementActivity(parentCtrl.selectedPortfolio); showNewImprovementActivityForm = false;"
											data-ng-disabled="newImprovementActivityForm.$invalid">
										Save
									</button>
									<button class="btn btn-info btn-xs" data-ng-click="parentCtrl.cancelNewImprovementActivity(); showNewImprovementActivityForm = false;">
										Cancel
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div data-ng-show="!showNewImprovementActivityForm">
				<div class="row">
					<div class="col-md-5 form-group-sm center-block">
						<button class="btn btn-warning btn-sm" data-ng-click="showNewImprovementActivityForm = true">
							New improvement activity
						</button>
					</div>
				</div>
				<br>
				<div data-ng-hide="parentCtrl.improvementActivities.length !== 0" class="alert alert-warning text-center">
					There are no improvement activities
				</div>
				<div class="row" data-ng-show="parentCtrl.improvementActivities.length !== 0">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table class="table table-bordered table-hover table-condensed small">
								<thead>
								<tr>
									<td colspan="10" class="text-center">
										<span><h5>Improvement activities</h5></span>
									</td>
								</tr>
								<tr>
									<td colspan="10">
										<div class="row" data-ng-show="!showIssueFilters">
											<div class="col-md-12">
												<a data-ng-click="showIssueFilters = true"><b>Filters</b></a><br>

												<span data-ng-show="improvementActivityFilter.idNumber"><b>#: </b><i>"{{improvementActivityFilter.idNumber}}" | </i></span>

												<span data-ng-show="improvementActivityFilter.title"><b>Title: </b><i>"{{improvementActivityFilter.title}}" | </i></span>

                                                <span data-ng-show="improvementActivityFilter.type"><b>Type: </b><i>"{{improvementActivityFilter.type.name}}" | </i></span>

                                                <span data-ng-show="improvementActivityFilter.portfolio"><b>Portfolio: </b><i>"{{improvementActivityFilter.portfolio.name}}" | </i></span>

                                                <span data-ng-show="improvementActivityFilter.assignedTo"><b>Assigned to: </b><i>"{{improvementActivityFilter.assignedTo.name}}" | </i></span>

                                                <span data-ng-show="improvementActivityFilter.reason"><b>Reason: </b><i>"{{improvementActivityFilter.reason.name}}" | </i></span>

                                                <span data-ng-show="improvementActivityFilter.priority"><b>Priority: </b><i>"{{improvementActivityFilter.priority.name}}" | </i></span>

												<span data-ng-show="improvementActivityFilter.state"><b>State: </b><i>"{{improvementActivityFilter.state.name}}" | </i></span>

												<span data-ng-show="improvementActivityFilter.statusReview.currentRecord.status"><b>Status: </b><i>"{{improvementActivityFilter.statusReview.currentRecord.status.name}}" | </i></span>

												<span data-ng-show="improvementActivityFilter.statusReview.currentRecord.completed === false"><b>Completion: </b><i>"Not completed"</i></span>
												<span data-ng-show="improvementActivityFilter.statusReview.currentRecord.completed === true"><b>Completion: </b><i>"Completed"</i></span>
											</div>
										</div>
										<div class="row" data-ng-show="showIssueFilters">
											<div class="col-md-12">
												<div class="row">
													<div class="col-md-12">
														<a data-ng-click="showIssueFilters = false"><b>Hide filters</b></a>
													</div>
												</div>
												<br>
												<div class="row">
													<div class="col-md-2 form-group-sm">
														<input class="form-control" type="number" placeholder="id" data-ng-model="improvementActivityFilter.idNumber">
													</div>
													<div class="col-md-4 form-group-sm">
														<input class="form-control" type="text" placeholder="filter by title" data-ng-model="improvementActivityFilter.title">
													</div>
												</div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-3 form-group-sm">
                                                        <select class="form-control" data-ng-model = "improvementActivityFilter.type"
                                                                data-ng-options="type as type.name for type in parentCtrl.improvementTypes">
                                                            <option value="">--filter by type</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3 form-group-sm">
                                                        <select class="form-control" data-ng-model = "improvementActivityFilter.portfolio"
                                                                data-ng-options="portfolio as portfolio.name for portfolio in parentCtrl.portfolios">
                                                            <option value="">--filter by portfolio</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3 form-group-sm">
                                                        <select class="form-control" data-ng-model = "improvementActivityFilter.assignedTo"
                                                                data-ng-options="person as person.name for person in parentCtrl.people">
                                                            <option value="">--filter by owner</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3 form-group-sm">
                                                        <select class="form-control" data-ng-model = "improvementActivityFilter.reason"
                                                                data-ng-options="reason as reason.name for reason in parentCtrl.logReasons">
                                                            <option value="">--filter by reason</option>
                                                        </select>
                                                    </div>
                                                </div>
												<br>
                                                <div class="row">
                                                    <div class="col-md-3 form-group-sm">
                                                        <select class="form-control" data-ng-model = "improvementActivityFilter.priority"
                                                                data-ng-options="priority as priority.name for priority in parentCtrl.logPriorities">
                                                            <option value="">--filter by priority</option>
                                                        </select>
                                                    </div>
													<div class="col-md-3 form-group-sm">
														<select class="form-control" data-ng-model = "improvementActivityFilter.state"
																data-ng-options="state as state.name for state in parentCtrl.improvementStates">
															<option value="">--filter by state</option>
														</select>
													</div>
                                                    <div class="col-md-3 form-group-sm">
                                                        <select class="form-control" data-ng-model = "improvementActivityFilter.statusReview.currentRecord.status"
                                                                data-ng-options="status as status.name for status in parentCtrl.logStatuses">
                                                            <option value="">--filter by status</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3 form-group-sm">
                                                        <select class="form-control" data-ng-model = "improvementActivityFilter.statusReview.currentRecord.completed"
                                                                data-ng-options="completion.flag as completion.name for completion in parentCtrl.completionFilterArray">
                                                            <option value="">--filter by completion</option>
                                                        </select>
                                                    </div>
												</div>
												<br>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th>#</th>
									<th>Title</th>
                                    <th>Type</th>
                                    <th>Portfolio</th>
                                    <th>Assigned to</th>
                                    <th>Reason</th>
									<th>Priority</th>
									<th>State</th>
									<th>Status</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr data-ng-repeat="improvementActivity in parentCtrl.improvementActivities | orderBy: 'idNumber'">
									<td data-ng-class="{'btn-default' : improvementActivity.statusReview.currentRecord.completed}">
										{{improvementActivity.idNumber}}
									</td>
									<td>{{improvementActivity.title}}</td>
                                    <td>
                                        <span data-ng-show="improvementActivity.type">{{improvementActivity.type.name}}</span>
                                        <span data-ng-show="!improvementActivity.type">No type</span>
                                    </td>
                                    <td>
                                        <span data-ng-show="improvementActivity.portfolio">{{improvementActivity.portfolio.name}}</span>
                                        <span data-ng-show="!improvementActivity.portfolio">No portfolio</span>
                                    </td>
                                    <td>
                                        <span data-ng-show="improvementActivity.assignedTo">{{improvementActivity.assignedTo.name}}</span>
                                        <span data-ng-show="!improvementActivity.assignedTo">Not assigned</span>
                                    </td>
                                    <td>
                                        <span data-ng-show="improvementActivity.reason">{{improvementActivity.reason.name}}</span>
                                        <span data-ng-show="!improvementActivity.reason">No reason</span>
                                    </td>
									<td>
										<span data-ng-show="improvementActivity.priority">{{improvementActivity.priority.name}}</span>
										<span data-ng-show="!improvementActivity.priority">No priority</span>
									</td>
									<td>
										<span data-ng-show="improvementActivity.state">{{improvementActivity.state.name}}</span>
										<span data-ng-show="!improvementActivity.state">No state</span>
									</td>
									<td>
										<span data-ng-show="improvementActivity.statusReview.currentRecord.status">{{improvementActivity.statusReview.currentRecord.status.name}}</span>
										<span data-ng-show="!improvementActivity.statusReview.currentRecord.status">No status</span>
									</td>
									<td class="text-center">
										<button class="btn btn-success btn-xs" data-ng-click="parentCtrl.selectImprovementActivity(improvementActivity)">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
										<button class="btn btn-danger btn-xs" data-ng-click="parentCtrl.deleteImprovementActivity(improvementActivity)">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
