<section data-ng-controller="MaturitySetupController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Setup</li>
					<li>Improvement</li>
					<li class="active">Maturity models</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="error" class="text-danger">
		<strong data-ng-bind="error"></strong>
	</div>
	<div class="row">

		<!-- LIST OF MODELS -->

		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h6 class="panel-title text-center">Maturity models</h6>
				</div>
				<div class="panel-body" style="min-height: 500px">
					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-sm btn-success" data-ng-click="createMaturityModel()"
									data-ng-show="userHasAuthorization" data-ng-disabled="isResolving">
								New maturity model
							</button>
						</div>
					</div>
					<hr style="margin: 10px">
					<div class="row" style="min-height: 400px; max-height: 400px; overflow-y: scroll">
						<div class="col-md-12">
                            <div class="alert alert-warning text-center" data-ng-show="maturityModels.length === 0">
                                There are no maturity models created yet
                            </div>
							<button class="btn btn-default btn-block"
									data-ng-repeat="model in maturityModels track by $index"
									data-ng-click="selectMaturityModel(model)"
									data-ng-bind="model.name"
                                    data-ng-disabled="isResolving"
                                    style="overflow: hidden">
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- MODEL DETAILS -->

		<div class="col-sm-8">
			<div class="alert alert-warning text-center" data-ng-show="!selectedMaturityModel && maturityModels.length">
				Select a maturity model to see the details
			</div>
			<div class="panel panel-default" data-ng-show="selectedMaturityModel">
				<div class="panel-heading">
					<h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
						{{selectedMaturityModel.name}}
					</h6>
				</div>
				<div class="row">
					<div class="col-md-12 btn-group btn-group-xs btn-group-justified">
						<label class="btn btn-info btn-xs" data-ng-model="maturityModelDetails" btn-radio="'header'">
							Header
						</label>
						<label class="btn btn-info btn-xs" data-ng-model="maturityModelDetails" btn-radio="'levels'">
							Levels
						</label>
						<label class="btn btn-info btn-xs" data-ng-model="maturityModelDetails" btn-radio="'areas'">
							Areas
						</label>
                        <label class="btn btn-info btn-xs" data-ng-model="maturityModelDetails" btn-radio="'dimensions'">
                            Dimensions
                        </label>
					</div>
				</div>
				<div class="panel-body" style="min-height: 475px">
                    <div data-ng-show="maturityModelDetails === 'header'">
                        <div class="row">
                            <div class="col-xs-12">
                                <form name="editMaturityModelForm" novalidate>
                                    <div class="form-group">
                                        <label for="groupNameEdit" class="control-label">Model name</label>
                                        <input id="groupNameEdit" type="text" class="form-control"
                                               data-ng-model="selectedMaturityModel.name"
                                               data-ng-disabled="!maturityModelEdit[selectedMaturityModel._id]" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="groupDescription" class="control-label">Model description</label>
                                        <textarea id="groupDescription" class="form-control" placeholder="No description yet"
                                          data-ng-model="selectedMaturityModel.description"
                                          data-ng-disabled="!maturityModelEdit[selectedMaturityModel._id]">
                                        </textarea>
                                    </div>
                                    <div class="form-group pull-right" data-ng-show="!maturityModelEdit[selectedMaturityModel._id] && userHasAuthorization">
                                        <button class="btn btn-sm btn-success" data-ng-click="maturityModelEdit[selectedMaturityModel._id] = true">
                                            Edit
                                        </button>
                                    </div>
                                    <div class="form-group pull-right" data-ng-show="maturityModelEdit[selectedMaturityModel._id]">
                                        <button type="button" class="btn btn-sm btn-success" data-ng-click="saveEditMaturityModel(selectedMaturityModel)"
                                                data-ng-disabled="editMaturityModelForm.$invalid || isResolving">
                                            Save
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger" data-ng-click="deleteMaturityModel(selectedMaturityModel)"
                                                data-ng-disabled="isResolving">
                                            Delete maturity model
                                        </button>
                                        <button type="button" class="btn btn-sm btn-info" data-ng-click="cancelEditMaturityModel(selectedMaturityModel)"
                                                data-ng-disabled="isResolving">
                                            Cancel
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
					<div data-ng-show="maturityModelDetails === 'levels'">
                        <div class="row">
							<div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                                            Levels
                                        </h6>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <button class="btn btn-xs btn-success" data-ng-click="createLevel(selectedMaturityModel)"
                                                        data-ng-show="userHasAuthorization" data-ng-disabled="isResolving">
                                                    New level
                                                </button>
                                            </div>
                                        </div>
                                        <hr style="margin: 10px">
                                        <div class="row" style="min-height: 310px; max-height: 310px; overflow-y: auto;">
                                            <div class="col-md-12">
                                                <button class="btn btn-default btn-block"
                                                        data-ng-repeat="level in selectedMaturityModel.levels track by level._id"
                                                        data-ng-click="selectLevel(level)"
                                                        data-ng-disabled="isResolving"
                                                        style="overflow: hidden">
                                                    <span class="badge">{{$index + 1}}</span>&nbsp;<span>{{level.name}}</span>
                                                </button>
                                                <div class="alert alert-warning text-center" data-ng-hide="selectedMaturityModel.levels.length">
                                                    No levels yet
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							</div>
                            <div class="col-xs-6">
                                <div class="alert alert-warning text-center" data-ng-show="!selectedLevel && selectedMaturityModel.levels.length">
                                    Select a maturity level to see its details
                                </div>
                                <div class="panel panel-default" data-ng-show="selectedLevel">
                                    <div class="panel-heading">
                                        <h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                                            {{selectedLevel.name}}
                                        </h6>
                                    </div>
                                    <div class="panel-body" style="min-height: 385px">
                                        <form name="editLevelForm" novalidate>
                                            <div class="form-group">
                                                <label for="levelNameEdit" class="control-label">Name</label>
                                                <input id="levelNameEdit" type="text" class="form-control" data-ng-model="selectedLevel.name"
                                                       data-ng-disabled="!levelEdit[selectedLevel._id]" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="levelDescription" class="control-label">Description</label>
                                                <textarea id="levelDescription" class="form-control" placeholder="No description yet"
                                                          data-ng-model="selectedLevel.description" data-ng-disabled="!levelEdit[selectedLevel._id]"></textarea>
                                            </div>
                                            <div class="form-group pull-right" data-ng-show="userHasAuthorization && !levelEdit[selectedLevel._id]">
                                                <button class="btn btn-success btn-sm" data-ng-click="levelEdit[selectedLevel._id] = true">
                                                    Edit
                                                </button>
                                            </div>
                                            <div class="form-group pull-right" data-ng-show="levelEdit[selectedLevel._id]">
                                                <button type="button" class="btn btn-sm btn-success" data-ng-click="saveEditLevel(selectedMaturityModel, selectedLevel)"
                                                        data-ng-disabled="editLevelForm.$invalid || isResolving">
                                                    Save
                                                </button>
                                                <button type="button" class="btn btn-sm btn-danger" data-ng-click="deleteLevel(selectedMaturityModel, selectedLevel)"
                                                        data-ng-disabled="isResolving">
                                                    Delete Level
                                                </button>
                                                <button type="button" class="btn btn-sm btn-info" data-ng-click="cancelEditLevel(selectedLevel)"
                                                        data-ng-disabled="isResolving">
                                                    Cancel
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
					<div data-ng-show="maturityModelDetails === 'areas'">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                                            Areas
                                        </h6>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <button class="btn btn-xs btn-success" data-ng-click="createArea(selectedMaturityModel)"
                                                        data-ng-show="userHasAuthorization" data-ng-disabled="isResolving">
                                                    New area
                                                </button>
                                            </div>
                                        </div>
                                        <hr style="margin: 10px">
                                        <div class="row" style="min-height: 310px; max-height: 310px; overflow-y: auto;">
                                            <div class="col-md-12">
                                                <button class="btn btn-default btn-block text-center"
                                                        data-ng-repeat="area in selectedMaturityModel.areas track by area._id"
                                                        data-ng-click="selectArea(area)"
                                                        data-ng-disabled="isResolving"
                                                        style="overflow: hidden">
                                                   <span>{{area.name}}</span>
                                                </button>
                                                <div class="alert alert-warning text-center" data-ng-hide="selectedMaturityModel.areas.length">
                                                    No areas yet
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="alert alert-warning text-center" data-ng-show="!selectedArea && selectedMaturityModel.areas.length">
                                    Select a maturity area to see its details
                                </div>
                                <div class="panel panel-default" data-ng-show="selectedArea">
                                    <div class="panel-heading">
                                        <h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                                            {{selectedArea.name}}
                                        </h6>
                                    </div>
                                    <div class="panel-body" style="min-height: 385px">
                                        <form name="editAreaForm" novalidate>
                                            <div class="form-group">
                                                <label for="areaNameEdit" class="control-label">Name</label>
                                                <input id="areaNameEdit" type="text" class="form-control" data-ng-model="selectedArea.name"
                                                       data-ng-disabled="!areaEdit[selectedArea._id]" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="areaDescription" class="control-label">Description</label>
                                                <textarea id="areaDescription" class="form-control" placeholder="No description yet"
                                                          data-ng-model="selectedArea.description" data-ng-disabled="!areaEdit[selectedArea._id]"></textarea>
                                            </div>
                                            <div class="form-group pull-right" data-ng-show="userHasAuthorization && !areaEdit[selectedArea._id]">
                                                <button class="btn btn-success btn-sm" data-ng-click="areaEdit[selectedArea._id] = true">
                                                    Edit
                                                </button>
                                            </div>
                                            <div class="form-group pull-right" data-ng-show="areaEdit[selectedArea._id]">
                                                <button type="button" class="btn btn-sm btn-success" data-ng-click="saveEditArea(selectedMaturityModel, selectedArea)"
                                                        data-ng-disabled="editAreaForm.$invalid || isResolving">
                                                    Save
                                                </button>
                                                <button type="button" class="btn btn-sm btn-danger" data-ng-click="deleteArea(selectedMaturityModel, selectedArea)"
                                                        data-ng-disabled="isResolving">
                                                    Delete area
                                                </button>
                                                <button type="button" class="btn btn-sm btn-info" data-ng-click="cancelEditArea(selectedArea)"
                                                        data-ng-disabled="isResolving">
                                                    Cancel
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
                    <div data-ng-show="maturityModelDetails === 'dimensions'">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                                            Dimensions
                                        </h6>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <button class="btn btn-xs btn-success" data-ng-click="showNewDimensionForm = true;"
                                                        data-ng-show="userHasAuthorization" data-ng-disabled="isResolving">
                                                    New dimension
                                                </button>
                                            </div>
                                        </div>
                                        <hr style="margin: 5px">
                                        <div class="row">
                                            <div class="col-xs-12" style="margin-bottom: 1px">
                                                <select class="form-control input-sm" data-ng-model = "dimensionFilter.level"
                                                        data-ng-options="level._id as level.name for level in selectedMaturityModel.levels">
                                                    <option value="">--filter by level</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-12" style="margin-bottom: 1px">
                                                <select class="form-control input-sm" data-ng-model = "dimensionFilter.area"
                                                        data-ng-options="area._id as area.name for area in selectedMaturityModel.areas track by area._id">
                                                    <option value="">--filter by area</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr style="margin: 5px">
                                        <div class="row" style="min-height: 250px; max-height: 250px; overflow-y: auto;">
                                            <div class="col-md-12">
                                                <button class="btn btn-default btn-block text-center"
                                                        data-ng-repeat="dimension in selectedMaturityModel.dimensions | filter: {level: (!!dimensionFilter.level || undefined) && dimensionFilter.level, area: (!!dimensionFilter.area || undefined) && dimensionFilter.area}"
                                                        data-ng-click="selectDimension(dimension)"
                                                        data-ng-disabled="isResolving || showNewDimensionForm"
                                                        style="overflow: hidden">
                                                    <span>{{dimension.name}}</span>
                                                </button>
                                                <div class="alert alert-warning text-center" data-ng-hide="selectedMaturityModel.dimensions.length">
                                                    No dimensions yet
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="alert alert-warning text-center" data-ng-show="!selectedDimension && !showNewDimensionForm && selectedMaturityModel.dimensions.length">
                                    Select a maturity dimension to see its details
                                </div>
                                <div class="panel panel-default" data-ng-show="showNewDimensionForm">
                                    <div class="panel-heading">
                                        <h6 class="panel-title text-center">
                                            New maturity dimension
                                        </h6>
                                    </div>
                                    <div class="panel-body" style="min-height: 385px">
                                        <form name="newDimensionForm" novalidate>
                                            <div class="form-group">
                                                <label for="dimensionLevelNew">Level</label>
                                                <select id="dimensionLevelNew" class="form-control" data-ng-model="newDimensionFormObj[selectedMaturityModel._id].level"
                                                        data-ng-options="level.name for level in selectedMaturityModel.levels" required>
                                                    <option value="">--maturity level</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="dimensionLevelNew">Area</label>
                                                <select id="dimensionLevelNew" class="form-control" data-ng-model="newDimensionFormObj[selectedMaturityModel._id].area"
                                                        data-ng-options="area.name for area in selectedMaturityModel.areas" required>
                                                    <option value="">--maturity area</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="dimensionNameNew" class="control-label">Name</label>
                                                <input id="dimensionNameNew" type="text" class="form-control" data-ng-model="newDimensionFormObj[selectedMaturityModel._id].name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="dimensionDescriptionNew" class="control-label">Description</label>
                                                <textarea id="dimensionDescriptionNew" class="form-control" placeholder="No description yet"
                                                          data-ng-model="newDimensionFormObj[selectedMaturityModel._id].description"></textarea>
                                            </div>
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-sm btn-success" data-ng-click="saveNewDimension(selectedMaturityModel)"
                                                        data-ng-disabled="newDimensionForm.$invalid || isResolving">
                                                    Save
                                                </button>
                                                <button type="button" class="btn btn-sm btn-info" data-ng-click="cancelNewDimension(selectedMaturityModel)"
                                                        data-ng-disabled="isResolving">
                                                    Cancel
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="panel panel-default" data-ng-show="selectedDimension && !showNewDimensionForm">
                                    <div class="panel-heading">
                                        <h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                                            {{selectedDimension.name}}
                                        </h6>
                                    </div>
                                    <div class="panel-body" style="min-height: 385px">
                                        <form name="editDimensionForm" novalidate>
                                            <div class="form-group">
                                                <label for="dimensionLevelEdit">Level</label>
                                                <select id="dimensionLevelEdit" class="form-control" data-ng-model="selectedDimension.level"
                                                        data-ng-options="level._id as level.name for level in selectedMaturityModel.levels" disabled>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="dimensionAreaEdit">Area</label>
                                                <select id="dimensionAreaEdit" class="form-control" data-ng-model="selectedDimension.area"
                                                        data-ng-options="area._id as area.name for area in selectedMaturityModel.areas" disabled>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="dimensionNameEdit" class="control-label">Name</label>
                                                <input id="dimensionNameEdit" type="text" class="form-control" data-ng-model="selectedDimension.name"
                                                       data-ng-disabled="!dimensionEdit[selectedDimension._id]" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="dimensionDescription" class="control-label">Description</label>
                                                <textarea id="dimensionDescription" class="form-control" placeholder="No description yet"
                                                          data-ng-model="selectedDimension.description" data-ng-disabled="!dimensionEdit[selectedDimension._id]"></textarea>
                                            </div>
                                            <div class=" pull-right" data-ng-show="userHasAuthorization && !dimensionEdit[selectedDimension._id]">
                                                <button class="btn btn-success btn-sm" data-ng-click="dimensionEdit[selectedDimension._id] = true">
                                                    Edit
                                                </button>
                                            </div>
                                            <div class=" pull-right" data-ng-show="dimensionEdit[selectedDimension._id]">
                                                <button type="button" class="btn btn-sm btn-success" data-ng-click="saveEditDimension(selectedMaturityModel, selectedDimension)"
                                                        data-ng-disabled="editDimensionForm.$invalid || isResolving">
                                                    Save
                                                </button>
                                                <button type="button" class="btn btn-sm btn-danger" data-ng-click="deleteDimension(selectedMaturityModel, selectedDimension)"
                                                        data-ng-disabled="isResolving">
                                                    Delete dimension
                                                </button>
                                                <button type="button" class="btn btn-sm btn-info" data-ng-click="cancelEditDimension(selectedDimension)"
                                                        data-ng-disabled="isResolving">
                                                    Cancel
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>
