<section data-ng-controller="HomeController" data-ng-init="initArticle()">
    <div class="row">
        <div class="jumbotron-tools text-center col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h2 id="top">taoPPM© Methodology</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1 blog-main">
            <nav>
                <ul class="pager">
                    <li><a class="btn btn-default btn-sm btn-link" href="/#!/methodology/portfolio-structure">Back to section index</a></li>
                    <li><a class="btn btn-default btn-sm btn-link" ui-sref="how-to-structure-portfolio">Previous article</a></li>
                    <li><a class="btn btn-default btn-sm btn-link" ui-sref="how-to-structure-portfolio">Next article</a></li>
                </ul>
            </nav>
            <div class="blog-post">
                <h2 class="blog-post-title">Portfolio accountability</h2>
                <em>This post explains the background behind the taoPPM methodology and presents the case for its adoption within the enterprise</em>
                <hr>
                <p>Project portfolio management is a relatively new discipline concerned with the challenges of managing multiple projects at once.
                    The role of “portfolio manager” has emerged in enterprises with the responsibility of managing this process.
                </p>
                <p>
                    The project portfolio management process comprises three main sub-processes:
                    a portfolio definition sub-process, responsible for the projects identification, categorization and prioritization;
                    a portfolio evaluation sub-process, responsible for the analysis of the financial, qualitative and risk profiles of projects;
                    and finally a portfolio delivery process, responsible to bring the projects to completion within controlled duration, cost, and quality performances.
                </p>
                <p>
                    Although there are alraedy different methodology and applications targeting this area, our method wants to provide a superior support to
                    strategic alignment and gate-based performance auditing which we believe are central to successful governance and management control.
                </p>
                <p>
                    The concepts captured by this methodology are not new and have been already used in the industry. However, at times these concepts have been diluted
                    with other practices or they have not been clearly delineated and separated. Additionally, some of the existing advice border the academic by
                    requiring a level of maturity and sophistication that breaks down in the imperfect real-world.
                    <br>
                    This has hindered enterprises from taking full advantage of project portfolio management.
                </p>
                <blockquote>
                    <p>
                        taoPPM has been created by distilling available methodologies and practices in light of our experience to a simpler and more focused set of recommendations.
                        In this way, managers can first and foremost focus on the 20% of project portfolio management that yields 80% of the advantages.
                    </p>
                </blockquote>
                <p>
                    .... ....  .....   ... more stuff here .....
                </p>
            </div>
            <nav>
                <ul class="pager">
                    <li><a class="btn btn-default btn-sm btn-link" href="/#!/methodology/portfolio-structure">Back to section index</a></li>
                    <li><a class="btn btn-default btn-sm btn-link" ui-sref="how-to-structure-portfolio">Previous article</a></li>
                    <li><a class="btn btn-default btn-sm btn-link" ui-sref="how-to-structure-portfolio">Next article</a></li>
                </ul>
            </nav>
        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="jumbotron-social-icons text-center col-xs-12">
            <button type="button" class="btn btn-info">
                <i class="fa fa-linkedin fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-facebook fa-lg"></i>
            </button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-envelope-o fa-lg"></i>
            </button>
        </div>
    </div>
</section>
