<section data-ng-controller="PeopleGroupsController">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li>Setup</li>
                    <li><a href="/#!/people-groups">People groups</a></li>
                    <li class="active">New group</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
            <form class="form-horizontal" novalidate>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="description">Description</label>
                        <div class="controls">
                            <textarea type="text" data-ng-model="description" id="description" class="form-control" placeholder="Description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" ng-click="create()" class="btn btn-default">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
