<section data-ng-controller="PeopleGroupsController" data-ng-init="findOne(); init();">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li>Setup</li>
                    <li><a href="/#!/people-groups">People groups</a></li>
                    <li class="active">Edit group</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">Group header</h6>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form class="form" novalidate>
                            <fieldset>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label" for="name">Group name</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="peopleGroup.name" id="name" class="form-control" placeholder="Name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="description">Group description</label>
                                        <div class="controls">
                                            <textarea data-ng-model="peopleGroup.description" id="description" class="form-control" placeholder="Enter description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">Roles assigned to group</h6>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form name="formAddRole" class="form" data-ng-submit="addRole()" novalidate>
                            <fieldset>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label" for="type" ng-show="false">Role</label>
                                        <select name="roleToAdd" id="type" class="form-control" data-ng-model = "selectedRole"
                                                ng-options="role.name for role in peopleRoles" required>
                                            <option value="">--choose role to add</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="submit" value="Add role" class="btn btn-primary" ng-disabled="formAddRole.$invalid">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <p class="small">Can't find the role you need? why don't you <a href="/#!/people-roles/create">create a new one</a>?</p>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="alert alert-warning text-center" data-ng-show="peopleRoles.length === 0">
                            No roles created yet, why don't you <a href="/#!/people-roles/create">create one</a>?
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4" data-ng-repeat="role in peopleGroup.roles track by $index">
                            <div class="panel panel-default panel-heading">
                                <button class="btn btn-danger btn-xs pull-right" data-ng-click="removeRole(role)">
                                    Remove
                                </button>
                                <h4 class="list-group-item-heading">
                                    <a data-ng-href="#!/people-roles/{{role._id}}" data-ng-bind="role.name"></a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-warning text-center" data-ng-show="peopleGroup.roles.length === 0">
                        No roles added to this group yet
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" data-ng-click="update()" value="Add role" class="btn btn-success">Save</button>
                <a href="/#!/people-groups" class="btn btn-info">Cancel</a>
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </div>
    </div>
</section>
