<section data-ng-controller="GatePerformancesPortfolioController as vm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title text-center"
                style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                {{profile.identification.name}}
            </h6>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div><h5>&nbsp;Process: <i>{{profile.process.name}}</i></h5></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div><h5>&nbsp;Assignment type: <i>{{profile.process.assignmentType}}</i></h5></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-condensed small">
                                    <thead>
                                    <tr>
                                        <th> </th>
                                        <th data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            <div class="panel text-center" style="background-color: lightblue; margin: 0; padding: 5px;">
                                                <span>{{gate.name}}</span>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>Completion</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            <span data-ng-show="gate.gateState.currentRecord.completed">Completed</span>
                                            <span data-ng-show="!gate.gateState.currentRecord.completed">Not completed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>State</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            <span data-ng-show="gate.gateState.currentRecord.state">{{gate.gateState.currentRecord.state.name}}</span>
                                            <span data-ng-show="!gate.gateState.currentRecord.state">No state</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Overall score</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            <span data-ng-show="gate.overallScore">{{gate.overallScore.name}}</span>
                                            <span data-ng-show="!gate.overallScore">No score</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Delivery status</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            <span data-ng-show="gate.deliveryStatus.overallStatus.currentRecord.status.name" style="background-color: {{gate.deliveryStatus.overallStatus.currentRecord.status.color}}">{{gate.deliveryStatus.overallStatus.currentRecord.status.name}}</span>
                                            <span data-ng-show="!gate.deliveryStatus.overallStatus.currentRecord.status.name">No status</span>
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <td colspan="{{profile.process.gates.length + 1}}" class="text-center">
                                            <span><b>Gate performances</b></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="{{profile.process.gates.length + 1}}" class="text-center">
                                            <em>Budget</em>
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Budget amount</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.budget.amount | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Variance on baseline</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.budget.varianceBaseline | number : 0}} ({{100 * gate.oneStage.budget.varianceBaselinePercent | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Variance at completion</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.budget.varianceAtCompletion | number : 0}} ({{100 * gate.oneStage.budget.varianceAtCompletionPercent | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="{{profile.process.gates.length + 1}}" class="text-center">
                                            <em>Duration</em>
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Baseline date</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.duration.baselineDate | date : format : 'MMM d yyyy'}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Baseline days</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.duration.baselineDays | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Estimate date</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.duration.estimateDate | date : format : 'MMM d yyyy'}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Estimate days</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.duration.estimateDays | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Actual date</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.duration.actualDate | date : format : 'MMM d yyyy'}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Actual days</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.duration.actualDays | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Variance</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.duration.variance | number : 0}} ({{100 * gate.oneStage.duration.variancePercent | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="{{profile.process.gates.length + 1}}" class="text-center">
                                            <em>Cost</em>
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Baseline</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.cost.baseline | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Estimate</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.cost.estimate | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Actual</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.cost.actual | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Variance</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.cost.variance | number : 0}} ({{100 * gate.oneStage.cost.variancePercent | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="{{profile.process.gates.length + 1}}" class="text-center">
                                            <em>Completion</em>
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Baseline</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.completion.baseline | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Estimate</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.completion.estimate | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Actual</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.completion.actual | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Variance</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.completion.variance | number : 0}} ({{100 * gate.oneStage.completion.variancePercent | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="{{profile.process.gates.length + 1}}" class="text-center">
                                            <em>Earned value analysis</em>
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Earned value ratio</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.earnedValueAnalysis.earnedValueRatio | number : 1}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Earned value</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.earnedValueAnalysis.earnedValue | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Cost variance</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.earnedValueAnalysis.costVariance | number : 0}} ({{100 * gate.oneStage.earnedValueAnalysis.percentCostVariance | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Schedule variance</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.earnedValueAnalysis.scheduleVariance | number : 0}} ({{100 * gate.oneStage.earnedValueAnalysis.percentScheduleVariance | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Cost Performance Index</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.earnedValueAnalysis.costPerformanceIndex | number : 1}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Schedule Performance Index</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.oneStage.earnedValueAnalysis.schedulePerformanceIndex | number : 1}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Percent spent</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{100 * gate.oneStage.earnedValueAnalysis.percentSpent | number : 1}}%
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Percent complete</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{100 * gate.oneStage.earnedValueAnalysis.percentComplete | number : 1}}%
                                        </td>
                                    </tr>
                                    </tbody>


                                    <tbody>
                                    <tr class="info">
                                        <td colspan="{{profile.process.gates.length + 1}}" class="text-center">
                                            <span><b>Cumulative performances</b></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="{{profile.process.gates.length + 1}}" class="text-center">
                                            <em>Budget</em>
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Budget amount</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.budget.amount | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Variance on baseline</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.budget.varianceBaseline | number : 0}} ({{100 * gate.cumulative.budget.varianceBaselinePercent | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Variance at completion</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.budget.varianceAtCompletion | number : 0}} ({{100 * gate.cumulative.budget.varianceAtCompletionPercent | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="{{profile.process.gates.length + 1}}" class="text-center">
                                            <em>Duration</em>
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Baseline days</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.duration.baselineDays | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Estimate days</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.duration.estimateDays | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Actual days</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.duration.actualDays | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Variance</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.duration.variance | number : 0}} ({{100 * gate.cumulative.duration.variancePercent | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="{{profile.process.gates.length + 1}}" class="text-center">
                                            <em>Cost</em>
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Baseline</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.cost.baseline | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Estimate</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.cost.estimate | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Actual</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.cost.actual | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Variance</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.cost.variance | number : 0}} ({{100 * gate.cumulative.cost.variancePercent | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="{{profile.process.gates.length + 1}}" class="text-center">
                                            <em>Completion</em>
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Baseline</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.completion.baseline | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Estimate</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.completion.estimate | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Actual</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.completion.actual | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Variance</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.completion.variance | number : 0}} ({{100 * gate.cumulative.completion.variancePercent | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="{{profile.process.gates.length + 1}}" class="text-center">
                                            <em>Earned value analysis</em>
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Earned value ratio</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.earnedValueAnalysis.earnedValueRatio | number : 1}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Earned value</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.earnedValueAnalysis.earnedValue | number : 0}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Cost variance</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.earnedValueAnalysis.costVariance | number : 0}} ({{100 * gate.cumulative.earnedValueAnalysis.percentCostVariance | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Schedule variance</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.earnedValueAnalysis.scheduleVariance | number : 0}} ({{100 * gate.cumulative.earnedValueAnalysis.percentScheduleVariance | number : 1}}%)
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Cost Performance Index</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.earnedValueAnalysis.costPerformanceIndex | number : 1}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Schedule Performance Index</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{gate.cumulative.earnedValueAnalysis.schedulePerformanceIndex | number : 1}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Percent spent</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{100 * gate.cumulative.earnedValueAnalysis.percentSpent | number : 1}}%
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>Percent complete</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{100 * gate.cumulative.earnedValueAnalysis.percentComplete | number : 1}}%
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>To-complete Performance Index</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{100 * gate.cumulative.earnedValueAnalysis.toCompletePerformanceIndex | number : 1}}
                                        </td>
                                    </tr>
                                    <tr >
                                        <th>At-completion cost</th>
                                        <td data-ng-repeat="gate in profile.process.gates" data-ng-class="{success : gate.gateState.currentRecord.currentGate}">
                                            {{100 * gate.cumulative.earnedValueAnalysis.atCompletionCost | number : 0}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="center-block text-center">
            <button class="btn btn-primary btn-sm" data-ng-click="cancelModal()">
                Close
            </button>
        </div>
    </div>
    <br>
    <div class="row"></div>
</section>
