<section data-ng-controller="ProjectDependencyController" data-ng-init="init()">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-heading" style="padding: 0">
                <ol class="breadcrumb">
                    <li>Portfolio evaluation</li>
                    <li>Dependencies</li>
                    <li class="active">Projects dependencies</li>
                </ol>
            </div>
        </div>
    </div>
    <div data-ng-show="initError" class="text-danger">
        <strong data-ng-bind="initError"></strong>
    </div>
    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title text-center">Dependencies</h6>
                </div>
                <div class="panel-body" style="min-height: 500px; max-height: 500px; overflow-y: auto">
                    <div class="row" data-ng-show="!showDependencyFilters">
                        <div class="col-md-12">
                            <a data-ng-click="showDependencyFilters = true"><b>Filters</b></a><br>

                            <span data-ng-show="dependencyFilter.name"><b>Name: </b><i>"{{dependencyFilter.name}}" | </i></span>

                            <span data-ng-show="dependencyFilter.source"><b>Source: </b><i>"{{dependencyFilter.source.identification.name}}" | </i></span>

                            <span data-ng-show="dependencyFilter.target"><b>Target: </b><i>"{{dependencyFilter.target.identification.name}}" | </i></span>

                            <span data-ng-show="dependencyFilter.type"><b>Type: </b><i>"{{dependencyFilter.type.name}}" | </i></span>

                            <span data-ng-show="dependencyFilter.impact"><b>Impact: </b><i>"{{dependencyFilter.impact.name}}" | </i></span>

                            <span data-ng-show="dependencyFilter.state"><b>State: </b><i>"{{dependencyFilter.state.name}}" | </i></span>

                            <span data-ng-show="dependencyFilter.statusReview.currentRecord.status"><b>Status: </b><i>"{{dependencyFilter.statusReview.currentRecord.status.name}}" | </i></span>

                            <span data-ng-show="dependencyFilter.statusReview.currentRecord.completed === false"><b>Completion: </b><i>"Not completed"</i></span>
                            <span data-ng-show="dependencyFilter.statusReview.currentRecord.completed === true"><b>Completion: </b><i>"Completed"</i></span>
                        </div>
                    </div>
                    <div class="row" data-ng-show="showDependencyFilters">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <a data-ng-click="showDependencyFilters = false"><b>Hide filters</b></a>
                                </div>
                            </div>
                            <hr style="margin: 3px;">
                            <div class="row">
                                <div class=" form-group col-md-12">
                                    <input title="selectDependencyName" type="text" class="form-control" placeholder="name"
                                           data-ng-model="dependencyFilter.name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <select title="type" class="form-control input-sm" data-ng-model = "dependencyFilter.type"
                                            data-ng-options="type as type.name for type in dependencyTypes">
                                        <option value="">--type</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <select title="type" class="form-control input-sm" data-ng-model = "dependencyFilter.state"
                                            data-ng-options="state as state.name for state in dependencyStates">
                                        <option value="">--state</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <select title="type" class="form-control input-sm" data-ng-model = "dependencyFilter.impact"
                                            data-ng-options="impact as impact.name for impact in dependencyImpacts">
                                        <option value="">--impact</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <select title="status" class="form-control input-sm" data-ng-model = "dependencyFilter.status"
                                            data-ng-options="status as status.name for status in logStatuses">
                                        <option value="">--status</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <select title="completion" class="form-control input-sm" data-ng-model = "dependencyFilter.completion"
                                            data-ng-options="completion.flag as completion.name for completion in completionFilterArray">
                                        <option value="">--completion</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" form-group col-md-6">
                                    <label for="selectSourcePortfolio">Source</label>
                                    <select id="selectSourcePortfolio" class="form-control input-sm" data-ng-model="dependencyFilter.sourcePortfolio"
                                            data-ng-options="portfolio as portfolio.name for portfolio in portfolios">
                                        <option value="">--portfolio</option>
                                    </select>
                                    <select title="selectSourceProject" class="form-control input-sm" data-ng-model="dependencyFilter.source"
                                            data-ng-options="project as project.identification.name for project in projects | filter : (!!dependencyFilter.sourcePortfolio || undefined) && {portfolio:{_id: dependencyFilter.sourcePortfolio._id}}">
                                        <option value="">--project</option>
                                    </select>
                                </div>
                                <div class=" form-group col-md-6">
                                    <label for="selectTargetPortfolio">Target</label>
                                    <select id="selectTargetPortfolio" class="form-control input-sm" data-ng-model="dependencyFilter.targetPortfolio"
                                            data-ng-options="portfolio as portfolio.name for portfolio in portfolios">
                                        <option value="">--portfolio</option>
                                    </select>
                                    <select title="selectTargetProject" class="form-control input-sm" data-ng-model="dependencyFilter.target"
                                            data-ng-options="project as project.identification.name for project in projects | filter : (!!dependencyFilter.targetPortfolio || undefined) && {portfolio:{_id: dependencyFilter.targetPortfolio._id}}">
                                        <option value="">--project</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin-top: 2%">
                    <div class="row">
                        <div class="col-md-12">
                            <div data-ng-show="dependencies.length === 0" class="alert alert-warning text-center">
                                There are no dependencies
                            </div>
                        </div>
                    </div>
                    <div class="row" style="min-height: 420px; max-height: 420px; overflow-y: auto">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-sm center-block btn-block" style="overflow: hidden;"
                                    data-ng-repeat="dependency in dependencies
                                    | filter : (!!dependencyFilter.name || undefined) && {name: dependencyFilter.name}
                                    | filter : (!!dependencyFilter.source || undefined) && {source:{_id: dependencyFilter.source._id}}
                                    | filter : (!!dependencyFilter.target || undefined) && {target:{_id: dependencyFilter.target._id}}
                                    | filter : (!!dependencyFilter.type || undefined) && {type:dependencyFilter.type._id}
                                    | filter : (!!dependencyFilter.state || undefined) && {state:dependencyFilter.state._id}
                                    | filter : (!!dependencyFilter.impact || undefined) && {impact: dependencyFilter.impact._id}
                                    | filter : (!!dependencyFilter.status || undefined) && {statusReview:{currentRecord: {status: dependencyFilter.status} }}
                                    | filter : (!!dependencyFilter.completion || undefined) && {statusReview:{currentRecord: {completed: dependencyFilter.completion} }}"
                                    data-ng-click="selectDependency(dependency)"
                                    data-ng-class="{'btn-default' : dependency.statusReview.currentRecord.completed, 'btn-info' : !dependency.statusReview.currentRecord.completed}"
                                    data-ng-disabled="isResolving">
                                {{dependency.name}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row" data-ng-show="showNewDependencyForm">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title text-center">Add new dependency</h6>
                        </div>
                        <div class="panel-body" style="min-height: 477px;  max-height: 477px; overflow-y: auto;">
                            <form class="form" novalidate name="newDependencyForm">
                                <fieldset>
                                    <div class="row">
                                        <div class="form-group-sm col-md-8">
                                            <label for="dependencyName">Dependency name</label>
                                            <input id="dependencyName" type="text" class="form-control" placeholder="Enter name"
                                                   data-ng-model="newDependency.name" required>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class=" form-group col-md-6">
                                            <label for="selectSourcePortfolio">Source</label>
                                            <select id="selectSourcePortfolio" class="form-control input-sm" data-ng-model="dependencyFilterNew.sourcePortfolio"
                                                    data-ng-options="portfolio._id as portfolio.name for portfolio in portfolios">
                                                <option value="">--source portfolio</option>
                                            </select>
                                        </div>
                                        <div class=" form-group col-md-6">
                                            <label for="selectTargetPortfolio">Target</label>
                                            <select id="selectTargetPortfolio" class="form-control input-sm" data-ng-model="dependencyFilterNew.targetPortfolio"
                                                    data-ng-options="portfolio._id as portfolio.name for portfolio in portfolios">
                                                <option value="">--target portfolio</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group-sm col-md-6">
                                            <select id="sourceNew" class="form-control" data-ng-model = "newDependency.source"
                                                    data-ng-options="project._id as project.identification.name for project in projects | filter: project.portfolio = dependencyFilterNew.sourcePortfolio"
                                                    required>
                                                <option value="">--source project</option>
                                            </select>
                                        </div>
                                        <div class="form-group-sm col-md-6">
                                            <select id="sourceNew" class="form-control" data-ng-model = "newDependency.target"
                                                    data-ng-options="project._id as project.identification.name for project in projects | filter: project.portfolio = dependencyFilterNew.targetPortfolio"
                                                    required>
                                                <option value="">--target project</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="form-group-sm col-md-4">
                                            <label for="typeNew">Type</label>
                                            <select id="typeNew" class="form-control" data-ng-model = "newDependency.type"
                                                    data-ng-options="type._id as type.name for type in dependencyTypes">
                                                <option value="">--choose type</option>
                                            </select>
                                        </div>
                                        <div class="form-group-sm col-md-4">
                                            <label for="impactNew">Impact</label>
                                            <select id="impactNew" class="form-control" data-ng-model = "newDependency.impact"
                                                    data-ng-options="impact._id as impact.name for impact in dependencyImpacts">
                                                <option value="">--choose impact</option>
                                            </select>
                                        </div>
                                        <div class="form-group-sm col-md-4">
                                            <label for="typeNew">State</label>
                                            <select id="typeNew" class="form-control" data-ng-model = "newDependency.state"
                                                    data-ng-options="state._id as state.name for state in dependencyStates">
                                                <option value="">--choose state</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="form-group-sm col-md-12">
                                            <label for="dependencyDescription">Description</label>
                                            <textarea id="dependencyDescription" class="form-control" placeholder="Enter description" data-ng-model="newDependency.description"></textarea>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <div class="pull-right">
                                                <button class="btn btn-success btn-sm" data-ng-click="createDependency()"
                                                        data-ng-disabled="newDependencyForm.$invalid || isResolving">
                                                    Save
                                                </button>
                                                <button class="btn btn-info btn-sm" data-ng-click="cancelNewDependency()" data-ng-disabled="isResolving">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-show="!showNewDependencyForm">
                <div class="col-md-12">
                    <div class="row" data-ng-show="!showNewDependencyForm && userHasAuthorization('new', user)">
                        <div class="col-md-12 form-group-sm center-block">
                            <button class="btn btn-success btn-sm" data-ng-click="showNewDependency(selectedDependency)" data-ng-disabled="isResolving">
                                New dependency
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div data-ng-hide="selectedDependency || dependencies.length === 0" class="alert alert-warning text-center">
                                Select a dependency to see its details
                            </div>
                            <div class="row" data-ng-show="selectedDependency">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                                                {{selectedDependency.name}}
                                            </h6>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 btn-group btn-group-xs btn-group-justified">
                                                <label class="btn btn-info btn-xs" data-ng-model="projectDependencyDetails" btn-radio="'header'">
                                                    Header
                                                </label>
                                                <label class="btn btn-info btn-xs" data-ng-model="projectDependencyDetails" btn-radio="'status'">
                                                    Status
                                                </label>
                                            </div>
                                        </div>
                                        <div class="panel-body" style="min-height: 400px; max-height: 400px; overflow-y: auto">
                                            <div data-ng-show="projectDependencyDetails === 'header'">
                                                <div data-ng-switch="switchHeaderForm[selectedDependency._id]">
                                                    <form data-ng-switch-default="view">
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-9">
                                                                <label for="dependencyName">Dependency name</label>
                                                                <input id="dependencyName" type="text" class="form-control" placeholder="Enter name"
                                                                       ng-model="selectedDependency.name" disabled>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-6">
                                                                <label for="sourceNew">Source</label>
                                                                <select id="sourceNew" class="form-control" data-ng-model = "selectedDependency.source"
                                                                        ng-options="project as project.identification.name for project in projects track by project._id" disabled>
                                                                </select>
                                                            </div>
                                                            <div class="form-group-sm col-md-6">
                                                                <label for="sourceNew">Target</label>
                                                                <select id="sourceNew" class="form-control" data-ng-model = "selectedDependency.target"
                                                                        ng-options="project as project.identification.name for project in projects track by project._id" disabled>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-4">
                                                                <label for="typeNew">Type</label>
                                                                <select id="typeNew" class="form-control" data-ng-model = "selectedDependency.type"
                                                                        data-ng-options="type._id as type.name for type in dependencyTypes" disabled>
                                                                </select>
                                                            </div>
                                                            <div class="form-group-sm col-md-4">
                                                                <label for="impactNew">Impact</label>
                                                                <select id="impactNew" class="form-control" data-ng-model = "selectedDependency.impact"
                                                                        data-ng-options="impact._id as impact.name for impact in dependencyImpacts" disabled>
                                                                </select>
                                                            </div>
                                                            <div class="form-group-sm col-md-4">
                                                                <label for="typeNew">State</label>
                                                                <select id="typeNew" class="form-control" data-ng-model = "selectedDependency.state"
                                                                        data-ng-options="state._id as state.name for state in dependencyStates" disabled>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-12">
                                                                <label for="dependencyDescription">Description</label>
                                                                <textarea id="dependencyDescription" class="form-control" placeholder="Enter description" data-ng-model="selectedDependency.description" disabled></textarea>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="form-group-sm pull-right" data-ng-show="userHasAuthorization('edit', user, selectedDependency)">
                                                            <button class="btn btn-success btn-xs" data-ng-click="editHeader(selectedDependency)">
                                                                Edit
                                                            </button>
                                                        </div>
                                                    </form>
                                                    <form data-ng-switch-when="edit" name="editDependencyForm">
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-9">
                                                                <label for="dependencyName">Dependency name</label>
                                                                <input id="dependencyName" type="text" class="form-control" placeholder="Enter name"
                                                                       ng-model="selectedDependency.name" required>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-6">
                                                                <label for="sourceNew">Source</label>
                                                                <select id="sourceNew" class="form-control" data-ng-model = "selectedDependency.source"
                                                                        ng-options="project as project.identification.name for project in projects track by project._id" required>
                                                                    <option value="">--choose project</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group-sm col-md-6">
                                                                <label for="sourceNew">Target</label>
                                                                <select id="sourceNew" class="form-control" data-ng-model = "selectedDependency.target"
                                                                        ng-options="project as project.identification.name for project in projects track by project._id" required>
                                                                    <option value="">--choose project</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-4">
                                                                <label for="typeNew">Type</label>
                                                                <select id="typeNew" class="form-control" data-ng-model = "selectedDependency.type"
                                                                        data-ng-options="type._id as type.name for type in dependencyTypes">
                                                                    <option value="">--choose type</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group-sm col-md-4">
                                                                <label for="impactNew">Impact</label>
                                                                <select id="impactNew" class="form-control" data-ng-model = "selectedDependency.impact"
                                                                        data-ng-options="impact._id as impact.name for impact in dependencyImpacts">
                                                                    <option value="">--choose impact</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group-sm col-md-4">
                                                                <label for="typeNew">State</label>
                                                                <select id="typeNew" class="form-control" data-ng-model = "selectedDependency.state"
                                                                        data-ng-options="state._id as state.name for state in dependencyStates">
                                                                    <option value="">--choose state</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-12">
                                                                <label for="dependencyDescription">Description</label>
                                                                <textarea id="dependencyDescription" class="form-control" placeholder="Enter description" data-ng-model="selectedDependency.description"></textarea>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="form-group-sm pull-right">
                                                            <button class="btn btn-success btn-xs" data-ng-click="saveEditHeader(selectedDependency)"
                                                                    data-ng-disabled="editDependencyForm.$invalid || isResolving">
                                                                Save
                                                            </button>
                                                            <button class="btn btn-danger btn-xs" data-ng-click="deleteDependency(selectedDependency)"
                                                                    data-ng-disabled="isResolving">
                                                                Delete dependency
                                                            </button>
                                                            <button class="btn btn-info btn-xs" data-ng-click="cancelEditHeader(selectedDependency)"
                                                                    data-ng-disabled="isResolving">
                                                                Cancel
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div data-ng-show="projectDependencyDetails === 'status'">
                                                <div data-ng-switch="switchStatusForm[selectedDependency._id]">
                                                    <form data-ng-switch-default="view">
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-4">
                                                                <label for="">Baseline delivery date</label>
                                                                <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedDependency.statusReview.currentRecord.baselineDeliveryDate" disabled />
                                                            </div>
                                                            <div class="form-group-sm col-md-4">
                                                                <label for="">Estimate delivery date</label>
                                                                <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedDependency.statusReview.currentRecord.estimateDeliveryDate" disabled />
                                                            </div>
                                                            <div class="form-group-sm col-md-4">
                                                                <label for="">Actual delivery date</label>
                                                                <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedDependency.statusReview.currentRecord.actualDeliveryDate" disabled />
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-5">
                                                                <label for="">Status</label>
                                                                <select id="" class="form-control" data-ng-model = "selectedDependency.statusReview.currentRecord.status"
                                                                        ng-options="status._id as status.name for status in logStatuses" disabled>
                                                                </select>
                                                            </div>
                                                            <br>
                                                            <div class="form-group-sm col-md-5">
                                                                <label for="prjCrEditCompleted">Completed</label>
                                                                <input id="prjCrEditCompleted" class="" type="checkbox"
                                                                       data-ng-model="selectedDependency.statusReview.currentRecord.completed" disabled>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-12">
                                                                <label for="">Status comment</label>
                                                                <textarea id="" class="form-control" data-ng-model="selectedDependency.statusReview.currentRecord.statusComment" disabled></textarea>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="pull-right" data-ng-show="userHasAuthorization('edit', user, selectedDependency)">
                                                            <button class="btn btn-success btn-xs" data-ng-click="editStatus(selectedDependency)">
                                                                Edit
                                                            </button>
                                                        </div>
                                                    </form>
                                                    <form data-ng-switch-when="edit">
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-4">
                                                                <label for="">Baseline delivery date</label>
                                                                <div class="input-group">
                                                                    <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedDependency.statusReview.currentRecord.baselineDeliveryDate"
                                                                           is-open="$parent.baselineDeliveryDateOpened[selectedDependency._id]" >
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-default btn-sm" ng-click="openBaselineDeliveryDate(selectedDependency, $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                            </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group-sm col-md-4">
                                                                <label for="">Estimate delivery date</label>
                                                                <div class="input-group">
                                                                    <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedDependency.statusReview.currentRecord.estimateDeliveryDate"
                                                                           is-open="$parent.estimateDeliveryDateOpened[selectedDependency._id]" >
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-default btn-sm" ng-click="openEstimateDeliveryDate(selectedDependency, $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                            </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group-sm col-md-4">
                                                                <label for="">Actual delivery date</label>
                                                                <div class="input-group">
                                                                    <input type="text" id="" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="selectedDependency.statusReview.currentRecord.actualDeliveryDate"
                                                                           is-open="$parent.actualDeliveryDateOpened[selectedDependency._id]" >
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-default btn-sm" ng-click="openActualDeliveryDate(selectedDependency, $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                            </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-5">
                                                                <label for="">Status</label>
                                                                <select id="" class="form-control" data-ng-model = "selectedDependency.statusReview.currentRecord.status"
                                                                        data-ng-options="status._id as status.name for status in logStatuses" >
                                                                    <option value="">--choose status</option>
                                                                </select>
                                                            </div>
                                                            <br>
                                                            <div class="form-group-sm col-md-5">
                                                                <label for="prjCrEditCompleted">Completed</label>
                                                                <input id="prjCrEditCompleted" class="" type="checkbox"
                                                                       data-ng-model="selectedDependency.statusReview.currentRecord.completed" >
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="form-group-sm col-md-12">
                                                                <label for="">Status comment</label>
                                                                <textarea id="" class="form-control" placeholder="Enter status comment" data-ng-model="selectedDependency.statusReview.currentRecord.statusComment" ></textarea>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="pull-right">
                                                            <button class="btn btn-success btn-xs" data-ng-click="saveEditStatus(selectedDependency)"
                                                                    data-ng-disabled="isResolving">
                                                                Save
                                                            </button>
                                                            <button class="btn btn-info btn-xs" data-ng-click="cancelEditStatus(selectedDependency)"
                                                                    data-ng-disabled="isResolving">
                                                                Cancel
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
