<section data-ng-controller="PeopleProjectAnalysisController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Portfolio evaluation</li>
					<li>Stakeholders</li>
					<li class="active">Project stakeholders</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<project-list projects="projects" select-project="selectProject" portfolios="portfolios" gate-processes="gateProcesses"></project-list>
		</div>
		<div class="col-sm-9">
			<div class="row">
				<div class="col-md-12">
					<div data-ng-hide="selectedProject || projects.length === 0" class="alert alert-warning text-center">
						Select a project to see its details
					</div>
				</div>
			</div>
			<div data-ng-show="selectedProject">
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
									{{selectedProject.identification.name}}
								</h6>
							</div>
							<div class="panel-body" style="min-height: 535px; max-height: 535px;">
								<div class="row">
									<div class=" form-group-sm col-md-6">
										<select id="selectSourcePortfolio" class="form-control input-sm" data-ng-model="filterStakeholders.group"
												data-ng-options="group.name for group in groups">
											<option value="">--Filter by stakeholder group</option>
										</select>
									</div>
								</div>
								<hr style="margin: 10px">
								<div class="row" style="min-height: 460px; max-height: 460px; overflow-y: auto;">
									<div data-ng-show="selectedProject.stakeholders.length === 0" class="alert alert-warning text-center">
										There are no stakeholders created yet
									</div>
									<div class="col-md-12" data-ng-repeat="assignedGroup in selectedProject.stakeholders | filter : (assignedGroup.group._id = filterStakeholders.group._id) track by assignedGroup._id">
										<div class="panel panel-default">
											<div class="panel-heading text-center">
												<em data-ng-bind="assignedGroup.group.name"></em>
											</div>
											<div class="panel-body">
												<div class="row">
													<div class="col-md-4" data-ng-repeat="assignedRole in assignedGroup.roles track by assignedRole._id" data-ng-switch="switchRoleForm[assignedRole._id]">
														<div class="panel panel-default" data-ng-switch-default="view">
															<div class="panel-heading text-center">
																<b>{{assignedRole.role.name}}</b>
															</div>
															<div class="panel-body">
																<div class="row">
																	<div class="form-group-sm col-md-12">
																		<label class="small">Person</label>
																		<select disabled class="form-control input-sm" data-ng-model = "assignedRole.person"
																				data-ng-options="person._id as person.name for person in people">
																			<option value="">--choose person</option>
																		</select>
																	</div>
																</div>
																<br>
																<button class="btn-link" data-ng-click="showPeopleCategories = !showPeopleCategories">Evaluation categories</button>
																<div class="row" data-ng-repeat="assignedCategory in assignedRole.categorization track by assignedCategory._id" data-ng-show="showPeopleCategories">
																	<div class="form-group-sm col-md-12">
																		<label class="small" data-ng-bind="assignedCategory.category.name"></label>
																		<select disabled class="form-control input-sm" data-ng-model = "assignedCategory.categoryValue"
																				data-ng-options="catValue._id as catValue.name for catValue in assignedCategory.category.categoryValues">
																			<option value="">--choose value</option>
																		</select>
																	</div>
																</div>
																<br>
																<div class="row" data-ng-show="userHasAuthorization('edit', userData, selectedProject)">
																	<div class="col-md-12">
																		<div class="btn-group-xs pull-right">
																			<button type="button" class="btn btn-success btn-sm" ng-click="selectRoleAssignment(assignedRole)">
																				Edit
																			</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="panel panel-default" data-ng-switch-when="edit">
															<div class="panel-heading text-center">
																<b>{{assignedRole.role.name}}</b>
															</div>
															<div class="panel-body">
																<div class="row">
																	<div class="form-group-sm col-md-12">
																		<label class="small">Person</label>
																		<select class="form-control input-sm" data-ng-model = "assignedRole.person"
																				data-ng-options="person._id as person.name for person in people">
																			<option value="">--choose person</option>
																		</select>
																	</div>
																</div>
																<br>
																<button class="btn-link">Evaluation categories</button>
																<div class="row" data-ng-repeat="assignedCategory in assignedRole.categorization track by assignedCategory._id">
																	<div class="form-group-sm col-md-12">
																		<label class="small" data-ng-bind="assignedCategory.category.name"></label>
																		<select class="form-control input-sm" data-ng-model = "assignedCategory.categoryValue"
																				data-ng-options="catValue._id as catValue.name for catValue in assignedCategory.category.categoryValues">
																			<option value="">--choose value</option>
																		</select>
																	</div>
																</div>
																<br>
																<div class="row">
																	<div class="col-md-12">
																		<div class="btn-group-xs pull-right">
																			<button type="button" class="btn btn-success btn-sm" ng-click="saveAssignedRole(selectedProject, assignedGroup, assignedRole)">
																				Save
																			</button>
																			<button type="button" class="btn btn-info btn-sm" ng-click="cancelEditAssignedRole(assignedRole)">
																				Cancel
																			</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
