<section data-ng-controller="PortfolioRankingAssignmentController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Portfolio definition</li>
					<li>Prioritization</li>
					<li class="active">Portfolio rankings</li>
				</ol>
			</div>
		</div>
	</div>
	<div data-ng-show="initError" class="text-danger">
		<strong data-ng-bind="initError"></strong>
	</div>
	<div data-ng-show="error" class="text-danger">
		<strong data-ng-bind="error"></strong>
	</div>
	<div class="row">
		<div class="col-sm-4"><!-- PORTFOLIO LIST -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h6 class="panel-title text-center">Portfolio tree</h6>
				</div>
				<div class="panel-body">
					<div class="alert alert-warning text-center" data-ng-hide="!portfolios.$resolved || portfolios.length">
						No portfolios yet
					</div>
					<div class="row" data-ng-show="portfolios.$resolved && portfolios.length !== 0">
						<div class="col-md-12">
							<button class="btn btn-default btn-sm btn-info" style="min-width:50px; max-width: 150px; overflow:hidden; margin: 2%;"
									data-ng-click="selectNode('overall', userData)">
								Overall
							</button>
						</div>
					</div>
					<hr style="margin: 5px">
					<div class="row" style="min-height: 420px;  max-height: 420px; overflow-y: auto;">
						<div class="col-md-12">
							<script type="text/ng-template" id="portfolioTree">
								<button class="btn btn-default btn-sm" data-ng-click="selectNode(tree.node, userData)"
										style="min-width:50px; max-width: 150px; overflow:hidden; margin: 2%;">
									<span data-ng-bind="tree.node.name"></span>
								</button>
								<ul data-ng-if="tree.nodeTrees" style="list-style: none;">
									<li data-ng-repeat="tree in tree.nodeTrees track by $index " >
										<span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
									</li>
								</ul>
							</script>
							<ul style="margin-left: 2%; padding-left: 2%; list-style: none;">
								<li data-ng-repeat="tree in portfolioTrees track by $index" >
									<span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8" data-ng-show="!selectedNode && portfolios.length !== 0">
			<div class="alert alert-warning text-center">
				Select a portfolio to see its details
			</div>
		</div>
		<div class="col-md-8" data-ng-show="selectedNode">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%;">
						{{selectedNode.name}}
					</h6>
				</div>
				<div class="panel-body" style="max-height: 500px; min-height: 500px;">
					<div class="row">
						<div class="col-md-6" >
							<div class="panel panel-success">
								<div class="panel-heading">
									<h6 class="panel-title text-center">Ranked projects</h6>
								</div>
								<div class="panel-body">
									<div data-ng-show="selectedNode">
										<div class="row">
											<div class="col-md-12 form-group-sm">
												<input type="text" class="form-control" placeholder="Type to filter projects" data-ng-model="filterAssignedProject">
											</div>
										</div>
										<br>
										<div class="row" style="max-height: 350px; min-height: 350px;">
											<div class="col-md-12">
												<div class="panel panel-default">
													<div class="panel-body" data-as-sortable="dragControlListeners" data-ng-model="selectedAssignment.assignedProjects"
														 style="overflow-y: auto; max-height: 330px; min-height: 330px;">
														<div data-ng-show="selectedAssignment.assignedProjects.length === 0" class="alert alert-warning text-center">
															No ranked projects
														</div>
														<button data-ng-repeat="project in selectedAssignment.assignedProjects" as-sortable-item
																class="btn btn-default btn-sm btn-block center-block" style="overflow: hidden;">
															<div as-sortable-item-handle class="pull-left">
																<span class="badge" data-ng-bind="selectedAssignment.assignedProjects.indexOf(project) + 1"></span> &nbsp;
																<span>{{project.idNumber}} - {{project.name}}</span>
															</div>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-danger">
								<div class="panel-heading">
									<h6 class="panel-title text-center">Projects not ranked</h6>
								</div>
								<div class="panel-body">
									<div>
										<div class="row">
											<div class="col-md-12 form-group-sm">
												<input type="text" class="form-control" placeholder="Type to filter projects" data-ng-model="filterUnassignedProject">
											</div>
										</div>
										<br>
										<div class="row" style="max-height: 350px; min-height: 350px;">
											<div class="col-md-12">
												<div class="panel panel-default">
													<div class="panel-body" data-as-sortable="dragControlListeners" data-ng-model="selectedAssignment.unassignedProjects"
														 style="overflow-y: auto; max-height: 330px; min-height: 330px;">
														<div data-ng-show="selectedAssignment.unassignedProjects.length === 0" class="alert alert-warning text-center">
															No projects to be ranked
														</div>
														<button data-ng-repeat="project in selectedAssignment.unassignedProjects | filter:filterUnassignedProject" as-sortable-item
																class="btn btn-default btn-sm btn-block center-block" style="overflow: hidden;">
															<div as-sortable-item-handle class="text-center">
																{{project.idNumber}} - {{project.name}}
															</div>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
