<section data-ng-controller="FinancialCostTypesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Financial cost types</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="financialCostType in financialCostTypes" data-ng-href="#!/financial-cost-types/{{financialCostType._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="financialCostType.created | date:'medium'"></span>
				by
				<span data-ng-bind="financialCostType.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="financialCostType.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!financialCostTypes.$resolved || financialCostTypes.length">
    	No Financial cost types yet, why don't you <a href="/#!/financial-cost-types/create">create one</a>?
    </div>
</section>