<section data-ng-controller="MaturityManagementController as parentCtrl" data-ng-init="parentCtrl.init()">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-heading" style="padding: 0">
                <ol class="breadcrumb">
                    <li>Evaluation</li>
                    <li>Review and Improvement</li>
                    <li class="active">Maturity assessments</li>
                </ol>
            </div>
        </div>
    </div>
    <div data-ng-show="parentCtrl.error" class="text-danger">
        <strong data-ng-bind="parentCtrl.error"></strong>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                        Maturity dimensions
                    </h6>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12" style="margin-bottom: 1px">
                            <select class="form-control input-sm" data-ng-model = "parentCtrl.selectedMaturityModel"
                                    data-ng-options="model as model.name for model in parentCtrl.maturityModels">
                                <option value="">--Select maturity model</option>
                            </select>
                        </div>
                    </div>
                    <hr style="margin: 5px">
                    <div class="row">
                        <div class="col-xs-12" style="margin-bottom: 1px">
                            <select class="form-control input-sm" data-ng-model = "parentCtrl.dimensionFilter.level"
                                    data-ng-options="level._id as level.name for level in parentCtrl.selectedMaturityModel.levels">
                                <option value="">--filter by level</option>
                            </select>
                        </div>
                        <div class="col-xs-12" style="margin-bottom: 1px">
                            <select class="form-control input-sm" data-ng-model = "parentCtrl.dimensionFilter.area"
                                    data-ng-options="area._id as area.name for area in parentCtrl.selectedMaturityModel.areas">
                                <option value="">--filter by area</option>
                            </select>
                        </div>
                    </div>
                    <hr style="margin: 5px">
                    <div class="row" style="min-height: 375px; max-height: 375px; overflow-y: auto;">
                        <div class="col-md-12">
                            <button class="btn btn-default btn-block text-center"
                                    data-ng-repeat="dimension in parentCtrl.selectedMaturityModel.dimensions | filter: {level: (!!parentCtrl.dimensionFilter.level || undefined) && parentCtrl.dimensionFilter.level, area: (!!parentCtrl.dimensionFilter.area || undefined) && parentCtrl.dimensionFilter.area}"
                                    data-ng-click="parentCtrl.selectDimension(dimension)"
                                    data-ng-disabled="parentCtrl.isResolving"
                                    style="overflow: hidden">
                                <span>{{dimension.name}}</span>
                            </button>
                            <div class="alert alert-warning text-center" data-ng-show="parentCtrl.maturityModels.length === 0">
                                <span>There are no maturity models created yet</span>
                            </div>
                            <div class="alert alert-warning text-center" data-ng-show="!parentCtrl.selectedMaturityModel && parentCtrl.maturityModels.length !== 0">
                                <span>Select a maturity model to see its dimensions</span>
                            </div>
                            <div class="alert alert-warning text-center" data-ng-show="parentCtrl.selectedMaturityModel && !parentCtrl.selectedMaturityModel.dimensions.length">
                                <span>No dimensions for this maturity model</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="alert alert-warning text-center" data-ng-show="!parentCtrl.selectedDimension && parentCtrl.selectedMaturityModel.dimensions.length">
                Select a maturity dimension to see its details
            </div>
            <div class="panel panel-default" data-ng-show="parentCtrl.selectedDimension">
                <div class="panel-heading">
                    <h6 class="panel-title text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                        {{parentCtrl.selectedDimension.name}}
                    </h6>
                </div>
                <div class="panel-body" style="max-height: 520px; min-height: 520px; overflow-y: auto">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default">

                                <div class="panel-body">
                                    <form class="form" novalidate>
                                        <div class="row">
                                            <div class="form-group col-xs-4">
                                                <label for="currentScore">Score</label>
                                                <select id="currentScore" class="form-control input-sm" data-ng-model = "parentCtrl.selectedDimension.maturityReview.currentRecord.score"
                                                        data-ng-options="score._id as score.name for score in parentCtrl.projectReviewScores"
                                                        data-ng-disabled="!parentCtrl.dimensionEdit[parentCtrl.selectedDimension._id]" required>
                                                    <option value="">No score</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <label for="currentComment">Comment</label>
                                                    <textarea id="currentComment" class="form-control"
                                                              data-ng-model="parentCtrl.selectedDimension.maturityReview.currentRecord.comment"
                                                              data-ng-disabled="!parentCtrl.dimensionEdit[parentCtrl.selectedDimension._id]"></textarea>
                                            </div>
                                        </div>
                                        <div class="pull-right" data-ng-show="parentCtrl.userHasAuthorization(parentCtrl.userData) && !parentCtrl.dimensionEdit[parentCtrl.selectedDimension._id]">
                                            <button class="btn btn-success btn-sm" data-ng-click="parentCtrl.dimensionEdit[parentCtrl.selectedDimension._id] = true">
                                                Edit
                                            </button>
                                        </div>
                                        <div class=" pull-right" data-ng-show="parentCtrl.dimensionEdit[parentCtrl.selectedDimension._id]">
                                            <button type="button" class="btn btn-sm btn-success" data-ng-click="parentCtrl.saveEditDimension(parentCtrl.selectedMaturityModel, parentCtrl.selectedDimension)"
                                                    data-ng-disabled="parentCtrl.editDimensionForm.$invalid || parentCtrl.isResolving">
                                                Save
                                            </button>
                                            <button type="button" class="btn btn-sm btn-info" data-ng-click="parentCtrl.cancelEditDimension(parentCtrl.selectedDimension)"
                                                    data-ng-disabled="parentCtrl.isResolving">
                                                Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-ng-show="parentCtrl.selectedDimension.maturityReview.history.length !== 0">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <span>History</span>
                                </div>
                                <div class="panel-body">
                                    <div data-ng-repeat="review in parentCtrl.selectedDimension.maturityReview.history">
                                        <div class="row">
                                            <div class="form-group col-xs-5">
                                                <select class="form-control input-sm" data-ng-model = "review.score"
                                                        data-ng-options="score._id as score.name for score in parentCtrl.projectReviewScores" disabled>
                                                    <option value="">No score</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-xs-3 small">
                                                <span><em>By:</em></span>&nbsp;
                                                <span>{{review.user.displayName}}</span>
                                            </div>
                                            <div class="form-group col-xs-3 small">
                                                <span><em>On:</em></span>&nbsp;
                                                <span>{{review.created | date:'EEE d, MMM yyyy'}}</span>
                                            </div>
                                            <div class="form-group col-xs-1">
                                                <button class="btn btn-info btn-xs"
                                                        data-ng-click="parentCtrl.showHistoryComment[review._id] = !parentCtrl.showHistoryComment[review._id]">
                                                    <span class="glyphicon glyphicon-info-sign"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row" data-ng-show="parentCtrl.showHistoryComment[review._id]">
                                            <div class="form-group col-xs-12">
                                                <textarea class="form-control" data-ng-model="review.comment" placeholder="No comment available" disabled></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
