<section data-ng-controller="ChangeRequestStatesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Change request states</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="changeRequestState in changeRequestStates" data-ng-href="#!/change-request-states/{{changeRequestState._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="changeRequestState.created | date:'medium'"></span>
				by
				<span data-ng-bind="changeRequestState.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="changeRequestState.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!changeRequestStates.$resolved || changeRequestStates.length">
    	No Change request states yet, why don't you <a href="/#!/change-request-states/create">create one</a>?
    </div>
</section>