<section data-ng-controller="CategorizationOverviewController" data-ng-init="init()">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-heading">
				<ol class="breadcrumb">
					<li>Portfolio definition</li>
					<li>Categorization</li>
					<li class="active">Categorization overview</li>
				</ol>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-sm-3"><!-- PORTFOLIO LIST -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title text-center">Portfolio tree</h6>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning text-center" data-ng-hide="!portfolios.$resolved || portfolios.length">
                        No portfolios yet
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-default btn-sm btn-info" style="min-width:50px; max-width: 150px; overflow:hidden; margin: 2%;"
                                    data-ng-click="selectPortfolio('all')">
                                All
                            </button>
                            <button class="btn btn-default btn-sm btn-warning" style="min-width:50px; max-width: 150px; overflow:hidden; margin: 2%;"
                                    data-ng-click="selectPortfolio('unassigned')">
                                Unassigned
                            </button>
                        </div>
                    </div>
                    <hr style="margin: 5px">
                    <div class="row" style="min-height: 470px;  max-height: 470px; overflow-y: auto;">
                        <div class="col-md-12">
                            <script type="text/ng-template" id="portfolioTree">
                                <button class="btn btn-default btn-sm" data-ng-click="selectPortfolio(tree.node);"
                                        style="min-width:50px; max-width: 150px; overflow:hidden; margin: 2%;">
                                    <span data-ng-bind="tree.node.name"></span>
                                </button>
                                <ul data-ng-if="tree.nodeTrees" style="list-style: none;">
                                    <li data-ng-repeat="tree in tree.nodeTrees track by $index " >
                                        <span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
                                    </li>
                                </ul>
                            </script>
                            <ul style="margin-left: 2%; padding-left: 2%; list-style: none;">
                                <li data-ng-repeat="tree in portfolioTrees track by $index" >
                                    <span data-ng-include="'portfolioTree'" style="display:block; margin-left:-0.5em;"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-md-12">
                    <div data-ng-hide="selectedPortfolio || portfolios.length === 0" class="alert alert-warning text-center">
                        Select a portfolio to see its details
                    </div>
                </div>
            </div>
            <div class="row" data-ng-show="selectedPortfolio">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 100%;">
                            <h6 class="panel-title">{{selectedPortfolio.name}}</h6>
                        </div>
                        <div class="panel-body">
                            <div class="row" data-ng-show="!projectCategorizationView.length">
                                <div class="col-md-12">
                                    <div class="alert alert-warning text-center">
                                        There are no assignments for this portfolio
                                    </div>
                                </div>
                            </div>
                            <div data-ng-show="projectCategorizationView.length">
                                <div class="row">
                                    <div class=" form-group-sm col-md-5">
                                        <select id="selectSourcePortfolio" class="form-control input-sm" data-ng-model="filterCategorization.group"
                                                data-ng-options="group.name for group in categoryGroups" data-ng-disabled="!!filterCategorization.category">
                                            <option value="">--Filter by category group</option>
                                        </select>
                                    </div>
                                    <div class="form-group-sm col-md-5">
                                        <select id="projectPortfolio" class="form-control" data-ng-model = "filterCategorization.category"
                                                data-ng-options="category.name for category in filterCategorization.group.categories">
                                            <option value="">--Filter by category</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style="max-height: 445px; min-height: 445px; overflow-y: auto;">
                                    <div class="col-md-12">
                                        <div class="table-responsive" data-ng-show="projectCategorizationView.length">
                                            <table class="table table-hover table-bordered table-condensed small">
                                                <thead>
                                                <tr>
                                                    <th>Category group</th>
                                                    <th>Category</th>
                                                    <th>
                                                        <span>Category value</span>
                                                    </th>
                                                    <th colspan="2">
                                                        <span>N. of projects</span>
                                                        <button class="btn btn-xs" data-ng-click="orderTable = 'countCategoryValue'">
                                                            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                                        </button>
                                                    </th>
                                                    <th colspan="2">
                                                        <span>Earmarked funds</span>
                                                        <button class="btn btn-xs" data-ng-click="orderTable = 'fundsCategoryValue'">
                                                            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                                        </button>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="catObj in projectCategorizationView | orderBy : orderTable : true
                | filter : (!!filterCategorization.group || undefined) && {group:{_id: filterCategorization.group._id}}
                | filter : (!!filterCategorization.category || undefined) && {category:{_id: filterCategorization.category._id}}">
                                                    <td>{{catObj.group.name}}</td>
                                                    <td>{{catObj.category.name}}</td>
                                                    <td data-ng-show="catObj.categoryValue">{{catObj.categoryValue.name}}</td>
                                                    <td data-ng-show="!catObj.categoryValue"><span class="text-muted">Unassigned</span></td>
                                                    <td>
                                                        <button tooltip-html-unsafe="{{tooltipView}}" tooltip-trigger="focus" class="btn btn-link" data-ng-click="createTooltipView(catObj.projects)">
                                                            {{catObj.countCategoryValue | number : 0}}
                                                        </button>
                                                    </td>
                                                    <td>{{catObj.countCategoryValueRatio * 100 | number : 1}}%</td>
                                                    <td>{{catObj.fundsCategoryValue | number : 0}}</td>
                                                    <td>{{catObj.fundsCategoryValueRatio * 100 | number : 1}}%</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
